@charset "utf-8";
*{ margin:0px; padding:0px;font-family:Arial, Helvetica, sans-serif;}
body{ background-image:url(../images/bg.gif); background-repeat:repeat; font:normal 12px normal Arial,Helvetica,sans-serif;}
.main {width: 1050px; margin:auto; padding:0px; margin-top:30px; }
.top{ background-image:url(../images/top.png); height:10px; background-repeat:no-repeat;}
.mid{background-image:url(../images/cen-bg.png); background-repeat:repeat-y;}
.bott{ background-image:url(../images/bott.png); height:10px; background-repeat:no-repeat;}
.mid .inn{ width:1024px; margin:auto; padding:0px;}
/*header*/
#header{ width:1024px; }
.logo{ width:578px; float:left; height:67px; }
.logo a{ display:block;width:578px;height:67px; background-image:url(../images/logo.gif);}
.top-left-outer{ width:164px; float:left; margin-right:50px;}
.loginvi-outer{ width:232px; float:right;}
.text-logo{ background:url(../images/text-logo.png) no-repeat; width:162px; height:48px; border:1px #f0f0f0 solid;}
.date-time{ width:232px; font:normal 10px normal Arial,Helvetica,sans-serif; color:#000000;}
.loginvi{ width:162px; height:51px; float:right; border:1px #f0f0f0 solid;}
.signin-name-outer{ width:232px; float:right;}
.signin-name{ width: 100px; font:normal 8px normal Arial,Helvetica,sans-serif; float:left;}
.signin-name p{ color:#999999; display:inline; margin:0; padding:0;}
.signin-name b{color:#000000; margin:0; padding:0;}
.signout{ float:left; width:auto; }
.signout ul{ float:right; }
.signout ul li{ list-style:none; font:normal 10px normal Arial,Helvetica,sans-serif; color:#996600; text-decoration:none; padding-right:5px; float:left; padding-left:5px;}
.signout ul li a{ list-style:none; font:normal 10px  normal Arial,Helvetica,sans-serif; color:#996600; text-decoration: none;}
.signout ul li a:hover{ color:#333333;}


.clr{ clear:both;}
/*menu*/
#menu{ width:1024px; margin-top:6px;}
.search{ width:336px;background:url(../images/m-bg.gif) repeat-x;height:32px;float:left; padding-top:4px;}
.search div{ padding-top:1px;}
.searchbox{ width:336px;}
.searchtext{ width:130px; float:left; font-family:normal Arial,Helvetica,sans-serif; font-size:11px; margin-top:2px;}
.searchtext input{ width:130px; font-family:normal Arial,Helvetica,sans-serif; font-size:11px;}
.searchr{float:left; font-family:normal Arial,Helvetica,sans-serif; font-size:11px; margin-left:5px;}
.slab{ float:left; padding-top:1px; margin-left:2px; line-height:15px; }
.slab_ie{ float:left; padding-top:0px; margin-left:2px; line-height:0px; }
.stext{ float:left;padding-top:1px;margin-left:2px; }
.searchbut{ cursor:pointer;}

.men{ width:508px;background:url(../images/m-bg.gif) repeat-x;height:32px; margin:0px 8px 0px 8px;float:left; padding-top:1px; text-align:center}
.edition{ width:164px;background:url(../images/m-bg.gif) repeat-x;height:32px;float:left; }
.edition div{padding:5px 0px 4px 0px;font:12px/21px  normal Arial,Helvetica,sans-serif;}
.edition select{ width:115px; margin-left:5px; font-size:11px; font-family:normal Arial,Helvetica,sans-serif; font-weight:normal;padding:2px;}
.black11{ font-family:normal Arial,Helvetica,sans-serif; color:#000000; font-size:10px; text-decoration:none; }
.btex{ margin-top:10px; text-align:center;}
/*content*/
.contarea{ width:1024px; padding-top:20px; padding-bottom:20px;}
.contarea-make-donation{ width:1024px; padding-top:20px; padding-bottom:200px;}

/*cont-left*/
.page-searchquestion .commu{ width:478px;float:left; border:2px #cccccc solid;  min-height:544px}
.commu{ width:336px;float:left; border:1px #cccccc solid;  min-height:544px}
.commutop{ height:59px; background-color:#8f8f8f;padding:5px; font:16px/25px   normal Arial,Helvetica,sans-serif; color:#fff;}
.commutop select{width:150px; font-size:11px; font-family:normal Arial,Helvetica,sans-serif; font-weight:normal; padding:2px;}
.commu .inner{ width:325px; margin:auto; padding:0px;}

.inner  h3{ font:12px/21px normal Arial,Helvetica,sans-serif; color:#3F3F3F}
.innerbox{ border:1px #cccccc solid; height:103px; margin-bottom:10px; padding:2px; overflow:auto; font:14px/21px  normal Arial,Helvetica,sans-serif; color:#996600;}
.innerbox_notify{ border:1px #cccccc solid; height:250px; margin-bottom:10px; padding:2px; overflow:auto; font:14px/21px  normal Arial,Helvetica,sans-serif; color:#996600;}
.innerbox a{font-size:14px/21px; color:#996600;}
/*cont-center*/
.ques{ width:502px;float:left;padding:0px 0px 0px 10px;}
.questop{ background-image:url(../images/c-top.gif); background-repeat:no-repeat; height:34px; font:17px/33px   normal Arial,Helvetica,sans-serif; color:#000; padding-left:10px; border-bottom:1px #BDBDBD solid;}
.questopl{ width:370px; float:left;}
.questopr{ width:130px; float:left;}
.quesbg{ background-image:url(../images/c-bg.gif); background-repeat:repeat-y; padding:10px;  min-height:485px; }
.quesbott{ background-image:url(../images/c-bottom.gif); height:13px; background-repeat:no-repeat;}
.ques h2{font:18px/25px   normal Arial,Helvetica,sans-serif; color:#4170a0; }
.quesinner{ border-right:0px #ccc solid; width:90px; float:left; margin-right:5px;}
.quesinnerr{ width:400px;float:left; font:12px/21px  normal Arial,Helvetica,sans-serif;}
.quesin{ padding:10px 0px 40px 0px; }
.quesin ul{ margin:0px; padding:0px;}
.quesin li{ list-style:none;float:left; padding-left:9px; font-family:normal Arial,Helvetica,sans-serif; color:#996600; font-size:9px; line-height:20px; }
.quesin li a{ color:#996600; text-decoration:none;}
.quesin li a:hover{ color:#000; text-decoration:underline;}
/*cont-right*/
.fact{ width:162px;float:left;border:1px #cccccc solid; margin-left:7px;}

.sitetour{ width:162px; margin-bottom:10px; border-bottom:1px #cccccc solid;}
.sitetour img:hover{ opacity:0.7;}

.facttop{font:16px/25px   normal Arial,Helvetica,sans-serif; color:#fff; background-color:#8f8f8f; padding:3px;text-align:left;}
.facttop2{font:14px/25px   normal Arial,Helvetica,sans-serif; color:#fff; background-color:#8f8f8f; padding:3px;text-align:center;}
.fact1{ width:65px; margin:7px; float:left;font:14px  normal Arial,Helvetica,sans-serif; color:#996600; text-align:center; }
.factblu{ width:65px; margin:7px; float:left;font:14px  normal Arial,Helvetica,sans-serif; color:#336699; text-align:center;}
.facttext{ font:14px/21px  normal Arial,Helvetica,sans-serif; color:#333333; padding-bottom:5px; }
.factmore a{font:14px/21px  normal Arial,Helvetica,sans-serif; color:#996600; text-decoration:none;}
.factmore a:hover{font:14px/21px  normal Arial,Helvetica,sans-serif; color:#000; text-decoration:none;}
.facttext2{ font:14px/21px  normal Arial,Helvetica,sans-serif; color:#666666; padding:5px; }


.welcome{ width:300px; float: right; font-family:normal Arial,Helvetica,sans-serif; font-size:11px; text-align:right;}
.welcome a{font-family:normal Arial,Helvetica,sans-serif; font-size:11px; color:#CC6600; text-decoration:underline;}
.welcome a:hover{ text-decoration:none;}

/*profile part*/
.profile_part{ width:1012px; border:1px solid #ededed; margin:0 auto; padding:5px; font:normal 12px normal Arial,Helvetica,sans-serif; color:#000;overflow: hidden;}
.rht_link{ float:right; font:normal 11px normal Arial,Helvetica,sans-serif;}
.rht_link a{ font:normal 12px normal Arial,Helvetica,sans-serif; color:#727171; text-decoration:none;}
.rht_link a:hover{ color:#000;}
span.separate{ margin:0 10px; color:#727171;}
.bor_bot{border-bottom:1px solid #000; margin-bottom:5px;}
.profile_lft{ float:left; width:600px;}
.profile_rht{ float:right; width:400px;}
.pro_row{ border-bottom:1px solid #000; padding-bottom:5px;}
.profile_pict{ float:left; width:135px; height:145px; border:1px solid #ededed; margin-right:15px; background:#EDEDED; text-align:center;}
.profile_desc{ float:left; font:normal 11px normal Arial,Helvetica,sans-serif; color:#000; line-height:25px; color:#000;}
.profile_rht h4{ font:bold 14px normal Arial,Helvetica,sans-serif; color:#535252;}
.profile_rht ul{ margin:0px 0 0 15px; padding:0px;}
.profile_rht ul li{ list-style-type:none; margin:5px 0;}
.profile_rht ul li a{ color:#000; text-decoration:none; font:normal 12px normal Arial,Helvetica,sans-serif; color:#727171;}
.profile_rht ul li img{ margin-right:5px;}
.profile_rht ul li a:hover{ text-decoration:none; font:normal 12px normal Arial,Helvetica,sans-serif; color:#996600; text-decoration:underline;}

.face_book{ width:277px; float:left; margin-top:20px;}
.face_book h4{ margin-bottom:5px;}
.face_book a{ font:bold 12px normal Arial,Helvetica,sans-serif; color:#000; text-decoration:none; float:left; line-height:30px;}
.face_book a:hover{ color:#7f5500;}
.face_book span{ float:left; color:#000; margin:5px 18px 0 18px;}
.face_book a img{ margin-right:12px; text-decoration:none;}
img{ border:none;}
.pro_row h4{ margin:5px 0; color:#7f5500;}
.pro_row ul{ margin-left:25px;}
.pro_row ul li{ margin:5px 0; line-height:20px;}
.pro_row li a{ color:#996600; text-decoration:none;}
.pro_row li a:hover{ text-decoration:underline;}
/* facts and figures*/

.fa-item{ width:162px; padding:10px;}
.fa-item ul{ padding:0px; margin:0px;}
.fa-item ul li{ list-style:none; font:bold 14px normal Arial,Helvetica,sans-serif; color:#996600; text-decoration:none; background:none; padding-left:10px;}
.fa-item ul li a{ font:normal 14px normal Arial,Helvetica,sans-serif; color:#CC6600; text-decoration:none; padding-left:10px;}
.fa-item ul li a:hover{ background: url(../images/bullet.png) no-repeat 0 0px; font:normal 14px normal Arial,Helvetica,sans-serif; color:#4e7aa6; text-decoration:none;padding-left:10px;}
/*tag section*/
.tag{ font:normal 9px normal Arial,Helvetica,sans-serif; color:#996600; padding-left:9px;}
.tag span{ color:#000;}

/*Share flag section-top of the script*/
.sharing-section{ width:484px; border-top:1px #cccccc solid; border-bottom:1px #cccccc solid; padding:0 0 5px 0; height:26px; font: normal 10px  normal Arial,Helvetica,sans-serif; color:#996600; }
.paddi40{padding-bottom:40px;}
.sharing-section .share1{ background:url(../images/share1-bg.png)  no-repeat 0px center; height:24px; width:130px; float:left;padding-top:7px;}
.sharing-section .share1 span{}
.sharing-section .share1 img{ margin-top:4px; margin-left:6px;}
.sharing-section .share1 img:hover{ opacity:0.7;}
.sharing-section .share2{ background:url(../images/share2-bg.png)  no-repeat 0px center; height:24px; width:88px; float:left; margin-left:3px; text-align:center; padding-top:7px;}
.sharing-section .share3{ background:url(../images/share3.png)  no-repeat 0px center; height:24px; width:58px; float:left; margin-left:3px; text-align:center;padding-top:7px;}


/*footer satrt*/
.footer{ width:1050px; background:#666666; height:36px;  margin:0 auto; margin-top:13px; margin-bottom:13px;}
.footer .copy{ float:left; width:150px; font: normal 11px Arial, Helvetica, sans-serif; color:#ffffff; padding:10px 0px 0px 20px;}
.footer .menu{ float:left; width:350px; padding-top:10px; margin-left:350px;}
.footer .menu ul{margin:0; padding:0; padding-left:10px;}
.footer .menu ul li{float:left; padding-left:5px; list-style:disc; font:normal 11px Arial, Helvetica, sans-serif; color:#ffffff; text-decoration:none; padding-right:30px;} 
.footer .menu ul li a{float:left; padding-left:5px;  font:normal 11px Arial, Helvetica, sans-serif; color:#ffffff; text-decoration:none; padding-left:0px; list-style:disc;}
.footer .menu ul li a:hover{float:left; padding-left:5px;font:normal 11px Arial, Helvetica, sans-serif; color:#ffffff; text-decoration:underline; padding-left:0px; list-style:disc;}
.listnone{ list-style:none;}
.footer-icon-outer{float:right; width:175px; margin-top:8px;}
.footer-icon-outer img{ margin-right:4px; float:right;}
/*hover*/
.share-link{ font: normal 11px normal Arial,Helvetica,sans-serif; color:#996600; text-decoration:none;}
.share-link:hover{ color:#000000;text-decoration: none; }
/* blocks*/
#block-sitetour{ padding:0; margin:0;}
#block-1{}
#block-2{}
#block-3{}



/*serarch results page */

/*.inner-page-cont{border: 2px #666666 solid; min-height:600px; height:auto !important; height:600px; width:370px; float:left; margin-left:2px; margin-right:2px;}*/
/*.minheight544{ min-height:544px; height:auto !important; height:544px;border: 2px #666666 solid;width:510px; float:left; margin-left:2px; margin-right:2px;}*/
.inner-commutop{ height:29px; background-color:#8f8f8f;padding:5px; font:16px/25px   normal Arial,Helvetica,sans-serif; color:#fff;}
.black11{ font:normal 10px normal Arial,Helvetica,sans-serif; color:#000000; padding:5px;}
.sharing-width{ width:260px; border:none; margin:5px;}
.sharing-margin{ margin:5px;}
.sidelinks{ font:normal 11px normal Arial,Helvetica,sans-serif; color:#996600; text-decoration:none;}
.sidelinks:hover{ color:#4a3202; text-decoration:underline;}
.black12{ font:normal 12px normal Arial,Helvetica,sans-serif; color:#000000;}
.padding10{ padding:10px;}
.listmenu{ width:130px; margin-top:5px;}
.listmenu .listbox{ width:130px; font:normal 10px normal Arial,Helvetica,sans-serif; color:#000000; height:18px;}
.minheight{ min-height:495px; height:auto !important; height:495px;}

.result-item{ width:370px; border-top:1px #dfdfdf solid;}
.result-item .rleft{ float:left; display:block; height: 448px;}
.result-item .titl a{ font:normal 14px normal Arial,Helvetica,sans-serif; color:#996600; padding:10px 10px;}
.result-item .rleft .item1{ font: normal 11px normal Arial,Helvetica,sans-serif; color:#000000; padding:0 0 0 10px;}
.result-item .rright{ font: normal 11px normal Arial,Helvetica,sans-serif; color:#000000; float:right;}
.result-item .rright .vote-post-outer{ width:110px; float:right; margin:30px 0 0 100px;}
.result-item .rright .vote-post-outer-top{ width:110px; }
.result-item .rright .vote-post-outer-bottom{ width:110px ;}
.result-item .rright .vote-post-outer-bottom .vot-t{ width:45px; float:left;padding:3px;}
.result-item .rright .vote-post{ width:45px; height:24px; background-color:#000000; font: normal 16px normal Arial,Helvetica,sans-serif; color:#ffffff; float:left; margin:3px; text-decoration:none;}
.result-item .rright .vote-post:hover{ width:45px; background:#996600; font: normal 16px normal Arial,Helvetica,sans-serif; color:#ffffff; text-decoration:none;}
/*search result page2*/
.result-item .first-col{ width:80px; float:left;}
.result-item .photo{ background:#999999 ; width:70px; height:70px; margin:10px;}
.result-item .second-col{ float:left; width:300px; padding-top:10px; padding-left:10px;}
.result-item .second-col .textouter{ width:200px;}
.result-item .second-col .grayt{ font:normal 11px normal Arial,Helvetica,sans-serif; color:#666666; float:left;}
.result-item .second-col .blakt{ font:normal 11px normal Arial,Helvetica,sans-serif; color:#000000; float:left;}
.width200{ width:400px; border:none;}

/* search result step2*/
.outer-foll{ width:336px; margin-left:10px;}
.outer-foll .navig{ width:336px;}
.outer-foll .navig ul{ float:left;}
.outer-foll .navig ul li{ list-style:none; font: normal 11px normal Arial,Helvetica,sans-serif; color:#996600; text-decoration:none; padding-right:2px; float:left; padding-left:2px;}
.outer-foll .navig ul li a { list-style:none; font: normal 11px normal Arial,Helvetica,sans-serif; color:#996600; padding-right:2px; text-decoration:none;padding-left:2px;}
.outer-foll .navig ul li a:hover{ list-style:none; font: normal 11px normal Arial,Helvetica,sans-serif; color:#000000;padding-right:2px; text-decoration:none;padding-left:2px;}
.outer-foll .left-contd{ float:left;}
.outer-foll .left-contd .bio-box{ width:135px; border:1px #cccccc solid; background-color:#f8f5ed; font:normal 11px normal Arial,Helvetica,sans-serif; color:#000000; margin:3px; padding:5px;}
.outer-foll .left-contd  .followers{ width:165px; font: normal 11px normal Arial,Helvetica,sans-serif; color:#000000;}
.outer-foll .left-contd  .followers .thumb{ width:20px; height:20px; background-color:#999999; margin:3px; float:left;}

.outer-foll .right-contd{ float:left;}
.outer-foll .right-contd .links-box{ width:135px; border:1px #cccccc solid; background-color:#f8f5ed; font:normal 10px normal Arial,Helvetica,sans-serif; color:#996600; margin:3px; padding:5px; text-decoration:none;}
.links{ font:normal 10px normal Arial,Helvetica,sans-serif; color:#996600; text-decoration:none;}
.links:hover{ font: normal 10px normal Arial,Helvetica,sans-serif; color:#000000;}
.outer-foll .right-contd  .following{ width:165px; font: normal 11px normal Arial,Helvetica,sans-serif; color:#000000;}
.outer-foll .right-contd  .following .thumb2{ width:20px; height:20px; background-color:#999999; margin:3px; float:left;}

/*make a donation*/
.do-in{ width:670px;border:3px #666666 solid;  min-height:335px; margin:0 auto;}
.do-in span{ color:#996600;}
.do-intop{ height:26px; background-color:#8f8f8f;padding:5px; font:16px/25px   normal Arial,Helvetica,sans-serif; color:#fff;}
.do-in .inside{ font: normal 11px normal Arial,Helvetica,sans-serif; color:#000000; padding:5px 10px;}
.row1{ width:670px;}
.lin1{width:50px; float:left; font-family:normal Arial,Helvetica,sans-serif;}
.lin2{ width:70px; float:left; font-family:normal Arial,Helvetica,sans-serif; margin-left:5px;}
.lin2 .texwidth{ width:70px;}
.textbox-lengthy{ width:500px; font: normal 11px normal Arial,Helvetica,sans-serif; color:#000000; margin:3px 0px; }
.do-in .donate{ float:left; width:150px; margin:15px 0 15px 0;}

/*profile page new*/


.commu-profile{ width:1013px;float:left; border:1px #cccccc solid;  min-height:564px; height:auto !important ; height:564px;}

.profile-left{ width:177px; float:left;}
.profile-right{ width:800px; float:left; padding-left:10px;}
.profile-right ul{ margin:0px; padding:0px;}
.profile-right li{ float:left;list-style:none;color:#996600; padding-top:0px;}
.profile-lefthm{ width:169px; float:left; border:1px solid #b7b7b7; padding:10px;}


.inner2{ padding:10px;}
.profile-tab{ width:1005px; margin-top:5px;}
.profile-img{ /*width:156px; background-image:url(../images/user.jpg);*/ height:56px; background-repeat:no-repeat;}
/*.profile-con{ width:87px; float:right; padding:3px;}*/
.profile-img{ width:156px;height:56px; background-repeat:no-repeat; background-color:#f8f5ee; border:1px solid #666666;}
.profile-imgs{ float:left;}
.profile-con{ width:87px; float:left; padding:3px;}
.profile-con ul{ margin:0px; padding:0px;}
.profile-con li{ list-style:none; float:left; padding-left:2px;}
.profile-gray{ color:#666666; font-size:12px; }
.p-foll{ width:180px; float:left;margin-right:10px; padding-top:10px;}
.p-foll img{ border:1px #9e9ea1 solid; margin:1px}
.history-tab{ height:300px; overflow:auto;}
.tab-history{ border-bottom:1px #e5e5e5 solid; padding-bottom:5px; }
.tab-historyspan1{ color:#666666;}
.tab-historyspan2{ color:#000000;padding-left:20px;}
.tab-historyspan3{ color:#996600;padding-left:30px;}
.tab-historyspan4 a{ color:#000000; text-decoration:none}
.tab-historyspan4 a:hover{ color:#000000; text-decoration:underline}
.tab-historyspan5 a{ color:#996600;padding-left:30px;text-decoration:none}
.tab-historyspan5 a:hover{ color:#996600;text-decoration:underline;}

.hm-left{ width:260px; float:left; padding-right:10px;}
.hm{ width:480px; height:300px; overflow:scroll;}
.black12{ font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#858585;}
.black12 a{ font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#858585; text-decoration:none;}
.black12 a:hover{ font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#858585; text-decoration:underline;}
.page-n{ color:#cc9900; font-size:12px; font-family:Arial, Helvetica, sans-serif; text-align:center; border-top:1px solid #000; padding-top:10px;}
.page-n ul{ width:400px; padding-left:150px;}
.page-n li{ float:left; list-style:none; padding-left:10px; padding-bottom:10px;}
.page-n li a{color:#cc9900; text-decoration:none;}
.page-n li a:hover{color:#000;text-decoration:none;}

.page-n2 ul{ width:300px; padding-left:40px;}
.page-n2 li{ float:left; list-style:none; padding-left:10px; padding-bottom:10px; padding-top:10px;}
.page-n2 li a{color:#cc9900; text-decoration:none;}
.page-n2 li a:hover{color:#000;text-decoration:none;}
.page-n2 a{color:#cc9900; text-decoration:none;}
.page-n2 a:hover{color:#000;text-decoration:none;}
.pun{ margin:0px; }

.pun ul{ margin:0px; padding-bottom:10px;}
.pun li{ float:left; list-style:none; border:1px #666666 solid; margin-left:1px;}
.hm-cen-pun{ border:1px solid #ccc; padding:1px; padding-top:10px;}



/*Edited for developer purposes*/
a{ text-decoration:none; color:#996600; font:  normal Arial,Helvetica,sans-serif;outline:none;}
a:hover{ text-decoration:underline;}
.cmt_list { border:1px #cccccc solid;  margin-bottom:10px; padding:2px;  display:block; line-height:20px; font:14px/21px  normal Arial,Helvetica,sans-serif; color:#996600;}
.innerbox ul li{ list-style:none;}
#loading{ 
-x-system-font:none; 
background-color:#C23A2F;
color:#FFFFFF; 
font-family:Arial;
font-size:12px;
font-size-adjust:none;
font-stretch:normal;
font-style:normal;
font-variant:normal;
font-weight:bold;
height:20px;
display:none;
line-height:normal;
padding:3px 2px 0 7px;
position:fixed;
top:0px; left:150px;
width:65px; height:20px;
z-index:1000; -moz-border-radius:5px;
}
.men a{ font:normal 14px normal Arial,Helvetica,sans-serif; color:#996600; text-decoration:none; margin-right:5px;}
.men li{ background:url(../images/list_bullet.jpg) no-repeat left 9px; padding-left:10px; text-transform:uppercase; list-style:none; float:left;}
.men a:hover{ font:normal 14px normal Arial,Helvetica,sans-serif;color:#4C4C4C; text-decoration:none; margin-right:5px;}
.messages{ width:100%; display:block; clear:both; border-color:#CC6600; overflow:hidden;}
.error{
	background: #fff6bf url(bioneural/exclamation.png) 15px center no-repeat;
	text-align: left;
	padding: 5px 20px 5px 45px;
	border-top: 2px solid #ffd324;
	border-bottom: 2px solid #ffd324; color:red; font-family:normal Arial,Helvetica,sans-serif; font-weight:bold;
	}
	
.status
{
color:#529214;
font-family:Verdana, normal Arial,Helvetica,sans-serif;
font-weight:bold;
padding: 5px 20px 5px 45px;
	border-top: 2px solid #ffd324;
	border-bottom: 2px solid #ffd324;
}
/*input[type=button],input[type=submit] {
border:1px solid #D5D5D5; 
color:#6B6D67;
font-family:normal Arial,Helvetica,sans-serif; font-weight:bold;
font-size:11px; cursor:pointer;
padding:0px;}*/

.notice,.success{

background: #F8FFF0 url(bioneural/exclamation.png) 15px center no-repeat;
	text-align: left; color:#A0DC11; 
	padding: 5px 20px 5px 45px;
	border-top: 2px solid #A0DC11;
	border-bottom: 2px solid #A0DC11;
font-family:normal Arial,Helvetica,sans-serif; font-weight:bold;
}


#showboxcmt{
 float: right;
 position: absolute; z-index:4;
 opacity: .8;
 /* For IE 5-7 */
 filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
 /* For IE 8 */
 -MS-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
 -moz-border-radius-bottomleft:5px;
-moz-border-radius-bottomright:5px;
-moz-border-radius-topleft:5px;
-moz-border-radius-topright:5px;
background:#FFFFFF none repeat scroll 0 0;
border:1px solid #AAAAAA;
margin:2px 2px 10px;
padding:5px; line-height:20px;
  }
#showboxcmt textarea{
	
	 font-size:12px; width:auto; overflow:visible; border-style:groove; border-width:2px;
}
.badge1, .badge2, .badge3 {
background-position:-40px -1034px;
display:inline-block;
height:11px;
line-height:inherit;
margin:0 1px 1px 3px;
overflow:hidden;
vertical-align:text-bottom;
width:6px;
}

.badgecount {
color:#808185;
padding-left:1px;
}

.reputation-score {
color:#444444;
font-size:120%;
/*font-weight:bold;*/
margin-right:2px;
}

.gold {
	background-color:#ffd324;	
}
.silver {
	
	background-color:#C0C0C0;
}
.bronze {
	background-color:#CC6600;
	
}

.factbottom{

    margin: 0px;background-color:#8F8F8F;
color:#FFFFFF; display: block;padding-bottom: 10px;
}
.factbottom select{width:150px; font-size:11px; font-family:normal Arial,Helvetica,sans-serif; font-weight:normal; padding:2px;}
/*VIJAY*/

.pun ul{ margin:0px; padding-bottom:78px;}
.pun li{ float:left; list-style:none; border:1px #666666 solid; margin-left:1px;}
.hm-cen-pun{ border:1px solid #ccc; padding:1px; padding-top:10px;}
.pun{margin: 0}
.notify_cat1{width:280px;padding:1px;min-height:100px;margin-top:8px; }
.notify_cat2{width:33pxpx; height:63px; float:left }
/*.notify_cat3{float:right;width:200px;}*/
.notify_cat3{margin-left:33px;}
.page-mynotify #sidebar-left{
  height: 800px; overflow: auto;
}
.page-mynotify #sidebar-left .facttop{
  text-align: left;
  background-color: white;
  color: black;
  border-bottom: 1px solid black;
}

/*.inner-page-cont{border: 2px #666666 solid; min-height:600px; height:auto !important; height:600px; width:510px; float:left; margin-left:2px; margin-right:2px;}*/
.minheight544{ min-height:544px; height:auto !important; height:544px;border: 2px #666666 solid;width:359px; float:left; margin-left:2px; margin-right:2px;}
.inner-commutop{ height:29px; background-color:#8f8f8f;padding:5px; font:16px/25px  normal Arial, Helvetica, sans-serif; color:#fff;}
.black11{ font:normal 10px Arial, Helvetica, sans-serif; color:#000000; padding:5px;}
.sharing-width{ width:260px; border:none; margin:5px;}
.sharing-margin{ margin:5px;}
.sidelinks{ font:normal 11px Arial, Helvetica, sans-serif; color:#996600; text-decoration:none;}
.sidelinks:hover{ color:#4a3202; text-decoration:underline;}
.black12{ font:normal 12px Arial, Helvetica, sans-serif; color:#000000;}
.padding10{ padding:10px;}
.listmenu{ width:130px; margin-top:5px;}
.listmenu .listbox{ width:130px; font:normal 10px Arial, Helvetica, sans-serif; color:#000000; height:18px;}
.minheight{ min-height:495px; height:auto !important; height:495px;}


.result-item{ width:510px; border-top:1px #000000 solid;}
.result-item .rleft{ float:left; width:500px; height: 448px;}
.result-item .rleft .titl{ font:normal 14px Arial, Helvetica, sans-serif; color:#996600; padding:15px 10px;}
.result-item .rleft .item1{ font: normal 12px Arial, Helvetica, sans-serif; color:#000000; padding:0 0 5px 10px;}
.result-item .rright{ font: normal 11px Arial, Helvetica, sans-serif; color:#000000; float:left;}
.result-item .rright .vote-post-outer{ width:200px; float:right; margin:10px 0 10px 300px;}
.result-item .rright .vote-post-outer-top{ width:200px; }
.result-item .rright .vote-post-outer-bottom{ width:300px ;}
.result-item .rright .vote-post-outer-bottom .vot-t{ width:90px; float:left;padding:3px; /*border-right:1px #000 solid*/}

.result-item .rright .vote-post{ width:45px; height:24px; background-color:#000000; font: normal 16px Arial, Helvetica, sans-serif; color:#ffffff; float:left; margin:3px; text-decoration:none;}
.result-item .rright .vote-post:hover{ width:45px; background:#996600; font: normal 16px Arial, Helvetica, sans-serif; color:#ffffff; text-decoration:none;}
/*search result page2*/
.result-item .first-col{ width:80px; float:left;}
.result-item .photo{ background:#999999 ; width:70px; height:70px; margin:10px;}
.result-item .second-col{ float:left; width:300px; padding-top:10px; padding-left:10px;}
.result-item .second-col .textouter{ width:200px;}
.result-item .second-col .grayt{ font:normal 11px Arial, Helvetica, sans-serif; color:#666666; float:left;}
.result-item .second-col .blakt{ font:normal 11px Arial, Helvetica, sans-serif; color:#000000; float:left;}
.width200{ width:400px; border:none;}

/* search result step2*/
.outer-foll{ width:336px; margin-left:10px;}
.outer-foll .navig{ width:336px;}
.outer-foll .navig ul{ float:left;}
.outer-foll .navig ul li{ list-style:none; font: normal 11px Arial, Helvetica, sans-serif; color:#996600; text-decoration:none; padding-right:2px; float:left; padding-left:2px;}
.outer-foll .navig ul li a { list-style:none; font: normal 11px Arial, Helvetica, sans-serif; color:#996600; padding-right:2px; text-decoration:none;padding-left:2px;}
.outer-foll .navig ul li a:hover{ list-style:none; font: normal 11px Arial, Helvetica, sans-serif; color:#000000;padding-right:2px; text-decoration:none;padding-left:2px;}
.outer-foll .left-contd{ float:left;}
.outer-foll .left-contd .bio-box{ width:135px; border:1px #cccccc solid; background-color:#f8f5ed; font:normal 11px Arial, Helvetica, sans-serif; color:#000000; margin:3px; padding:5px;}
.outer-foll .left-contd  .followers{ width:165px; font: normal 11px Arial, Helvetica, sans-serif; color:#000000;}
.outer-foll .left-contd  .followers .thumb{ width:20px; height:20px; background-color:#999999; margin:3px; float:left;}

.outer-foll .right-contd{ float:left;}
.outer-foll .right-contd .links-box{ width:135px; border:1px #cccccc solid; background-color:#f8f5ed; font:normal 10px Arial, Helvetica, sans-serif; color:#996600; margin:3px; padding:5px; text-decoration:none;}
.links{ font:normal 10px Arial, Helvetica, sans-serif; color:#996600; text-decoration:none;}
.links:hover{ font: normal 10px Arial, Helvetica, sans-serif; color:#000000;}
.outer-foll .right-contd  .following{ width:165px; font: normal 11px Arial, Helvetica, sans-serif; color:#000000;}
.outer-foll .right-contd  .following .thumb2{ width:20px; height:20px; background-color:#999999; margin:3px; float:left;}

/*make a donation*/
.do-in{ width:670px;border:3px #666666 solid;  min-height:335px; margin:0 auto;}
.do-in span{ color:#996600;}
.do-intop{ height:26px; background-color:#8f8f8f;padding:5px; font:16px/25px  normal Arial, Helvetica, sans-serif; color:#fff;}
.do-in .inside{ font: normal 11px Arial, Helvetica, sans-serif; color:#000000; padding:5px 10px;}
.row1{ width:670px;}
.lin1{width:50px; float:left; font-family:Arial, Helvetica, sans-serif;}
.lin2{ width:70px; float:left; font-family:Arial, Helvetica, sans-serif; margin-left:5px;}
.lin2 .texwidth{ width:70px;}
.textbox-lengthy{ width:500px; font: normal 11px Arial, Helvetica, sans-serif; color:#000000; margin:3px 0px;}
.do-in .donate{ float:left; width:150px; margin:15px 0 15px 0;}



.commu-profile{ width:1013px;float:left; border:1px #cccccc solid;  min-height:564px; height:auto !important ; height:564px;}
.commutop-profile{  background-color:#8f8f8f;padding:5px; font:16px/25px  normal Arial, Helvetica, sans-serif; color:#fff;}

.profile-left{ width:177px; float:left;}
.profile-right{ width:800px; float:left; padding-left:10px;}
.profile-right ul{ margin:0px; padding:0px;}
.profile-right li{ float:left;list-style:none;color:#996600; padding-top:0px;}
.profile-lefthm{ width:169px; float:left; border:1px solid #b7b7b7; padding:10px;}


.inner2{ padding:10px;}
.profile-tab{ width:1005px; margin-top:5px;}
.profile-img{ width:156px; /*background-image:url(../images/user.jpg);*/ height:56px; background-repeat:no-repeat;}
.profile-con{ width:85px; float:right; /*padding:3px;*/}
.profile-con ul{ margin:0px; padding:0px;}
.profile-con li{ list-style:none; float:left; padding-left:2px;}
.profile-gray{ color:#666666; font-size:12px; }
.p-foll{ width:180px; float:left;margin-right:10px; padding-top:10px;}
.p-foll img{ border:1px #9e9ea1 solid; margin:1px}
.history-tab{ height:300px; overflow:auto;}
.tab-history{ border-bottom:1px #e5e5e5 solid; padding-bottom:5px; }
.tab-historyspan1{ color:#666666;}
.tab-historyspan2{ color:#000000;padding-left:20px;}
.tab-historyspan3{ color:#996600;padding-left:30px;}
.tab-historyspan4 a{ color:#000000; text-decoration:none}
.tab-historyspan4 a:hover{ color:#000000; text-decoration:underline}
.tab-historyspan5 a{ color:#996600;padding-left:30px;text-decoration:none}
.tab-historyspan5 a:hover{ color:#996600;text-decoration:underline;}
.hm-cen{ border:1px solid #ccc; padding:5px}

.hm-left{ width:260px; float:left; padding-right:10px;}
.hm{ width:480px; height:300px; overflow:scroll;}
.black12{ font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#858585;}
.black12 a{ font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#858585; text-decoration:none;}
.black12 a:hover{ font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#858585; text-decoration:underline;}
.page-n{ color:#cc9900; font-size:12px; font-family:Arial, Helvetica, sans-serif; text-align:center; border-top:1px solid #000; padding-top:10px;}
.page-n ul{ width:400px; padding-left:150px;}
.page-n li{ float:left; list-style:none; padding-left:10px; padding-bottom:10px;}
.page-n li a{color:#cc9900; text-decoration:none;}
.page-n li a:hover{color:#000;text-decoration:none;}

.page-n2 ul{ width:300px; padding-left:40px;}
.page-n2 li{ float:left; list-style:none; padding-left:10px; padding-bottom:10px; padding-top:10px;}
.page-n2 li a{color:#cc9900; text-decoration:none;}
.page-n2 li a:hover{color:#000;text-decoration:none;}
.pun{ margin:0px; }

.pun ul{ margin:0px; padding-bottom:10px;}
.pun li{ float:left; list-style:none; border:1px #666666 solid; margin-left:1px;}
.hm-cen-pun{ border:1px solid #ccc; padding:1px; padding-top:10px;}


/*issue search3*/
.issuesearch3{border: 2px #666666 solid; min-height:600px; height:auto !important; height:600px; width:350px; float:left; margin-left:4px; margin-right:4px;}

.result-item{ width:351px; border-top:1px #000000 solid;}
.result-item .rleft{ float:left; width:350px; height:448px;}
.result-item .rleft .titl{ font:normal 14px Arial, Helvetica, sans-serif; color:#996600; padding:15px 10px;}
.result-item .rleft .titl a{ font:normal 14px Arial, Helvetica, sans-serif; color:#996600; text-decoration:none;}
.result-item .rleft .titl a:hover{ font:normal 14px Arial, Helvetica, sans-serif; color:#336699;text-decoration:none;}
.result-item .rleft .item1{ font: normal 12px Arial, Helvetica, sans-serif; color:#000000; padding:0 0 5px 10px;}
.result-item .rright{ font: normal 11px Arial, Helvetica, sans-serif; color:#000000; float:left;}
.result-item .rright .vote-post-outer{ width:200px; float:right; margin:10px 0 10px 150px;}
.result-item .rright .vote-post-outer-top{ width:200px; }
.result-item .rright .vote-post-outer-bottom{ width:300px ;}
.result-item .rright .vote-post-outer-bottom .vot-t{ width:90px; float:left;padding:3px; /*border-right:1px #000 solid*/}

.page-n{ color:#cc9900; font-size:12px; font-family:Arial, Helvetica, sans-serif; text-align:center; border-top:1px solid #000; padding-top:10px;}
.page-n ul{ width:300px; padding-left:60px;}
.page-n li{ float:left; list-style:none; padding-left:10px; padding-bottom:10px;}
.page-n li a{color:#cc9900; text-decoration:none;}
.page-n li a:hover{color:#000;text-decoration:none;}

.contributer{ width:488px;float:right; border:1px #cccccc solid;  min-height:564px; height:auto !important ; height:564px;}

.contributertop{ height:59px; background-color:#8f8f8f;padding:5px; font:16px/25px  normal Arial, Helvetica, sans-serif; color:#fff;}
.contributer select{width:150px; font-size:11px; font-family:Arial, Helvetica, sans-serif; font-weight:normal; padding:2px;}
.contributer .inner{ width:325px; margin:auto; padding:0px;}

/*hm creatissue*/
.do-in2{ width:670px;border:1px #666666 solid;  min-height:335px; margin:0 auto;}

.do-intop{ height:26px; background-color:#8f8f8f;padding:5px; font:16px/25px  normal Arial, Helvetica, sans-serif; color:#fff;}
.do-in2 .inside2{ font: normal 12px Arial, Helvetica, sans-serif; color:#000000; padding:5px 10px;}
.do-in2 .left{ width:160px; float:left;}
.do-in2 .right{ width:480px; float:left; padding-left:10px;}
.do-in2 .right ul{ float:left; }
.do-in2 .right ul li{ margin:0px; padding:0px; list-style:none; padding-bottom:3px;}
.do-in2 span input,.do-in2 span textarea{ width:395px; border:1px solid #838381;}
.do-in2 span b{ color:#9A6400}
.do-in2 .span1{ width:80px; float:left;}
.do-in2cat{ width:420px; padding-top:50px; float:right}
.do-in2cat ul{ margin:0px; padding:0px; width:160px; padding-left:20px;}
.do-in2cat ul li{ margin:0px; padding:0px; list-style:none;}
.do-in2save{ float:right;}
.do-in2savetop{ padding-top:20px;}
.do-in2bor{ border-top:1px solid #d6d6d6;margin-top:15px;}

.listmenu2{ width:150px; margin-top:5px;}
.listmenu2 .listbox2{ width:150px; font:normal 10px Arial, Helvetica, sans-serif; color:#000000; height:18px;}
.but{ background-image:url(../images/but-bg.jpg);min-width:85px; height:24px; background-repeat:repeat-x; border:0px ; color:#986700; font-size:12px; cursor:pointer; float:left;}
.ytex{color:#986700; font-size:12px;}
.creat{ font-family:Arial, Helvetica, sans-serif;margin:0px; padding:px; float:left; padding-left:15px;}
.creat ul{ margin:0px; padding:px;}
.creat li{ padding-left:0px; line-height:18px;}
.but-left{ width:7px; float:left;}
.but-right{ width:7px; float:left;}
/* for user search page */

.user_search_3{border: 2px #666666 solid; min-height:509px; height:auto !important; height:545px; width:350px; float:left; margin-left:4px; margin-right:4px;}

.prof-item1{ background:#f8f5ed; padding:10px 10px;}
.prof-item1 .lefimg{ float: left; width:58px;}
.prof-item1 .lefimg img{ border:1px #d2d1d1 solid;}
.prof-item1 .ritecont{ float:left; width:260px; margin-left:10px;}
.prof-item1 .ritecont ul{ width:260px;}
.prof-item1 .ritecont li{ float:left; list-style:none; font: normal 12px Arial, Helvetica, sans-serif; color:#666666; text-decoration:none;}
.prof-item1 .ritecont li span{ font:normal 12px Arial, Helvetica, sans-serif; color:#000;}

.prof-item2{ background:#ffffff; padding:10px 10px;}
.prof-item2 .lefimg{ float: left; width:58px;}
.prof-item2 .lefimg img{ border:1px #d2d1d1 solid;}
.prof-item2 .ritecont{ float:left; width:260px; margin-left:10px;}
.prof-item2 .ritecont ul{ width:260px;}
.prof-item2 .ritecont li{ float:left; list-style:none; font: normal 12px Arial, Helvetica, sans-serif; color:#666666; text-decoration:none;}
.prof-item2 .ritecont li span{ font:normal 12px Arial, Helvetica, sans-serif; color:#000;}

.follow-ic{ font:normal 12px Arial, Helvetica, sans-serif; color:#996600; text-decoration:none;margin-left:10px; float:right;}
.follow-ic a{ font:normal 12px Arial, Helvetica, sans-serif; color:#996600; text-decoration:none; float:right;}
.follow-ic a:hover{ text-decoration:underline;}

/*Contrib search-4 page*/

.profile-left-c{ width:144px; float:left;}
.profile-right-c{ width:324px; float:right; padding-left:0px;}
.profile-right-c ul{ margin:0px; padding:0px;}
.profile-right-c li{ float:left;list-style:none;color:#996600; padding-top:0px;}
.profile-lefthm-c{ width:129px; float:left; border:1px solid #b7b7b7; padding:0px;}
.p-foll-c{ width:152px; float:left;margin-right:0px; padding-top:0px; margin-left:10px;}
.p-foll-c img{ border:1px #9e9ea1 solid; margin:0px}

.prof-it-1{ border:1px #666666 solid; width:170px; margin-left:1px; float: left; margin:3px 1px 3px 1px;}
.prof-it-1 .lefimg-it-c{ float: left; width:58px;}
.prof-it-1 .lefimg-it-c img{ float:left;}
.prof-it-1 .ritecont-it-c{ float:left; width:98px; margin-left:10px; height:52px;}
.prof-it-1 .ritecont-it-c ul{}
.prof-it-1 .ritecont-it-c li{ float:left; list-style:none; font: normal 12px Arial, Helvetica, sans-serif; color:#666666; text-decoration:none;}
.prof-it-1 .ritecont-it-c li span{ font:normal 12px Arial, Helvetica, sans-serif; color:#000;}


/* For Pop up */
.pop-up-wrapper{ margin:0 auto; width:696px;}
.pop-up{ width:697px; background:#fff;}
.pop-up .pop-tp{ background:url(../images/popgfg-tp.png) no-repeat; height:14px; width:697px;}
.pop-up .pop-md{ background:url(../images/pop-mdgdfgdg.png) repeat-y; width:673px; padding:12px;}
.pop-up .pop-md .tp-sandalbar{ background:#e2d9bc; width:630px; padding:10px 0px; padding-left:18px;}
.pop-up .pop-md .tp-sandalbar .pimg{ float:left; margin-right:5px;}
.pop-up .pop-md .tp-sandalbar .pimg img{ border:1px #9b9a98 solid;}
.pop-up .pop-md .tp-sandalbar .ad-bt{ float:left; margin-top:2px;}
.pop-up .pop-md .popmenu{ width:649px; background-color:#666666;}
.pop-up .pop-md .popmenu ul{ margin:0; padding:0;}
.pop-up .pop-md .popmenu ul li{ float:left; background-color:#666666; font:bold 11px Arial, Helvetica, sans-serif; color:#fff; list-style:none;}
.pop-up .pop-md .popmenu ul li a{ float:left; background-color:#666666; font:bold 11px Arial, Helvetica, sans-serif; color:#fff; padding:8px 10px; text-decoration:none; border-right:1px #b9b2a0 solid; border-left:1px #2c2b2b solid; }
.pop-up .pop-md .popmenu ul li a:hover{ background-color:#2c2b2b; padding:8px 10px;}
.pop-up .pop-md .popmenu ul li .selectpop{ background-color:#2c2b2b; padding:8px 10px;}
.pop-up .pop-md .popmenu ul li span img{ margin-right:3px;}
.content-popup{ border-left:1px #666 solid; border-right:1px #666 solid; border-bottom:1px #666 solid; width:647px; overflow:scroll;}
.post-title{ background-color:#ebebeb; padding:10px;}
.post-title .leftsideimg{ width:70px; float:left;}
.post-title .leftsideimg img{ border:1px #999 solid;}
.post-title .rightside{ width:468px; float:left; text-align:left;}
.post-title .rightside h4{ font: bold 12px Arial, Helvetica, sans-serif; color:#333; float:left;}
.post-title .rightside p{ font:normal 12px Arial, Helvetica, sans-serif; color:#333;}
.bott-bord{ border-bottom:1px #999 dashed; width:500px; margin:0 auto; }

.likelink-outer{ width:468px; padding-bottom:20px;}
.likelink-outer .likekink{ float:left; width:300px;}
.likelink-outer .likekink ul{ margin:0; padding:0;}
.likelink-outer .likekink ul li{ font: bold 10px Arial, Helvetica, sans-serif; color:#666; text-transform:uppercase; list-style:none; float:left; }

.likelink-outer .likekink ul li a{ font: bold 11px Arial, Helvetica, sans-serif; color:#34689c; text-transform:uppercase; list-style:none; padding:0px 5px; text-decoration:none;}
.likelink-outer .likekink ul li a b{ color:#666;}
.likelink-outer .likekink ul li a:hover{ color:#000; text-decoration:underline;}

.likelink-outer .date{ float:left; float:right; font:normal 11px Arial, Helvetica, sans-serif; color:#666;}
.wite-title-outer{width:99%;}
.wite-title{  padding:10px; margin:0px 5px; float:right;  background:#fff; overflow:hidden; display:inline-block; width:95%;  border-top:1px #bababa dashed;}
.wite-title .white-left{ float:left; width:10%; text-align:center;}
.wite-title .white-left img{ border:1px #999 solid;}
.wite-title .white-right{ width:90%; float:left;}
.wite-title .white-right p{ font:normal 12px Arial, Helvetica, sans-serif; color:#333; text-align:left;}
.comment-area{border:1px #e2d8bc solid; margin:0 auto; padding:10px 10px; text-align:left; margin-top:10px; margin-bottom:10px; background:#fff;}
.comment-area .txtare{ border:1px #66aff9 solid; background-color:#fff; font: normal 11px Arial, Helvetica, sans-serif; text-align:left; width:300px; margin-bottom:10px;}
.adcomment-outer{ width:540px; float:left;}
.adcomment-outer span{ float:left; margin-right:10px;  font:normal 10px Arial, Helvetica, sans-serif; color:#8e8f8f; padding-top:5px;}
.adcomment-outer .ad-bt{ float:left; margin-right:5px;}
.adcomment-outer h5{ font:normal 10px Arial, Helvetica, sans-serif; color:#8e8f8f;}
.adcomment-outer .cancel{ font: bold 12px Arial, Helvetica, sans-serif; color:#66aff9; text-decoration:none;}
.adcomment-outer .cancel:hover{ text-decoration:underline;}


/*create profile - page*/
.crete-profile-wrapper{ width:1024px; margin:0 auto; border:2px #ccc solid;}
.top-abturself{ background:#8f8f8f; font: normal 16px normal Arial,Helvetica,sans-serif; color:#fff; padding:7px 10px; margin-bottom:20px;}
.create-inner-wrapper{ width:965px; margin:0 auto;}
.creat-inner-title-outer{ width:965px; margin:0 auto;}
.creat-inner-title-left{ width:316px; float:left; font: normal 16px normal Arial,Helvetica,sans-serif; color:#fff; padding:7px 10px;  background:#8f8f8f; }
.creat-inner-title-right{ width:599px; float:right; font: normal 16px normal Arial,Helvetica,sans-serif; color:#fff; padding:7px 10px;  background:#8f8f8f; }
.creat-inner-gridpart{ width:965px; margin:0 auto; font:normal 12PX Arial, Helvetica, sans-serif; color:#333;}
.creat-inner-gridpart .col-1{ width:624px; float:left;}
.creat-inner-gridpart .col-2{ float:left; width:306px; border:2px #8f8f8f solid; margin-top:12px; padding:10px;}
.creat-inner-gridpart h4{ font:bold 16px normal Arial,Helvetica,sans-serif;}
.creat-inner-gridpart .w-outer{ width:624px; float:left; margin:3px 0px;}
.creat-inner-gridpart .w-outer .ti-1{ float:left; width:338px; background:#fff;}
.creat-inner-gridpart .w-outer .txtbx{ width:86px;}
.creat-inner-gridpart .w-outer .txtbx-1{ width:180px;}
.creat-inner-gridpart .w-outer .w1{ width:111px; float:left;}
.creat-inner-gridpart .w-outer .w2{ width:237px; float:left;}
.creat-inner-gridpart .w-outer .w3{ width:85px; float:left; text-align:center;}
.creat-inner-gridpart .w-outer .w4{ width:85px; float:left; text-align:center;}
.creat-inner-gridpart .w-outer .w5{ width:85px; float:left; text-align:center;}
.bord-alin-rite{ float:left; width:492px; border-top:1px #ccc solid; margin-left:100px; height:0px;}
.create-inner-bot{ width:965px; margin:0 auto; margin-top:10px;}
.bio{ width:638px; float:left; border:1px #8f8f8f solid; font:normal 12px Arial, Helvetica, sans-serif; color:#333;}
.bio-title{float:left; font: normal 16px normal Arial,Helvetica,sans-serif; color:#fff; padding:7px 10px;  background-color:#8f8f8f; width:618px;}
.bio-left{ width:220px; float:left; padding:10px;}
.bio-left span{ font:normal 10px Arial, Helvetica, sans-serif; color:#666666;}
.bio-left textarea{ width:200px; text-align:left;}
.bio-right{ float:left; width:367px;}
.bio-right h4{ font:bold 16px normal Arial,Helvetica,sans-serif; color:#696969;}
.bio-right .imgupload-img{ float:left; font:bold 10px Arial, Helvetica, sans-serif; color:#666; width:118px; margin-right:5px;}
.bio-right .imgupload-txt{ float:left; font:bold 10px Arial, Helvetica, sans-serif; color:#666; width:100px;}
.bio ul{ margin:0; padding:0; padding-left:20px;}
.bio ul li{ list-style:none; float:left; margin:3px 5px;}
.bio ul li img{ border:1px #eee solid;}
.bio ul li a{ float:left; list-style:none;}


.web-reference{ float:right; width:303px; border:1px #999 solid; padding-bottom:38px;}
.web-reference-tit{float:left; font: normal 16px normal Arial,Helvetica,sans-serif; color:#fff; padding:7px 10px;  background-color:#8f8f8f; width:283px; margin-bottom:10px;}
 .social-outer{ margin:2px 0px; width:270px; margin:0 auto; font:normal 11px Arial, Helvetica, sans-serif; color:#333;}
 .social-left{ float:left; margin-right:20px;}
 .social-rite{ float:left; padding-top:5px;}
 .social-rite input{ width:180px;}

 .border4web{ border-top:1px #8f8f8f solid; margin:10px 0px;}

.pop-up .pop-bt{ background:url(../images/pop-bgfdgdfgt.png) no-repeat; width:697px; height:14px;  margin:0 auto; padding:10px 10px;}

.merge-social{ float:left; width:326px; border:1px #999 solid; padding-bottom:20px; margin-top:5px;}
.merge-social-tit{float:left; font: normal 16px normal Arial,Helvetica,sans-serif; color:#fff; padding:7px 10px;  background-color:#8f8f8f; width:306px; margin-bottom:10px; text-transform:uppercase;}

.merge-social .merge-script-outer{ width:320px; margin:0 auto; text-align:center;}
.creat-inner-gridpart .col-2-outer{ float:left; width:326px; }

.inside-wrapper{ margin:0 auto;}
.save-changes-outer{ width:918px; margin:0 auto; text-align:right; padding-right:100px; padding-top:20PX; padding-bottom:10PX;}


/* light box */

#mask {
  position:absolute;
  left:0;
  top:0;
  z-index:9000;
  background-color:#000;
  display:none;
}

.pop-up .window {
  position:fixed;
  left:0;
  top:0;
  width:440px;
  height:200px;
  display:none;
  z-index:9999;
  padding:20px;
}

.pop-up .dialog {
  width:auto;
  height:auto;
  padding:10px;
  background-color:#ffffff;
}

#boxes #dialog1 {
  width:375px;
  height:203px;
}

 .d-header {
  border-color:#028cd2;
  padding: 10px;
  border-style: solid;
  width:auto;
  height:auto;
}
.close{
    float:right; clear: both;
}
div.growlUI { background: url(check48.png) no-repeat 10px 10px;  width: auto; height:auto;font-family:normal Arial,Helvetica,sans-serif; font-style: normal; }
div.growlUI h1, div.growlUI h2 {
	color: white; padding: 5px 5px 5px 75px; text-align: left;
      
}
	

/*for forum*/
.content-popup-forum{ border-left:1px #666 solid; border-right:1px #666 solid; border-bottom:1px #666 solid; width:480px; overflow:scroll;}
.post-title-forum{ background-color:#fff; padding:10px;}
.post-title-forum .leftsideimg-forum{ width:60px; float:left;}
.post-title-forum .leftsideimg-forum img{ border:1px #999 solid;}
.post-title-forum .rightside-forum{ width:350px; float:left; text-align:left;}
.post-title-forum .rightside-forum h4{ font: bold 12px Arial, Helvetica, sans-serif; color:#333; float:left;}
.post-title-forum .rightside-forum p{ font:normal 12px Arial, Helvetica, sans-serif; color:#333;}
.bott-bord-forum-forum{ border-bottom:1px #999 dashed; width:500px; margin:0 auto; }


.listmenu2{ width:150px; margin-top:5px;}
.listmenu2 .listbox2{ width:150px; font:normal 10px Arial, Helvetica, sans-serif; color:#000000; height:18px;}

.ytex{color:#986700; font-size:12px;}
.creat{ font-family:Arial, Helvetica, sans-serif;margin:0px; padding:px; float:left; padding-left:15px;}
.creat ul{ margin:0px; padding:px;}
.creat li{ padding-left:0px; line-height:18px;}


.likelink-outer-forum{ width:400px; padding-bottom:20px;}
.likelink-outer-forum .likekink-forum{ float:left; width:226px;}
.likelink-outer-forum .likekink-forum ul{ margin:0; padding:0;}
.likelink-outer-forum .likekink-forum ul li{ font: bold 10px Arial, Helvetica, sans-serif; color:#666;  list-style:none; float:left; padding-right:5px;}
.likelink-outer-forum .likekink-forum ul li b{ color:#678ab2;}
.likelink-outer-forum .likekink-forum ul li a{ font: bold 10px Arial, Helvetica, sans-serif; color:#666;  list-style:none; padding:0px 5px; text-decoration:none;}
.likelink-outer-forum .likekink-forum ul li a:hover{ color:#000; text-decoration:underline;}

.likelink-outer-forum .date{ float:right; font:normal 11px Arial, Helvetica, sans-serif; color:#666; padding-right:30px;}
.handicon{ background:url(../images/hand-ico.jpg) no-repeat ;}
.back-col{ background-color:#f0efef;}

/* section page */
.section-wrapper{ width:350px; margin:0 auto; border:1px #666 solid ; min-height:200px; height: auto !important; height:200px; margin-top:100px;}
.section-wrapper .sec-title{ margin:0 auto; border-top:2px #000 solid; border-bottom:2px #000 solid; padding:5px 0px; margin-top:10px;}
.section-wrapper .subtit{ background:#ddd2b2; padding:5px 0px; }
.section-wrapper .subtit-left{ float:left; font:normal 17px normal Arial,Helvetica,sans-serif; color:#000; text-transform:uppercase; width:160px; padding-left:13px;}
.section-wrapper .subtit-right{ float:left; font:normal 17px normal Arial,Helvetica,sans-serif; color:#000; text-transform: uppercase; width:160px; padding-left:13px;  color:#000; }
.section-wrapper .categori{ float:left; width:173px; border-right:1px #000 solid; min-height:200px; height:auto !important; height:200px; margin-top:10px;}
.section-wrapper .subcategori{ float:left; width:163px; margin-top:10px; padding-left:10px; color:#666;}

.cate-out{ width:160px; padding-left:13px;}
.cate-out-lef{ font: bold 12px Arial, Helvetica, sans-serif; border:none 0px; float:left; background:#fff; display:block; line-height:20px;}
.cate-out-mid{ border:none; float:left; width:155px; background:url(../images/dot-cate.jpg) repeat-x 0px 10px;  }
.cate-out-rite{ text-transform:uppercase; float:right; border:none;  background:#fff; display:block; font:bold 14PX Arial, Helvetica, sans-serif;}



