
.qwave h1{
	/* The title of the page */
	color:white;
	font-family:Georgia, "Times New Roman", Times, serif;
	font-size:38px;
	font-weight:normal;
}

.qwave h2{
	/* The subtitle */
	font-family:Georgia, "Times New Roman", Times, serif; 
	font-size:16px;
	font-weight:normal;
	letter-spacing:1px;
	padding-left:2px;
	text-transform:uppercase;
	white-space:nowrap;
	margin:10px 0 25px;
}

#orig{
	/* The link that float to the right of the title */
	float:right;
	font-family:Georgia, "Times New Roman", Times, serif;
	font-size:10px;
	letter-spacing:1px;
	text-transform:uppercase;
	padding-top:10px;
}

.clear{
	/* Clearfix, needed by IE6 */
	clear:both;
}

#main{
	/* The main container */
	width:600px;
	margin:30px auto;
}

.href{

/*color:#098ED1;*/
font-weight:bold;
cursor:pointer;
text-decoration:none;
cursor:pointer;
	
}

#wave{
	/* CSS rounded corners */
	-moz-border-radius:6px;
	-khtml-border-radius: 6px;
	-webkit-border-radius: 6px;
	border-radius:6px;
	
	background:white;
	width:100%;
	overflow:hidden;
}

#topBar{
	background:url(img/bg.jpg) repeat-x;
	font-size:12px;
	color:white;
	
	height:20px;
	overflow:hidden;
	padding:5px 0 0 10px;

	border-bottom:1px solid #e4f1ff;
	-moz-border-radius:6px 6px 0 0;
	/* A Firefox fix, for once */
}

#bottomBar{
	height:40px;
	background-color:#c9e2fc;
	-moz-border-radius:0 0 6px 6px;
	border-top:1px solid #CCCCCC;
}

#subBar{
	background-color:#c9e2fc;
	padding-left:10px;
}

#subBar img{
	/* The avatars at the top of the page */
	margin:8px 8px 8px 0;
	border:1px solid #cccccc;
}

.waveButton,.waveButtonMain{
	/* The submit buttons */
	background:url(img/button_bg.jpg) repeat-x 50% 50%;
	border:1px solid #DDDDDD;
	padding:4px;
	
	cursor:pointer;
}

.waveButtonMain{
	display:block;
	margin:10px 20px;
}
#wtitle{
	padding:4px !important;
	height:60px !important;
	font-family:Georgia, "Times New Roman", Times, serif;
	font-size:12px !important;
	color:#666666;
	border:1px solid #66aff9 !important;
	margin-bottom:10px;
	width:250px !important;
}
#wtitlerror{
	padding:4px !important;
	height:60px !important;
	font-family:Georgia, "Times New Roman", Times, serif;
	font-size:12px !important;
	color:#EF2C2C;
	border:1px solid #EF2C2C !important;
	margin-bottom:10px;
	width:250px !important;
}

.textArea{
	padding:4px;
	font-family:Georgia, "Times New Roman", Times, serif;
	font-size:12px;
	color:#666666;
	border:1px solid #66aff9;
	margin-bottom:10px;
}

.replyLink{
	float:right;
}

#commentArea{
	padding:10px;
	color:#444444;
}

.commentText{
	margin-left:40px;
}

.waveComment .waveComment{
	padding-left:30px;
}

.waveComment .waveComment .replyLink{
	
}

.waveTime{
	color:#999999;
	float:right;
	font-size:10px;
}

#slider{
	width:400px;
	font-size:10px;
	float:right;
	margin-right:10px;
}

#sliderContainer{
	background:url(img/dark_bg.jpg) repeat-x #f5f5f5 50% 50%;
	padding:9px 10px;
	border:1px solid #bbbbbb;
	border-left:0;
	border-right:0;
	
	height:10px;
	padding:9px 10px;
}

div.ui-widget-content{
	/* Styling the slider */
	background:#FFFFFF;
	border:1px solid #CCCCCC;
}

.comment{
	margin:5px 10px;
	padding:8px 10px;	
	border:2px solid #cccccc;

	-moz-border-radius:6px;
	-khtml-border-radius: 6px;
	-webkit-border-radius: 6px;
	border-radius:6px;
	
	overflow:hidden;
}

.newwave input,label,div,textarea,p{
	
	color:#666666; 
}

.newwave select{
	color:#666666; 
	 font-size:x-small; 
}

.newwave textarea{
	width:250px;
}


span.name{
	font-weight:bold;
	color:#999999;
}

.commentAvatar{
	width:30px;
	height:30px;
	float:left;
	margin-right:10px;
}
.commentAvatar img{
	
	width:30px;
	height:30px;
	border:0px;
	
}

.waveComment a,
.waveComment a:visited{
	color:#0390c3;
	/*text-transform:uppercase;vijay*/
	font-size:11px;	
}

.hyp_up{
text-transform:uppercase; /*vijay*/
}

.tutorial-info{
	text-align:center;
	padding:10px;
}

.div1{
	
	float:left;
	width:10%;
	overflow:hidden;
		
}

.div2{
	
	float:left;
	width:10%;
	overflow:hidden;
		
}
.div3{
	
	float:left;
	width:10%;
	overflow:hidden;
		
}

.div4{
	
	float:left;
	width:50%;
	overflow:hidden;
		
}
.div5{
	
	float:right;
	width:20%;
	overflow:hidden;
		
}



