

/* Table of Content
==================================================
	#Reset & Basics
	#Basic Styles
	#Site Styles
	#Typography
	#Links
	#Lists
	#Images
	#Buttons
	#Tabs
	#Forms
	#Misc */


/* #Reset & Basics 
================================================== */
	html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
		margin: 0;
		padding: 0;
		border: 0;
		font-size: 100%;
		font: inherit;
		vertical-align: baseline; }
	article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
		display: block; }
	body {
		line-height: 1; }
	ol, ul {
		list-style: none; }
	blockquote, q {
		quotes: none; }
	blockquote:before, blockquote:after,
	q:before, q:after {
		content: '';
		content: none; }
	table {
		border-collapse: collapse;
		border-spacing: 0; }		  
  
	:focus {
		outline: none;
	}

	button::-moz-focus-inner,
	input[type="reset"]::-moz-focus-inner,
	input[type="submit"]::-moz-focus-inner,
	input[type="submit"]::-moz-focus-inner,
	input[type="file"] > input[type="button"]::-moz-focus-inner {
		border: none;
	}

	img {border: 0;}

	textarea{overflow:hidden; resize: none;}
		
/* #Basic Styles
================================================== */
	body { 
		background: #fff;
		font: 14px/21px /*"HelveticaNeue", "Helvetica Neue", Helvetica,*/ Arial, sans-serif;
		color: #444; 
		-webkit-font-smoothing: antialiased; /* Fix for webkit rendering */
		-webkit-text-size-adjust: 100%;
 }
	

/* #Typography
================================================== */
	h1, h2, h3, h4, h5, h6 { 
		color: #181818; 
		font-family: /*"HelveticaNeue", "Helvetica Neue", Helvetica,*/ Arial, sans-serif;
		font-weight: normal; }
	h1 a, h2 a, h3 a, h4 a, h5 a, h6 a { font-weight: inherit; }
	h1 { font-size: 46px; line-height: 50px; margin-bottom: 14px;}
	h2 { font-size: 35px; line-height: 40px; margin-bottom: 10px; }
	h3 { font-size: 28px; line-height: 34px; margin-bottom: 8px; }
	h4 { font-size: 21px; line-height: 30px; margin-bottom: 4px; }
	h5 { font-size: 17px; line-height: 24px; }
	h6 { font-size: 14px; line-height: 21px; }
	.subheader { color: #777; }

	p { margin: 0 0 20px 0;font-size:1.1em }
	p img { margin: 0; }
	p.lead { font-size: 21px; line-height: 27px; color: #777;  }
	
	em { font-style: italic; }
	strong { font-weight: bold; color: #333; }
	small { font-size: 80%; }
	
/*	Blockquotes  */
	blockquote, blockquote p { font-size: 17px; line-height: 24px; color: #777; font-style: italic; }
	blockquote { margin: 0 0 20px; padding: 9px 20px 0 19px; border-left: 1px solid #ddd; }
	blockquote cite { display: block; font-size: 12px; color: #555; }
	blockquote cite:before { content: "\2014 \0020"; }
	blockquote cite a, blockquote cite a:visited, blockquote cite a:visited { color: #555; }
	
	hr { border: solid #ddd; border-width: 1px 0 0; clear: both; margin: 10px 0 30px; height: 0; }


/* #Links
================================================== */
	a, a:visited { color: #333; text-decoration: underline; outline: 0; }
	a:hover, a:focus { color: #000; }
	p a, p a:visited { line-height: inherit; }
	

/* #Lists
================================================== */
	ul, ol { margin-bottom: 20px; }
	ul { list-style: none outside; }
	ol { list-style: decimal; }
	ol, ul.square, ul.circle, ul.disc { margin-left: 30px; }
	ul.square { list-style: square outside; }
	ul.circle { list-style: circle outside; }
	ul.disc { list-style: disc outside; }
	ul ul, ul ol,
	ol ol, ol ul { margin: 4px 0 5px 30px; font-size: 90%;  }
	ul ul li, ul ol li,
	ol ol li, ol ul li { margin-bottom: 6px; }
	li { line-height: 18px; margin-bottom: 12px; }
	ul.large li { line-height: 21px; }
	li p { line-height: 21px; }
	
/* #Images
================================================== */

	img.scale-with-grid { 
		max-width: 100%;
		height: auto; }


/* #Buttons
================================================== */
	/*Common buttom with big border-bottom*/
	a.button, 
	button,
	input.add-answer,
	a.add-answer,
	input.add-answer2,
	a.add-answer2,
	input.add-comment,
	h6#reply,
	h6#add-arg,
	input[type="submit"],
	input[type="reset"],
	input[type="button"] {
		background-color: #dfdfdf;
		background-image: -webkit-gradient(linear, left top, left bottom, from(#f1f1f1), to(#cecece));
		background-image: -webkit-linear-gradient(top, #f1f1f1, #cecece);
		background-image:    -moz-linear-gradient(top, #f1f1f1, #cecece);
		background-image:     -ms-linear-gradient(top, #f1f1f1, #cecece);
		background-image:      -o-linear-gradient(top, #f1f1f1, #cecece);
		background-image:         linear-gradient(top, #f1f1f1, #cecece);
		border: solid #c3c3c3;
		border-width: 1px 1px 4px;
		-webkit-box-shadow: inset 0px 0px 2px 0px #fff;
		-moz-box-shadow: inset 0px 0px 2px 0px #fff;
		-o-box-shadow: inset 0px 0px 2px 0px #fff;
		-khtml-box-shadow: inset 0px 0px 2px 0px #fff;
		box-shadow: inset 0px 0px 2px 0px #fff;
		padding: 5px 12px 3px;
		-webkit-border-radius: 5px;
		-moz-border-radius: 5px;
		border-radius: 5px;
		-khtml-border-radius: 5px;
		-o-border-radius: 5px;
		-ms-border-radius: 5px;
	  color: #999 !important;
	  display: inline-block;
	  font-size: 12px;
	  font-weight: bold;
	  text-decoration: none;
	  text-shadow: 0 1px rgba(255, 255, 255, 0.7);
	  cursor: pointer;
	  margin-bottom: 0px;
	  line-height: 21px;
	  font-family: Arial, sans-serif;
	  font-weight: bold;
		-webkit-appearance: none; }
	
	a.button.light,  input.light{
		/*background:#eaeaea;
		border-color:#ccc;
		color:#000;*/
		float:right;
	}
	
	a.button.stats,  input.stats{
		padding: 11px 5px 3px 5px;
		margin: -30px 0px 30px 0px;
	}
	
	/*Common button without big border-bottom*/
	
	a.button.lighter,  input.lighter,
	.ui-dialog .ui-tabs-panel #user-login .form-submit,
	.ui-dialog .ui-tabs-panel #user-register .form-submit{
		background-color: #d4d4d4;
		background-image: -webkit-gradient(linear, left top, left bottom, from(#efefef), to(#c3c3c3));
		background-image: -webkit-linear-gradient(top, #efefef, #c3c3c3);
		background-image:    -moz-linear-gradient(top, #efefef, #c3c3c3);
		background-image:     -ms-linear-gradient(top, #efefef, #c3c3c3);
		background-image:      -o-linear-gradient(top, #efefef, #c3c3c3);
		background-image:         linear-gradient(top, #efefef, #c3c3c3);
		float: right;
		border: 1px solid;
		border-color: #bbbbbb #b0b0b0 #b0b0b0;
		text-shadow: 0 0 0 transparent;
		-webkit-box-shadow: 0 0 0 transparent;
		-moz-box-shadow: 0 0 0 transparent;
		-o-box-shadow: 0 0 0 transparent;
		-khtml-box-shadow: 0 0 0 transparent;
		box-shadow: 0 0 0 transparent;
	}
	a.button.lighter:hover,  input.lighter:hover,
	.ui-dialog .ui-tabs-panel #user-login .form-submit:hover,
	.ui-dialog .ui-tabs-panel #user-register .form-submit:hover {
		background-color: #c8c8c8;
		background-image: -webkit-gradient(linear, left top, left bottom, from(#e9e9e9), to(#b3b3b3));
		background-image: -webkit-linear-gradient(top, #e9e9e9, #b3b3b3);
		background-image:    -moz-linear-gradient(top, #e9e9e9, #b3b3b3);
		background-image:     -ms-linear-gradient(top, #e9e9e9, #b3b3b3);
		background-image:      -o-linear-gradient(top, #e9e9e9, #b3b3b3);
		background-image:         linear-gradient(top, #e9e9e9, #b3b3b3);
		border: 1px solid;
		border-color: #b5b5b5 #9c9c9c #9c9c9c;
	}
	
	a.button.darker,  input.darker{
		/*background:#333;
		opacity:0.8;
		color:#ccc;
		text-shadow:0px -1px #000;
		border-color:#222;*/
		float:right;
	}
	a.button.darker:hover,  input.darker:hover{
		/*opacity:1.0;
		background:#222;
		color:#ccc;
		border-color:#222;*/
	}
	  
	a.button:hover, 
	button:hover,
	h6#reply:hover,
	h6#add-arg:hover,
	input.add-answer:hover,
	input.add-answer2:hover,
	a.add-answer:hover,
	a.add-answer2:hover,
	input.add-comment:hover,
	input[type="submit"]:hover,
	input[type="reset"]:hover,
	input[type="button"]:hover {
		background-color: #d6d6d6;
		background-image: -webkit-gradient(linear, left top, left bottom, from(#efefef), to(#c4c4c4));
		background-image: -webkit-linear-gradient(top, #efefef, #c4c4c4);
		background-image:    -moz-linear-gradient(top, #efefef, #c4c4c4);
		background-image:     -ms-linear-gradient(top, #efefef, #c4c4c4);
		background-image:      -o-linear-gradient(top, #efefef, #c4c4c4);
		background-image:         linear-gradient(top, #efefef, #c4c4c4);
		border: solid #b8b8b8;
		border-width: 1px 1px 4px;
		color: #777777 !important;
		text-shadow: 0 1px rgba(223, 223, 223, 0.7);
}
	  
  /*a.button:active, 
  button:active,
  h6#add-arg:active,
  h6#reply:active,
  input.add-answer:active,
	input.add-answer2:active,
	a.add-answer:active,
	a.add-answer2:active,
	input.add-comment:active,
	input[type="submit"]:active,
	input[type="reset"]:active,
	input[type="button"]:active {
    background: #eee;
    background: -moz-linear-gradient(top, rgba(0,0,0,.3) 0%, rgba(255,255,255,.3) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,.3)), color-stop(100%,rgba(255,255,255,.3)));
    background: -webkit-linear-gradient(top, rgba(0,0,0,.3) 0%,rgba(255,255,255,.3) 100%);
    background: -o-linear-gradient(top, rgba(0,0,0,.3) 0%,rgba(255,255,255,.3) 100%);
    background: -ms-linear-gradient(top, rgba(0,0,0,.3) 0%,rgba(255,255,255,.3) 100%);
    background: linear-gradient(top, rgba(0,0,0,.3) 0%,rgba(255,255,255,.3) 100%);
    border: 1px solid #888;
    border-bottom: 1px solid #aaa;
    border-right: 1px solid #aaa; }*/
	
	.button.full-width, 
	button.full-width,
	input[type="submit"].full-width,
	input[type="reset"].full-width,
	input[type="button"].full-width { 
		width: 100%;
		padding-left: 0 !important;
		padding-right: 0 !important;
		text-align: center; }
	
	
/* #Tabs (activate in app.js)
================================================== */
	ul.tabs { 
		display: block;
		margin: 0 0 20px 0;
		padding: 0;
		border-bottom: solid 1px #ddd; }
	ul.tabs li { 
		display: block;
		width: auto;
		height: 30px;
		padding: 0;
		float: left;
		margin-bottom: 0; }
	ul.tabs li a { 
		display: block; 
		text-decoration: none;
		width: auto; 
		height: 29px; 
		padding: 0px 20px; 
		line-height: 30px; 
		border: solid 1px #ddd;
		border-width: 1px 0 0 1px; 
		margin: 0;  
		background: #f5f5f5;
		font-size: 13px; }
	ul.tabs li a.active { 
		background: #fff; 
		height: 30px;
		position: relative;
		top: -4px;
		padding-top: 4px;
		border-right-width: 1px;
		margin: 0 -1px 0 0;
		color: #111;
		-moz-border-radius-topleft: 2px;
		-webkit-border-top-left-radius: 2px;
		border-top-left-radius: 2px;
		-moz-border-radius-topright: 2px;
		-webkit-border-top-right-radius: 2px;
		border-top-right-radius: 2px; }
	ul.tabs li:first-child a {
		-moz-border-radius-topleft: 2px;
		-webkit-border-top-left-radius: 2px;
		border-top-left-radius: 2px; }
	ul.tabs li:last-child a {
		border-width: 1px 1px 0 1px;
		-moz-border-radius-topright: 2px;
		-webkit-border-top-right-radius: 2px;
		border-top-right-radius: 2px; }
	
	ul.tabs-content { margin: 0; display: block; }
	ul.tabs-content > li { display:none; }
	ul.tabs-content > li.active { display: block; }
		
	/* Clearfixing tabs for beautiful stacking */
	ul.tabs:before,
	ul.tabs:after {
	  content: '\0020';
	  display: block;
	  overflow: hidden;
	  visibility: hidden;
	  width: 0;
	  height: 0; }
	ul.tabs:after {
	  clear: both; }
	ul.tabs {
	  zoom: 1; }
			
			
/* #Forms
================================================== */

	form { 
		margin-bottom: 20px; }
	fieldset { 
		margin-bottom: 20px; }
	input[type="text"], 
	input[type="password"],
	input[type="email"],
	textarea, 
	select {
		border: 1px solid #b3b3b3;
		padding: 6px 4px;
		outline: none;
		-webkit-border-radius: 2px;
		-moz-border-radius: 2px;
		border-radius: 2px;
		-khtml-border-radius: 2px;
		-o-border-radius: 2px;
		font: 13px /*"HelveticaNeue", "Helvetica Neue", Helvetica, */ Arial, sans-serif;
		color: #777;
		margin: 0;
		width: 210px;
		max-width: 100%;
		display: block;
		margin-bottom: 20px;
		background: #fff; }
	select { 
		padding: 0; }
		
  input#Reference {
     margin:0px 0px 20px -1%;
     width:99%;
     float:left;
     padding:1% 0px 1% 1%;
  }	
  
	input[type="text"]:focus,
	input[type="password"]:focus,
	input[type="email"]:focus, 
	textarea:focus {
		border: 1px solid #9c9c9c;
 		color: #444;
 		-moz-box-shadow: 0 0 3px rgba(0,0,0,0.3);
		-webkit-box-shadow: 0 0 3px rgba(0,0,0,0.3);
		box-shadow:  0 0 3px rgba(0,0,0,0.3);
		-o-box-shadow:  0 0 3px rgba(0,0,0,0.3);
		-khtml-box-shadow:  0 0 3px rgba(0,0,0,0.3);
}
	textarea {
		min-height: 60px; }
	label,
	legend { 
		display: block;
		font-weight: bold;
		font-size: 13px;  }
	select { 
		width: 220px; }
	input[type="checkbox"] {
		display: inline; }
	label span,
	legend span {
		font-weight: normal;
		font-size: 13px;
		color: #444; }
		
		
		textarea#Question, input#Answer, input#Answer3, input#info, textarea#Comment, textarea#Reply, input#Answer, input#Answer3, input#info, textarea#info, input.add-answer, input.submit-issue {
		-webkit-transition: border 0.2s linear, -webkit-box-shadow 0.2s linear, background-color 0.2s linear;
		-webkit-transition-property: border, -webkit-box-shadow, background-color;
		-webkit-transition-duration: 0.2s, 0.2s, 0.2s;
		-webkit-transition-timing-function: linear, linear, linear;
		-webkit-transition-delay: initial, initial;

		-moz-transition: border 0.2s linear, -moz-box-shadow 0.2s linear, background-color 0.2s linear;
		-moz-transition-property: border, -moz-box-shadow, background-color;
		-moz-transition-duration: 0.2s, 0.2s, 0.2s;
		-moz-transition-timing-function: linear, linear, linear;
		-moz-transition-delay: initial, initial
		
		}

		textarea#Question:focus, input#Answer:focus, input#Answer3:focus, input#info:focus, textarea#Comment:focus, textarea#Reply:focus, input#Answer:focus, input#Answer3:focus, input#info:focus, textarea#info:focus, input.add-answer:focus, input.submit-issue:focus { 

		border-color:#000}
		
		
/* #Misc
================================================== */
	.remove-bottom { margin-bottom: 0 !important; }
	.half-bottom { margin-bottom: 10px !important; }
	.add-bottom { margin-bottom: 20px !important; }
	.border-bottom {border-bottom:1px solid #999;border-top:1px solid #999;padding:10px 10px 0px 10px;margin:20px 0px 0px 10px;width:auto;}
	.no-white-space {white-space:nowrap;}
	a.black {color:#1366BA;font-weight:bold;letter-spacing:0.05em}
	a.bolded {color:#1366BA;font-weight:bold;letter-spacing:0.05em;text-shadow:none;font-weight:110%;cursor:pointer;}
	
	a.black:hover, a.bolded:hover {color:#000}
  .left20 {margin-left:20px;}
	.left5 {margin:5px 10px 5px 0px;}
  .left10 {margin:20px 10px -10px 10px;}  
  .double{font-size:110%;}
  .twelve{font-size:13px;line-height:1em;margin-top:-10px;letter-spacing:0.1em;color:#666}
	.minus-ten {margin-top:-10px;font-size:12px;line-height:1em}

	/*Rallydev-522*/
  #issue-create-form #related-issues, #issue-create-form .before-submit {display:none;}
  
/* #EXPANDING BOX
================================================== */	
	
	.expanding h6 {line-height:1;}
	
	.expanding h6 {padding: 5px; cursor:pointer; background: url(../images/state.gif) no-repeat 100% 2px; display:block; text-decoration:none; margin:0; margin-top:10px;padding-left:0px}  
	.expanding 	h6 a {color: #000; text-decoration:none;text-shadow: 0 1px #fff;
		
	color:#999;
	letter-spacing:1px;
	font-size:12px;
	text-transform:uppercase;
	font-weight:bold;
	padding:0px 0px 10px 0px;}
	.expanding h6.wait {color:#1366BA;background:none;}
	.expanding h6.wait a{color:#1366BA;}
	.expanding 	h6 a:hover {color: #000;}
	h6#add-arg {float:none;letter-spacing:0.01em;text-transform:none;opacity:1;margin:5px 2px 10px 20px;}
	h6#add-arg a{letter-spacing:0.01em;text-transform:none;font-size:11px;color:#000;font-size:13px;}
	h6#reply {background:#ddd;float:right;letter-spacing:0.01em;text-transform:none;opacity:1;margin:-30px 2px 10px 10px;}
	h6#reply a{letter-spacing:0.01em;text-transform:none;font-size:11px;}
	h6.blue-link {background: url(../images/state2.gif) no-repeat 100% 2px;}
	h6.blue-link a, h6.blue-link {color:#1366BA;}
	h6.blue-link a:hover {color:#000;}
	.expanding 	ul {border-bottom: 0px solid #ccc; padding:10px 0 10px 20px; margin:0;z-index:1000;position:relative;}
	
	
	.expanding 	.active {background-position: 100% -24px;}
	.expanding 	.col {float: left; width:210px; margin-right:30px;}
	.expanding 	.disclaim {margin:10px; padding:10px; background: red;}

	.expanding 	ul {margin:0; padding:0; list-style:none;}
	.expanding 	li {margin:5px 0; padding:0;}
	
	
	
	.toggler { width: 500px; height: 200px; }
  	#button { padding: .5em 1em; text-decoration: none; }
  	#effect { width: 98.3%; height:auto; padding: 0.4em; position: relative; }
  	#effect h3 { margin: 0; padding: 0.4em; text-align: center; }
  	
  	
	ul.menu li a, ul.lang li a, ul.tags li a, p.profile-links a, p.profile-links.quick-profile a, .wait a, .debate-options a{
		-webkit-transition: border 0.2s linear, -webkit-box-shadow 0.2s linear, background-color 0.2s linear;
		-webkit-transition-property: border, -webkit-box-shadow, background-color;
		-webkit-transition-duration: 0.2s, 0.2s, 0.2s;
		-webkit-transition-timing-function: linear, linear, linear;
		-webkit-transition-delay: initial, initial;
		-moz-transition: border 0.2s linear, -moz-box-shadow 0.2s linear, background-color 0.2s linear;
		-moz-transition-property: border, -moz-box-shadow, background-color;
		-moz-transition-duration: 0.2s, 0.2s, 0.2s;
		-moz-transition-timing-function: linear, linear, linear;
		-moz-transition-delay: initial, initial
		}
	
	/* #Tooltips
	================================================== */	
	
.tipsy { font-size: 11px; position: absolute; padding: 5px; z-index: 100000;letter-spacing:0.1em ;line-height:1.2em}
  .tipsy-inner { background-color: #000; color: #FFF; max-width: 200px; padding: 5px 8px 4px 8px; text-align: center; }

  .tipsy-inner { border-radius: 3px; -moz-border-radius: 3px; -webkit-border-radius: 3px; }
  .tipsy-arrow { position: absolute; width: 0; height: 0; line-height: 0; border: 5px dashed #000; }
  .tipsy-arrow-n { border-bottom-color: #000; }
  .tipsy-arrow-s { border-top-color: #000; }
  .tipsy-arrow-e { border-left-color: #000; }
  .tipsy-arrow-w { border-right-color: #000; }
	.tipsy-n .tipsy-arrow { top: 0px; left: 50%; margin-left: -5px; border-bottom-style: solid; border-top: none; border-left-color: transparent; border-right-color: transparent; }
    .tipsy-nw .tipsy-arrow { top: 0; left: 10px; border-bottom-style: solid; border-top: none; border-left-color: transparent; border-right-color: transparent;}
    .tipsy-ne .tipsy-arrow { top: 0; right: 10px; border-bottom-style: solid; border-top: none;  border-left-color: transparent; border-right-color: transparent;}
  .tipsy-s .tipsy-arrow { bottom: 0; left: 50%; margin-left: -5px; border-top-style: solid; border-bottom: none;  border-left-color: transparent; border-right-color: transparent; }
    .tipsy-sw .tipsy-arrow { bottom: 0; left: 10px; border-top-style: solid; border-bottom: none;  border-left-color: transparent; border-right-color: transparent; }
    .tipsy-se .tipsy-arrow { bottom: 0; right: 10px; border-top-style: solid; border-bottom: none; border-left-color: transparent; border-right-color: transparent; }
  .tipsy-e .tipsy-arrow { right: 0; top: 50%; margin-top: -5px; border-left-style: solid; border-right: none; border-top-color: transparent; border-bottom-color: transparent; }
  .tipsy-w .tipsy-arrow { left: 0; top: 50%; margin-top: -5px; border-right-style: solid; border-left: none; border-top-color: transparent; border-bottom-color: transparent; }
