/*Font face for Heardmentality*/	
	
	@font-face {
	    font-family: 'DINLightRegular';
	    src: url('../fonts/dinl____-webfont.eot');
	    src: url('../fonts/dinl____-webfont.eot?iefix') format('eot'),
	         url('../fonts/dinl____-webfont.woff') format('woff'),
	         url('../fonts/dinl____-webfont.ttf') format('truetype'),
	         url('../fonts/dinl____-webfont.svg#webfontZam02nTh') format('svg');
	    font-weight: normal;
	    font-style: normal; 
	}	
	
	@font-face {
	    font-family: 'DINBoldRegular';
	    src: url('../fonts/dinb____-webfont.eot');
	    src: url('../fonts/dinb____-webfont.eot?#iefix') format('embedded-opentype'),
	         url('../fonts/dinb____-webfont.woff') format('woff'),
	         url('../fonts/dinb____-webfont.ttf') format('truetype'),
	         url('../fonts/dinb____-webfont.svg#DINBoldRegular') format('svg');
	    font-weight: normal;
	    font-style: normal;

	}
	
	@font-face {
	    font-family: 'StRydeRegular';
	    src: url('../fonts/stryde-regular-webfont.eot');
	    src: url('../fonts/stryde-regular-webfont.eot?#iefix') format('embedded-opentype'),
	         url('../fonts/stryde-regular-webfont.woff') format('woff'),
	         url('../fonts/stryde-regular-webfont.ttf') format('truetype'),
	         url('../fonts/stryde-regular-webfont.svg#StRydeRegular') format('svg');
	    font-weight: normal;
	    font-style: normal;
	}
	
