/* MAIN ELEMENTS */

#footer {
  background : #444444 url(../images/footer-shadow2.png) top repeat-x;
  padding    : 0px 0px 10px 0px;
}

#footer .container .four.columns {
  float : left;
}

.black-box {
  background    : #3C3C3C;
  margin        : 30px 0px 16px 10px;
  padding       : 20px 20px 6px;
  border-radius : 3px;
}

.black-box:first-child {
  margin : 30px 0px 16px 0;
}

.cc_footer_link {
  float  : right;
  margin : 0px 10px;
}

.footerfloat {
  width : 33%;
}

/*---/ MAIN ELEMENTS */

/* FOUR COLUMNS */

#footer .blurb {
  font-size   : 25px;
  color       : #CCCCCC;
  line-height : 1.1em
}

.ryde {
  font-family : 'StRydeRegular', Arial, sans-serif;
  font-weight : normal;
  font-style  : normal;
}

#footer hr.dark {
  border-color : #555555
}

/* social links */

a.twitter {
  display : inline-block;
  margin  : 0 2px 15px 0;
}

a.facebook {
  display : inline-block;
  margin  : 0 9px 15px 0;
}

a.facebook.google {
  margin : 0 0 15px;
}

a.twitter i,
a.facebook i,
a.google i {
  color          : #FFFFFF;
  font-size      : 40px;
  line-height    : 1;
  vertical-align : top;
}

/*---/ social links */

/*---/ FOUR COLUMNS */

/* SEVEN COLUMNS */

.seven .foot-empty {
  height : 174px;
}

#footer .profile-meta {
  float          : left;
  width          : 100%;
  margin-top     : -10px;
  padding-bottom : 10px;
}

#footer .profile-meta p {
  line-height   : 1em;
  font-size     : 13px;
  color         : #999999;
  text-shadow   : 0px -1px #111111;
  margin-bottom : 18px;
}

/* login form */

#footer #user-login,
#footer #user-login-1 {
  margin : 0;
}

#footer #user-login .form-item,
#footer #user-login-1 .form-item {
  margin : 0;
  float  : left;
  width  : 49%;
}

#footer #user-login #edit-name-wrapper,
#footer #user-login #edit-name-1-wrapper,
#footer #user-login-1 #edit-name-1-wrapper {
  margin-right : 2%;
}

#footer #user-login label,
#footer #user-login-1 label {
  color          : #999999;
  font-size      : 13px;
  line-height    : 1em;
  text-shadow    : 0 -1px #111111;
  font-weight    : normal;
  padding-bottom : 8px;
}

#footer #user-login input.form-text,
#footer #user-login-1 input.form-text {
  padding          : 8px 8px;
  width            : 90% !important;
  background-color : #999999;
  color            : #555555;
}

#footer #user-login input[type="password"],
#footer #user-login-1 input[type="password"] {
  float : right;
}

/*---/ login form */

#block-user_profile-user-profile-bottom i {
  color        : #898989;
  opacity      : 1;
  filter       : alpha(opacity=100);
  margin-right : 0;
}

label.profile-dark {
  color          : #888888;
  text-shadow    : 0 -1px #000000;
  font-size      : 16px;
  line-height    : 1em;
  text-transform : uppercase;
  padding        : 0px 0px 10px 0px;
  margin         : -2px 0px 25px 0px;
}

p.profile-links {
  color          : #999999;
  text-shadow    : 0 -1px #000000;
  font-size      : 14px;
  line-height    : 1em;
  text-transform : none;
  padding        : 0px 0px 10px 0px;
  margin         : -20px 0px 25px 0px;
}

p.profile-links a {
  color       : #CCCCCC;
  line-height : 1em;
  cursor      : pointer;
}

p.profile-links a:hover {
  color : #FFFFFF;
}

/* medals */

#footer .medal {
  font-weight : bold;
  font-size   : 12px;
  text-shadow : 0px -1px #000000;
  color       : #777777;
  margin      : 0px 0 10px 0px;
  float       : left;
}

#footer .medal_box {
  margin : 0 10px 0 0;
}

#footer .bronze,
#footer .silver,
#footer .gold {
  cursor                : default;
  padding               : 2px 8px 2px 8px;
  margin                : 0px 5px 10px 0px;
  border-width          : 0px;
  border-style          : solid;
  border-color          : #444444;
  -webkit-border-radius : 50%;
  -o-border-radius      : 50%;
  -khtml-border-radius  : 50%;
  -moz-border-radius    : 50%;
  border-radius         : 50%;
}

/*---/ medals */

/*---/ SEVEN COLUMNS */

/* FIVE COLUMNS */

img.dark-logo {
  float  : right;
  margin : -8px -4px 0px 0px
}

#footer .foot-link {
  text-align : left;
}

#footer .foot-link a {
  color       : #CCCCCC;
  text-shadow : 0 -1px #111111;
  font-size   : 1.3em;
}

#footer .foot-link a:hover {
  color       : #FFFFFF;
  text-shadow : 0 -1px #000000;
}

/*---/ FIVE COLUMNS */

/* POLICY */

p.policy {
  margin         : 0px 6px 5px 15px;
  color          : #888888;
  text-align     : right;
  font-size      : 11px;
  line-height    : 1.2em;
  text-transform : uppercase;
  text-shadow    : 0 -1px #111111;
}

p.policy a {
  padding : 0px 0px 0px 5px;
  color   : #888888;
}

p.policy a:hover {
  color : #FFFFFF;
}

/*---/ POLICY */

/* iPhone */

.ulogin-mobile-button {
  width : 180px !important;
}

#uloginMobileButton {
  width : 180px !important;
}

/*---/ iPhone */










