/* MAIN ELEMENTS */

.header {
  margin  : 0px 0px;
  padding : 0px 0px
}

.line-top {
  background   : url(../images/cross_hatch_texture_dark.png) repeat scroll 0 0 #A29CAC;
  border       : solid #A29CAC;
  border-width : 1px 0;
}

.line-bottom {
  background : #DDDDDD;
}

.navigation {
  display : block;
  margin  : 0px 0px;
  padding : 0px 0px;
}

.top-left {
  float   : none;
  margin  : 0px 10px;
  padding : 0px;
}

.top-right {
  background : #000000;
  float      : right;
  margin     : 0px 10px 0px 0px;
}

/*--/ MAIN ELEMENTS */

/* LINE-TOP ELEMENTS */

/* logo */

.top-left a.logo {
  float            : left;
  background-color : #362750;
  color            : white;
  padding          : 6px 12px 5px;
  width            : auto;
  display          : block;
  font-size        : 15px;
  letter-spacing   : 0.15em;
  text-transform   : uppercase;
  text-align       : center;
  display          : block;
  text-decoration  : none;
}

img.logo-img {
  float   : left;
  margin  : 0 0 0 -2px;
  padding : 0 5px 0 0;
}

span.beta {
  display        : inline-block;
  font-size      : 12px;
  letter-spacing : normal;
  line-height    : 14px;
  margin         : -2px 0 0 3px;
  text-transform : lowercase;
  vertical-align : top;
  font-style     : italic;
  font-weight    : bold;
  color          : #3CC7F4;
}

/*--/ logo */

/* login */

.top-right.login {
  float      : right;
  margin     : 0px 10px 0px 0px;
  padding    : 0;
  background : none transparent;
  zoom       : 1;
}

.top-right.login p {
  margin : 0;
}

#dialog_link {
  padding         : 7px 10px 0px 10px;
  text-decoration : none;
  position        : relative;
  background      : none;
  border          : 0px;
  width           : auto;
  text-align      : right;
  color           : white;
  cursor          : pointer;
}

#dialog_link:hover {
  color  : yellow;
  cursor : pointer;
}

.top-right.login a.login {
  display          : block;
  float            : right;
  font-size        : 13px;
  line-height      : 16px;
  padding          : 8px 10px !important;
  background-color : #362750 !important;
  min-width        : 88px;
  text-align       : center !important;
  max-width        : 400px;
  overflow         : hidden;
  text-overflow    : ellipsis;
  white-space      : nowrap;
}

a.login {
  color          : white;
  padding        : 10px 12px 0px 12px;
  font-size      : 13px;
  letter-spacing : 0.15em;
  text-transform : none;
  float          : right;
}

a.login:hover {
  color : yellow;
}

.top-right.login a.login i {
  margin-right   : 5px;
  vertical-align : top;
  display        : inline-block;
  position       : relative;
  top            : -1px;
}

/*--/ login */

/*--/ LINE-TOP ELEMENTS */

/* LINE-BOTTOM ELEMENTS */

/* menu on the left */

ul.menu {
  float   : left;
  margin  : 0px 0px 0px 0px;
  padding : 0px;
}

ul.menu li {
  float          : left;
  color          : white;
  font-size      : 13px;
  margin         : 0px 0px;
  padding        : 0px;
  letter-spacing : 0.15em;
  text-transform : uppercase;
}

ul.menu li a {
  text-decoration                    : none;
  padding                            : 9px 10px 8px 12px;
  line-height                        : 15px;
  display                            : block;
  -webkit-transition                 : border 0.2s linear, -webkit-box-shadow 0.2s linear, background-color 0.2s linear;
  -webkit-transition-property        : border, -webkit-box-shadow, background-color;
  -webkit-transition-duration        : 0.2s, 0.2s, 0.2s;
  -webkit-transition-timing-function : linear, linear, linear;
  -webkit-transition-delay           : initial, initial;

  -moz-transition                    : border 0.2s linear, -moz-box-shadow 0.2s linear, background-color 0.2s linear;
  -moz-transition-property           : border, -moz-box-shadow, background-color;
  -moz-transition-duration           : 0.2s, 0.2s, 0.2s;
  -moz-transition-timing-function    : linear, linear, linear;
  -moz-transition-delay              : initial, initial;
  background-color                   : #CC2027;
  color                              : #FFFFFF;
}

ul.menu li a:hover,
ul.menu li a:active,
ul.menu li a.active {
  background-color : #3CC7F4;
  color            : #222222;
}

ul.menu li.following a {
  background-color : #EF3D3B;
}

ul.menu li a.analysis {
  background-color : #EF3D3B;
  color            : #FFFFFF;
}

ul.menu li a.moderator {
  background-color : #E1E43C;
  color            : #000000;
}

ul.menu li a.moderator:hover {
  background-color : #6CCBD5;
  color            : #FFFFFF;
}

.top-left.user-menu.full {
  float : left;
}

/*--/ menu on the left */

/* menu on the right */

ul.menu.second {
  float : right;
}

ul.menu.second.full {
  position : absolute;
  right    : 118px;
}

ul.menu li a.add {
  background-color : #F6EB16;
  color            : #000000;
}

ul.menu li a.add:hover {
  background-color : #362750;
  color            : #FFFFFF;
}

.top-right.blue {
  background : #DDDDDD;
  height     : auto;
  float      : none;
}

.top-right.blue h6 {
  color          : #444444;
  text-transform : uppercase;
  font-size      : 12px;
  letter-spacing : 0.15em;
  margin         : 4px 0 2px 0;
  line-height    : 15px;
  font-weight    : normal;
  text-align     : right;
  min-width      : 83px;
  float          : right;
  padding-right  : 18px;
  padding-top    : 5px;
  position       : relative;
}

.top-right.blue h6 a {
  font-weight    : normal;
  padding        : 0;
  text-shadow    : none;
  color          : #444444;
  text-transform : uppercase;
}

.top-right.blue h6 a:hover {
  color : #000000;
}

.top-right.blue h6.active:after {
  margin-top   : -6px;
  border-color : transparent transparent #444444;
}

.top-right.blue h6:after {
  border-color : #444444 transparent transparent;
  border-style : solid;
  border-width : 5px;
  content      : "";
  display      : block;
  height       : 0;
  margin-top   : -1px;
  position     : absolute;
  right        : 5px;
  top          : 50%;
  width        : 0;
}

ul.lang {
  margin     : 0px 0px 10px 5px;
  zoom       : 1;
  padding    : 18px 0 0;
  clear      : both;
  max-width  : 412px;
  float      : right;
  text-align : right;
}

ul.lang li {
  display        : inline-block;
  vertical-align : top;
  margin         : 2px 5px 12px 10px;
  text-transform : uppercase;
  color          : #333333;
  font-size      : 11px;
  line-height    : 11px;
  letter-spacing : 0.1em;
}

ul.lang li a {
  color           : #222222;
  text-decoration : none;
}

ul.lang li a:hover {
  color           : #000000;
  text-decoration : underline;
}

.top-right.login:after,
ul.lang:after {
  visibility : hidden;
  display    : block;
  font-size  : 0;
  content    : " ";
  clear      : both;
  height     : 0;
}

/*--/ menu on the right */

/*--/ LINE-BOTTOM ELEMENTS */




































