
/* #Site Styles
================================================== */
	body {background:url(../images/cross_hatch_texture.png)}
	.header { margin:0px 0px; padding:0px 0px}
	a.logo {height:26px;float:left;background:#6B0063;color:white;padding:6px 12px 0px 12px;width:auto;display:block;font-size:15px;letter-spacing:0.15em;text-transform:uppercase;text-align:center;display:block; text-decoration: none;}
	img.logo-img{float:left;padding:0px 2px 0px 0px;margin:-2px 0px 0px -2px}
	a.logo:hover {background:#000;}
	a.login {color:white;padding:10px 12px 0px 12px;font-size:13px;letter-spacing:0.15em;text-transform:none;float:right}
	a.login:hover {color:yellow}

	span.hi {color:#aaa;text-transform:none}
	a span.hi:hover{color:yellow;text-transform:none}
	
	.navigation {display:block;margin:0px 0px;padding:0px 0px }			
	.top-left {
		float:left;
		margin:0px 0px 0px 10px;
		padding:0px;
		background:#EF00D3;
		}

	.top-right { 
		background:#000;
		float:right;
		margin:0px 10px 0px 0px;
		}	
	.top-right.login { 
		float:right;
		margin:0px 10px 0px 0px;
		padding: 0;
		background: none transparent;
		zoom: 1;
		}

#block-block-28 p {
	margin: 0;
}
		
.top-right.login a.login {
	display: block;
	float: right;
	/*height: 26px;*/
	font-size: 13px;
	line-height: 16px;
	padding: 8px 10px !important;
	background-color: #000 !important;
	min-width: 88px;
	text-align: center !important;
}

/*.top-right.login .expanding {
	float: right;
}

.top-right.login .expanding h6 {
	margin: 0;
	padding: 0;	
}

.top-right.login .expanding h6 a {
	line-height: 16px;
	padding: 8px 10px;
	display: block;
	color: #fff;
}*/

	.top-right.blue { 
		background:#ddd;
		/* background:#21b4e2; */
		height:auto;
		/*max-width:412px;*/
		float: none;
		}
	.line-top {
		background:#EF00D3;		
		}
	.line-bottom {
		background:#DDDDDD;		
	}
	.line-bottom2 {
		background:#cdcdcd;
		border-bottom:#cecece 1px solid;
		border-top:#cecece 1px solid;	
		height:32px;
	}
	
	.top-right.blue h6{ 
		color:white;
		font-size:13px;
		letter-spacing:0.15em;
		margin:4px 0 2px /*7px*/ 0;
		line-height:15px; 
		font-weight:normal;
		text-align:right;
		min-width: 101px;
		float: right;
		}	
	.top-right.blue h6 a{ 
		font-weight:normal;
		padding:8px 15px 0px 10px;
		text-shadow:none;
		color:#444;text-transform:uppercase;
		}
		
		.top-right.blue h6 a:hover{ 
			color:#000;
			}


		ul.menu {
			float:left;
			margin:0px 0px 0px 0px;
			padding:0px;
		}
		ul.menu li{
			float:left;
			color:white;
			font-size:13px;
			margin:0px 0px;
			padding:0px;
			letter-spacing:0.15em;
			text-transform:uppercase;
		}
		
		ul.menu li a{
			color:white;
			text-decoration:none;
			padding: 9px 10px 8px 12px;
			line-height:15px;
			display:block;
			-webkit-transition: border 0.2s linear, -webkit-box-shadow 0.2s linear, background-color 0.2s linear;
			-webkit-transition-property: border, -webkit-box-shadow, background-color;
			-webkit-transition-duration: 0.2s, 0.2s, 0.2s;
			-webkit-transition-timing-function: linear, linear, linear;
			-webkit-transition-delay: initial, initial;

			-moz-transition: border 0.2s linear, -moz-box-shadow 0.2s linear, background-color 0.2s linear;
			-moz-transition-property: border, -moz-box-shadow, background-color;
			-moz-transition-duration: 0.2s, 0.2s, 0.2s;
			-moz-transition-timing-function: linear, linear, linear;
			-moz-transition-delay: initial, initial
		}
		
		ul.menu li:nth-child(odd), ul.menu li {background-color: #D81A29; color:white;}
		ul.menu li:nth-child(even), ul.menu li + li{background-color: #F7314A; color:white;}
		ul.menu li + li + li {background-color: #CC2027; color:white;}
		
		ul.menu li.login{
      background:#000;
		}
		
		ul.menu li a.add {background:#ccc;color:#111;margin:0px}
		ul.menu li a.add-2 {background:#bbb;color:#111;margin:0px}
		ul.menu li a:hover.add {color:white;background:#000;}
		ul.menu li a:hover.analysis {	background:#434bf0;color:white;}


		ul.menu li a:hover, ul.menu li a:active, ul.menu li a.active{
			background:#434bf0;
			color:white;
		} 
    ul.lang {margin:0px 0px 5px 5px; zoom: 1; padding: 18px 0 0; clear: both; max-width: 412px; float: right; text-align: right;}
    ul.lang li{display: inline-block; vertical-align: top;margin:2px 5px 12px 10px;text-transform:uppercase;color:#333;font-size:11px;line-height:11px;letter-spacing:0.1em;}
    ul.lang li a{color:#222; text-decoration: none;}
    ul.lang li a:hover{color:#000; text-decoration: underline;}
	
	#dialog_link {padding: 7px 10px 0px 10px;text-decoration: none;position: relative;background:none;border:0px;width:auto;text-align:right;color:white;cursor:pointer;}
    #dialog_link:hover {color:yellow;cursor:pointer;}
		.dialog {width:100px}
		.dialog p{font-size:15px;}
		

/* #FLAG DIALOG
================================================== */

		
ul.flagthis li	{float:left;margin:0px 10px;width:26%}
		

/* #Icons
================================================== */
	
	.icon, .icon2  {
		height:34px;
		filter:alpha(opacity=50);
		opacity:0.5;
		display:block;
	}
	.icon2 {
		height:48px;
	}
	.icon:hover, .icon2:hover {
	  	filter:alpha(opacity=100);
	  	opacity:1;
	}
	.icon.circle {background:url(../images/icons/circle2.png) 0px 4px no-repeat;float:left;margin:-5px 0px -5px 0px;padding:7px 0px 10px 31px;filter:alpha(opacity=95);opacity:0.97;color:#00b78a}
	.icon.flag {background:url(../images/icons/59-flag.png) center left no-repeat;float:right;padding:7px 23px 0px 0px;margin:-5px -5px 0px 0px}
	.icon.flag2 {background:url(../images/icons/59-flag.png) center right no-repeat;float:right;padding:7px 23px 0px 10px;margin:0px 4px 10px 10px}
	.icon.flag3 {background:url(../images/icons/59-flag.png) center right no-repeat;float:left;padding:7px 23px 0px 0px;margin:0px 14px 10px 0px;opacity:1}
	
	.icon.heart {background:url(../images/icons/29-heart.png) center left no-repeat;float:right;padding:7px 28px 0px 0px;margin:2px 7px 0px 0px}
	
	.icon.stats {background:url(../images/icons/122-stats.png) top center no-repeat;float:left;padding:1px 16px 0px 14px;margin:-5px 0px -5px 0px;filter:alpha(opacity=90);opacity:0.9;height:27px;}
	.icon.cat {background:url(../images/icons/14-tag.png) top right no-repeat;float:right;padding:1px 18px 0px 20px;margin:-5px -8px 0px 0px;filter:alpha(opacity=90);opacity:0.75}
	.icon.cat2 {background:url(../images/icons/14-tag.png) top right no-repeat;float:right;padding:1px 18px 0px 20px;margin:0px 5px 0px 0px;filter:alpha(opacity=90);opacity:0.75}

  .icon.mod-history {background:url(../images/icons/162-receipt.png) top right no-repeat;float:right;padding:1px 18px 0px 20px;margin:-5px -5px 0px 0px;filter:alpha(opacity=90);opacity:0.9}	
  .icon.dupes {background:url(../images/icons/104-index-cards.png) top right no-repeat;float:right;padding:1px 18px 0px 20px;margin:-5px -5px 0px 0px;filter:alpha(opacity=90);opacity:0.9}	  
.icon.guides {background:url(../images/icons/187-pencil.png) top right no-repeat;float:right;padding:1px 18px 0px 20px;margin:-5px -5px 0px 0px;filter:alpha(opacity=90);opacity:0.9}	    
	.icon.profile {background:url(../images/icons/123-id-card.png) top right no-repeat;float:right;padding:1px 18px 0px 20px;margin:-3px -5px 0px 0px;filter:alpha(opacity=90);opacity:0.9}
  .icon.photo {background:url(../images/icons/121-landscape.png) top right no-repeat;float:right;padding:1px 18px 0px 20px;margin:-3px -5px 0px 0px;filter:alpha(opacity=90);opacity:0.9}	
	.icon.profile-i {background:url(../images/icons/123-id-card-i.png) top right no-repeat;float:right;padding:1px 18px 0px 20px;margin:-3px -5px 0px 0px;filter:alpha(opacity=90);opacity:0.9}

	.icon.share	 {padding:6px 28px 0px 0px;line-height:1.1em;width:20px}
		
	.icon2.bullhorn {background:url(../images/icons/124-bullhorn@2x.png) 0px 5px no-repeat;float:left;padding:0px 33px 0px 20px;filter:alpha(opacity=95);opacity:0.97;}
	.icon2.download {background:url(../images/icons/57-download@2x.png) top right no-repeat;float:left;padding:5px 60px 0px 10px;margin:0px 0px 0px 0px;}
	
	.icon.text, .icon.text a {text-transform:uppercase;letter-spacing:1px;font-size:11px;text-decoration:none}
	.text-bold, .icon.text-bold a {text-transform:uppercase;letter-spacing:1px;font-size:11px;text-decoration:none;font-weight:bold;color:#111;letter-spacing:1px;margin:0px 10px 0px 0px;}
	.icon2.text, .icon2.text a {text-shadow: 0 1px #fff;text-transform:uppercase;letter-spacing:1px;font-size:31px;text-decoration:none;font-weight:bold;text-align:left;line-height:1em}


	#footer {
		background:#444 url(../images/footer-shadow2.png) top repeat-x;
		padding:0px 0px 10px 0px;
	}
	img.dark-logo {float:right;margin:-8px -4px 0px 0px}	
	
	#footer .blurb{ font-size:25px;color:#ccc;line-height:1.1em}
	#footer hr.dark{ border-color:#555}

/* #Page Styles
================================================== */
  .page-title {
    color:#777;
    font-size:16px;
    margin:10px 0px -28px 10px;
    padding:0px;
    text-shadow: 0 1px #fff;
		text-transform:uppercase;
  }


	.white-box {
		background-color: #fff;
		border: 1px solid #d2d2d2;
		margin: 0 0 20px;
		padding: 20px 10px 20px;
		-webkit-border-radius: 4px;
		-moz-border-radius: 4px;
		border-radius: 4px;
		-khtml-border-radius: 4px;
		-o-border-radius: 4px;
		margin: 30px 0 0;
	}
	.sort-white-box {
		background:#fff;
		border-width:1px;
		border-style:solid;
		border-color:#fff #cfcfcf transparent #e2e2e2;
		margin:31px 0px -30px 10px;
		padding:5px 0px 27px 0px;
	}
	.top-grey-box {
		background: url(../images/white_50.png) repeat 0 0;
		border: 1px solid #d2d2d2;
		border-bottom: 0 none;
		margin: 30px 0 0;
		-webkit-border-radius: 4px 4px 0 0;
		-moz-border-radius: 4px 4px 0 0;
		border-radius: 4px 4px 0 0;
		-khtml-border-radius: 4px 4px 0 0;
		-o-border-radius: 4px 4px 0 0;
		padding: 20px 10px 0;
	}
	
	.top-grey-box .sort-by {
		padding-bottom: 10px;
		border-bottom: 1px solid #d2d2d2;
		margin: 0 10px;
	}
	
	.grey-box {
		background: url(../images/white_50.png) repeat 0 0;
		border: 1px solid #d2d2d2;
		border-top: 0 none;
		margin: 0;
		padding: 16px 15px 10px 20px;
		-webkit-border-radius: 0 0 4px 4px;
		-moz-border-radius: 0 0 4px 4px;
		border-radius: 0 0 4px 4px;
		-khtml-border-radius: 0 0 4px 4px;
		-o-border-radius: 0 0 4px 4px;
	}
	
	.grey-box.message {
	background:url(../images/ui-bg_diagonals40x40.png);
	}
	
	.grey-box.warning {
		background:url(../images/ui-bg_diagonals40x40_red.png);
	}
	
	.grey-box.search {
		padding:12px 22px 12px 22px;
		margin:30px 0px 10px 10px;	

	}
	.black-box {
		background:#3c3c3c;
		margin:30px 0px 16px 10px;
		padding:22px 22px 6px 20px;
		border-radius: 3px;
	}
	
	a {
		font-weight:normal;
	   	color:#1366BA;
     	text-decoration:none;
	}
	.circle-box {
		background:url(../images/circle_bg.png) -6px -210px no-repeat;
		margin:50px 0px 10px 0px;
		display:block;
		width:300px;
		height:300px;
	}
	
	.see {
			position:relative;
			display:block;
			height: 100px;
			width: 250px;
			background:url(../images/see-event.png) 0 0 no-repeat;
		}
		
	.vote-now {
			position:relative;
			display:block;
			height: 100px;
			width: 250px;
			background:url(../images/vote-event.png) 0 0 no-repeat;
		}
		
	.share-now {
			position:relative;
			display:block;
			height: 100px;
			width: 250px;
			background:url(../images/share-event.png) 0 0 no-repeat;
		}

		.circle-box .see *,.circle-box .vote *,.circle-box .share * {
		  display: none;
		}

	.see span.hover{
		position: absolute;
		top: 0;
		left: 0;
		display: block;
		height: 100px;
		width: 250px;
		background:url(../images/see-event.png) 0 -100px no-repeat;
	}
	
	.vote-now span.hover {
		position: absolute;
		top: 0;
		left: 0;
		display: block;
		height: 100px;
		width: 250px;
		background:url(../images/vote-event.png) 0 -100px no-repeat;
	}
	
	.share-now span.hover {
		position: absolute;
		top: 0;
		left: 0;
		display: block;
		height: 100px;
		width: 250px;
		background:url(../images/share-event.png) 0 -100px no-repeat;
	}
	
	.see-banner, .vote-banner, .share-banner {
		text-align:center;
		font-family: 'DINBoldRegular';
		text-transform:uppercase;
		font-size:40px;
		padding:110px 0px 0px 28px;
	}
	.error-banner {
		text-align:center;
		font-family: 'DINBoldRegular';
		text-transform:uppercase;
		font-size:80px;
		padding:140px 0px 0px 10px;
	}
	
	.banner-text {
		font-size:26px;
		float:left;
		color:#333;
		width:75%;
		text-shadow: 0 1px #fff;
		text-align:left;
		padding: 0;
		line-height:1em;
		margin: 0;
	}
	
	.dark-grey-box {
		background:url(../images/cross_hatch_texture_dark.png);
		border-width:1px;
		border-style:solid;
		border-color:#9f9f9f #afafaf #aaa #acacac;
		margin:10px 3px 30px 12px;
		padding:26px 22px 18px 22px;
		border-radius: 3px;
	}
	
		.thirty-top {margin-top:30px}
	
	ul.tags, ul.badges {
		margin:-5px 0px 0px 0px;
	}
	.tags-on, .subscriptions {
		text-shadow: 0 1px #fff;
		color:#666;
		letter-spacing:1px;
		font-size:11px;
		text-transform:uppercase;
		padding:0px 0px 10px 0px;
	}
	
	.grey-box-cat .tags-on {
	    border-bottom: 1px solid #D2D2D2;
		color: #999999;
		font-size: 13px;
		font-weight: bold;
		letter-spacing: 0.1em;
		margin: 0 0 12px;
		padding: 0 3px 10px;
		text-shadow: 0 1px #FFFFFF;
	}
	
	.grey-box-cat ul.tags {
		margin: 0;
	}
	
	ul.tags li {
		padding:0px 4px 0px 4px;
		font-size:12px;
		margin:3px 6px 3px 0px;
		letter-spacing:1px;
		background:#a3c9ef;
		border-radius: 3px;
		text-shadow: 0 1px #c8e2fc;
		width:auto;float:left;
		border-width:1px;
		border-style:solid;
		color:#111;
		border-color:#92b7dd;
	}
	
	ul.tags li:hover {
		text-shadow: 0 -1px #3b536c;
		color:#fff;
		border-color:#53789d;
		background:#53789d;
		
	}
	
	ul.tags li a{
		color:#111;
	}
	
	ul.tags li a:hover{
		color:#fff;
	}

	
	ul.badges li {
		padding:1px 7px 2px 7px;
		font-size:12px;
		margin:3px 6px 3px 0px;
		letter-spacing:1px;
		background:#e4e4e4;
		border-radius: 3px;
		text-shadow: 0 1px #fefefe;
		width:auto;float:left;
		border-width:1px;
		border-style:solid;
		color:#222;
		border-color:#dedede;
	}
	
	
	.page ul {
		margin:5px 0px 25px 25px;
		font-size:16px;
		font-family: 'DINBoldRegular';
	}
	.page ul li{
		list-style-type:square;
	}	
	.page ul.badges {
		width:190px;
		font-family: "Helvetica Neue", 'TeXGyreHerosRegular', "Helvetica", "Tahoma", "Geneva", "Arial", sans-serif;
		list-style-type:none;
		margin:0px 0px 20px 0px;
	}
	.page ul.badges li {
	  list-style-type:none;
		float:none;
		padding:3px 0px 3px 6px;
		
	}
	
	ul.sub-pages li {
		padding:1px 0px 5px 1px;
		font-size:13px;
		font-weight:bold;
		border-bottom:1px solid #e1e1e1;
		margin:6px 0px 3px 0px;
		letter-spacing:1px;
		font-weight:bold;
		text-shadow: 0 1px #fefefe;
		width:auto;
		color:#444;
	}
	
	ul.sub-pages {
		padding:0px 7px 2px 0px;
		margin:-3px 6px 3px 0px;
	}
	
	ul.sub-pages li a {
		font-weight:bold;
	}
	
	ul.sub-pages li ul {
		font-weight:bold;
		border-top:1px solid #e1e1e1;
		margin:8px 0px -2px 0px;
		padding:0px 0px 0px 0px;
	}
	
	ul.sub-pages li ul li {
		font-weight:bold;
		margin:0px 0px 0px 0px;
		padding:5px 0px 5px 15px;
	}
	
	ul.sub-pages li:last-child {
		border-bottom:0px solid #ccc;
	}
	p.description {
	  width:88%;
	  line-height:1.2em;
		float:left;
	  padding:0px 10px 0px 0px;
	  margin:20px 0px 40px 0px;
	}
	
	/**Rallydev:525**/
    #shareDiv_gig_containerParent p.description {
	  width:100%;
	  line-height:1.3em;
	 }
	 /***************/
	
	.sharing {float:right;margin:20px -25px 0px 0px}
	
	.issue-things {width:0%;float:right;margin:-5px 0px 0px 0px}
	p.issue-meta {
		text-shadow: 0 1px #fff;
		color:#444;
		letter-spacing:1px;
		font-size:13px;
		line-height:1.3em;
		padding:0px 0px 0px 0px;
		clear:both;
		margin:-10px 0px 10px 0px;
	}
	
	ul.issue-meta {
    list-style-type:square;
    margin:0px;
    padding:0px 0px 0px 20px;
	}
	
	ul.issue-meta li{
    margin:0px;
    padding:0px 0px 0px 0px;
	}
	 a.username, a.lang {
	   	font-weight:bold;
	   	color:#1366BA;
     	text-decoration:none;
	 }
	 a.username:hover, a.lang:hover {
	   color:#EF00D3;
	 }
	.results, label.profile, label.queue{ 
		color:#fefefe;
		text-shadow: 0 -1px #999;
		letter-spacing:1px;
		font-size:12px;
		width:140px;
		line-height:1em;
		text-transform:uppercase;
		padding:0px 0px 10px 0px;
		margin:-5px 0px 25px 0px;
	}
	label.queue{ 
		color:#999;
		text-shadow: 0 1px #fff;
		width:auto;
		margin:-5px 0px -15px 10px;
		
	}
	
	label.profile-dark{ 
		color:#888;
		text-shadow: 0 -1px #000;
		letter-spacing:1px;
		font-size:16px;
		line-height:1em;
		text-transform:uppercase;
		padding:0px 0px 10px 0px;
		margin:-2px 0px 25px 0px;
	}
	
	p.profile-links { 
		color:#999;
		text-shadow: 0 -1px #000;
		letter-spacing:1px;
		font-size:14px;
		line-height:1em;
		text-transform:none;
		padding:0px 0px 10px 0px;
		margin:-20px 0px 25px 0px;
	}
	
	p.profile-links.quick-profile { 
		color:#ccc;
		font-size:13px;
		letter-spacing:0.05em;
		line-height:1.4em;
		font-weight:bold;
		text-transform:none;
		text-shadow: 0 -1px #fff;
		margin:-20px 0px 25px 0px;
		
		text-shadow:none;
	}
	p.profile-links a{ 
		color:#ccc;
		line-height:1em;
		cursor:pointer;
	}
	
	p.profile-links.quick-profile a{ 
		color:#1366BA;
		line-height:1em;
		cursor:pointer;
		text-shadow: 0 -1px #fff;
		font-weight:bold;
	}
	p.profile-links.quick-profile a:hover{ 
		color:#000;
	}
	p.profile-links a:hover{ 
		color:#fff;
	}
	
	
	label.following, label.badges{ 
		color:#fefefe;
		text-shadow: 0 -1px #999;
		letter-spacing:1px;
		font-size:12px;
		text-transform:uppercase;
		padding:0px 0px 5px 0px;
		margin:0px 0px 0px 0px;
	}
	
	hr.short { margin:12px 0px 8px 0px;border-bottom:1px solid #f9f9f9;}
	hr.short-2 { margin:0px 0px 10px 0px;border-bottom:1px solid #f9f9f9;}
	.dark { margin:7px 0px 15px 0px;color:#111;border-top:1px dotted #888;}
	.voting {
	  clear:both;
	}
	
	ul.vote {
		margin:-5px 0px 0px 0px;
	}
	
	.vote-on {
		text-shadow: 0 1px #fff;
		color:#666;
		letter-spacing:1px;
		font-size:11px;
		text-transform:uppercase;
		padding:0px 0px 10px 0px;
	}
	
	ul.vote li {
		padding:10px;
		margin:3px 0px 15px 0px;
		letter-spacing:1px;
		background:#eee;
		border-radius: 3px;
		text-shadow: 0 1px #fff;
		border-width:1px;
		border-style:solid;
		border-color:#e1e1e1;
	}
	
	ul.vote li.voted {
		background:#D3EDEA;
		border-color:#78C2B9;
	}
	
	ul.vote li.post {
    width:85%;
    float:right;
	}
	ul.vote li:hover {
    cursor:pointer;
	}
	
	.post-vote-result {
	  float:left;
	  width:10%;
	}
	.post-vote-result .vote-count {
    font-size:30px;
	  line-height:1em;
	}
	.post-vote-result .vote-count-title {
    font-size:12px;
	}
	
	p.suggest-answer{font-size:13px;line-height:1.4em;padding:10px 5px 15px 165px;color:#555;text-align:right;}
	
	ul.vote li input.radio, fieldset.suggest-answer li .radio {
    margin:0px 10px 0px 0px;
	} 
	
	label.answer {
	  font-weight:normal;
	  font-size:1.1em;
    cursor:pointer;
	}
	
	label.vote-answer {
		margin:-17px 0px 0px 20px;
		padding:0px 0px 0px 10px;
		font-weight:normal;
	  font-size:1em;
    cursor:pointer;
	}
	.vote-results {

	}
	
	
	span.privacy-answer {
	  font-size:0.7em;
		width:100%;
		line-height:1em;
		padding:0px 0px 0px 0px;
	}
	
	.wait {
	  font-size:15px;
		font-style:italic;
		text-align:right;
		width:auto;
		color:#1366BA;
		margin:8px 5px 0px 0px;
	
	}
	.wait a{
		color:#1366BA;
	}
	
	.wait a:hover{
		color:#000;
	}
	
	feildset.suggest-answer {

	}
	
	fieldset.suggest-answer li{
	  text-align:left;
	  font-size:12px;
	  line-height:1.2em;
	  list-style-type:none;
    width:70.8%;
    float:right;
	  padding:10px;
		margin:3px 0px 15px 0px;
		letter-spacing:1px;
		background:#f1f1f1;
		border-radius: 3px;
		text-shadow: 0 1px #fff;
		border-width:1px;
		border-style:solid;
		border-color:#e9e9e9;
	}
	
	ul.vote li:hover,fieldset.suggest-answer li:hover {
		background:#D3EDEA;
		border-width:1px;
		color:#000;
		border-style:solid;
		border-color:#82D1C8;
	}
	.button.vote, input.submit-issue, input.save {
		font-size:17px;text-transform:uppercase;letter-spacing:2px;
		background: #7abcff; /* Old browsers */
		background: -moz-linear-gradient(top, #7abcff 0%, #60abf8 44%, #4096ee 100%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#7abcff), color-stop(44%,#60abf8), color-stop(100%,#4096ee)); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(top, #7abcff 0%,#60abf8 44%,#4096ee 100%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(top, #7abcff 0%,#60abf8 44%,#4096ee 100%); /* Opera11.10+ */
		background: -ms-linear-gradient(top, #7abcff 0%,#60abf8 44%,#4096ee 100%); /* IE10+ */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7abcff', endColorstr='#4096ee',GradientType=0 ); /* IE6-9 */
		background: linear-gradient(top, #7abcff 0%,#60abf8 44%,#4096ee 100%); /* W3C */
		color:#F3FAFF;
		padding: 6px 20px;
		text-shadow: 0 -1px #2F68A3;
		border: 1px solid #999;
		border-top: 1px solid #999;
		margin:0px 2px 0px 0px;
		border-left: 1px solid #999;
	}
	
	input.submit-issue.leftfloat {
		float:left;
		font-size:13px;
	}
	
	.button.upload-grey {
		color:#333;
		font-size:15px;
		text-shadow: 0 -1px #ccc;
		border: 1px solid #999;
	  border-top: 1px solid #999;
		margin:0px 2px 10px 0px;
	  border-left: 1px solid #999;
	}
	
	.button.vote:hover, input.submit-issue:hover, input.save:hover {
		background: #7abcff; /* Old browsers */
		background: -moz-linear-gradient(top, #7abcff 0%, #60abf8 44%, #4096ee 100%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#7abcff), color-stop(44%,#60abf8), color-stop(100%,#4096ee)); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(top, #7abcff 0%,#60abf8 44%,#4096ee 100%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(top, #7abcff 0%,#60abf8 44%,#4096ee 100%); /* Opera11.10+ */
		background: -ms-linear-gradient(top, #7abcff 0%,#60abf8 44%,#4096ee 100%); /* IE10+ */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7abcff', endColorstr='#4096ee',GradientType=0 ); /* IE6-9 */
		background: linear-gradient(top, #7abcff 0%,#60abf8 44%,#4096ee 100%); /* W3C */
		color:#fff;
		border: 1px solid #888;
		-moz-box-shadow: 0px 0px 4px #bbb;
		-webkit-box-shadow: 0px 0px 4px #bbb;
		box-shadow: 0px 0px 4px #bbb;
	}
	.button.vote:active, input.submit-issue:active, input.save:active {
		background: #4096ee; /* Old browsers */
		background: -moz-linear-gradient(top, #4096ee 0%, #60abf8 56%, #7abcff 100%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#4096ee), color-stop(56%,#60abf8), color-stop(100%,#7abcff)); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(top, #4096ee 0%,#60abf8 56%,#7abcff 100%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(top, #4096ee 0%,#60abf8 56%,#7abcff 100%); /* Opera11.10+ */
		background: -ms-linear-gradient(top, #4096ee 0%,#60abf8 56%,#7abcff 100%); /* IE10+ */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4096ee', endColorstr='#7abcff',GradientType=0 ); /* IE6-9 */
		background: linear-gradient(top, #4096ee 0%,#60abf8 56%,#7abcff 100%); /* W3C */
		color:#fff;
	}
	
	.button.participate {
		margin:5px 0px 0px 0px;
	}
	
	.border-bottom .button.participate {
		margin: 0;
	}
	
	.update-issue, .delete-issue {float:right;margin:0px 0px 0px 20px}
	input.remove {float:right;margin:0px 0px 0px 20px;opacity:1.0}
	
	.stats {
		margin:-10px 0px 0px 0px;
	}
	.stat {
		color:#000;
		text-shadow:0px 1px #eee;
		font-size:30px;
	}
	.stat-title {
		color:#000;
		text-shadow:0px 1px #eee;
		font-size:22px;
	}
	
	ul.badges li {

		background:#e4e4e4;
		color:#222;
	}
	
/* #STATS AND GRAPHS
================================================== */	
.vote-results ul {padding:0px 0px 0px 0px;}
.vote-results ul li{ float:left;width:44.5%;margin:20px 1% 0px 1%;background:#eee;padding:2% 0px 20px 0px;-webkit-border-radius:  3px 3px;-moz-border-radius:  3px/3px; border-radius: 3px;text-shadow: 0 1px #fff;}
.vote-results ul li.full{ width:94.5%;}

.vote-results ul li img{width:100%}
.vote-results ul li p{padding:10px;}
.vote-results ul li #map_div {padding:0px 2%;width:95px;}
.anecdotal-result-stats {margin:5px 0px 0px 0px;font-size:13px;}

.anecdotal-result-stats span.number{font-size:18px;}
	
.filter-stats	{margin:0px 0px 10px 0px;padding:0px 0px 30px 0px;color:#000;float:right;width:100px;}

.filter-stats-2	{margin:0px 0px 10px 10px;padding:0px 0px 30px 0px;color:#000;float:right;width:140px;}
p.result-title	{font-size:13px;text-transform:uppercase;border-bottom:1px dotted #ddd;margin:0px 0px 10px 10px;padding:0px 0px 10px 0px;color:#999;text-shadow: 0 1px #fff;}
	
	
/* #DEBATE
================================================== */	
span.debate-count, span.reference-count {
  font-weight:bold;
  color:#666;
  letter-spacing:0.1em;
}

.leave-a-comment{
  margin:0px 0px 0px 5px;
}
	
.comments ul li p{
		
}	

.debate-options {
	float:left;
	padding:0px 0px 0px 0px;
	text-transform:uppercase;
	font-weight:normal;
	color:#999;
	margin:-12px 0px 10px 0px;
}

.debate-options a{
	color:#666;
}	

.debate-options a:hover{
	color:#000;
}

.comments h6 {
	padding-left: 0px;
	margin:5px 0px 5px 0px;
	color:#000;
}	

.comments h6.blue-link a{
	padding-left: 0px;
	margin:5px 0px 5px 0px;
	color:#000;
	opacity:1;
}
.comments h6 a{
	color:#000;
}

.position {
  margin:-5px 0px 10px 0px;
  background:#f9f9f9;
  padding:4px 10px 4px 10px;
  -webkit-border-radius:  3px 3px;
	-moz-border-radius:  3px/3px; 
	border-radius: 3px;
}

.position p.position-plus, .position p.position-minus {
  font-size:12px;
  margin:0px;
  padding:0px;
}

.position-question {
  width:236px;
  margin:20px 0px 0px 0px;

}
.position-indicator {
	height:5px;
	background:#DD5345;
	opacity:0.9;
	margin:0px 0px 10px 1px;
}

.position-indicator .progress{
	width:75%;
	height:5px;
	background:#84D861;
}
.add-comment {
  margin:-7px 5px 0px 10px;
}

p.comment-meta {
	text-shadow: 0 1px #fff;
	color:#777;
	letter-spacing:1px;
	font-size:11px;
	line-height:1.3em;
	padding:0px 0px 0px 0px;
  float:right;
  margin:-10px 0px 0px 0px;
}
.comment-agree {
	text-shadow: 0 1px #fff;
	color:#777;
	letter-spacing:1px;
	font-size:12px;
	line-height:1.3em;
	padding:0px 0px 0px 0px;

	clear:both;
}
.comment-agree a.agree{
	color:#2A720C;
	cursor:pointer;
	float:left;
}
.comment-agree a.disagree{
	color:#DD5345;
	float:left;
	margin:0px 0px 0px 10px;
	cursor:pointer;
}

a img.thumbs-up-down{width:20px;height:20px;border:0px;background:transparent;padding:1px 7px 1px 0px;margin:0px}
.comments ul{
  margin:0px;
  padding:0px;
    font-size:1em;
}	
.comments ul li{
  padding:10px 0px 5px 0px;
  font-size:1em;
  margin:0px 0px 0px 0px; 
  border-width:1px;
	border-bottom:1px solid #aaa;
}	

.comments img{
  border-width:1px;
	border-style:solid;
	border-color:#aaa;
	background:#ddd;
	float:left;
	margin:4px 12px 5px 0px;
	width:60px;
	height:60px;
}	

.comments ul li:nth-child(even) { background: #fff; }

.comments ul li ul li{
  font-size:1em;
  padding:5px 0px 0px 20px;
  margin:10px 0px 0px 0px;
	border-bottom:1px solid #ddd;
	border-left:5px solid #ccc;
	background:none;
}

.comments ul li ul li.reply-to-reply{
  margin:10px 0px 0px 10px;

}

.comments ul li ul li.reply-to-reply-to-reply{
  margin:10px 0px 0px 20px;

}

.top-arrow {
  width:23px;
  height:23px;
  display:block;
  float:right;
  margin:-18px 0px 0px 10px;
}	

.bottom-arrow {
  
}

/* #REFERENCES
================================================== */


/* #SEARCH
================================================== */

.search {margin:-10px 0px 0px 0px;padding:0px;}

.form-select{
	width:180px;
	float:left;
	margin:3px 5px;
}


p.search-by-category, p.find-by-location{
	text-shadow: 0 1px #fff;
	color:#444;
	letter-spacing:1px;
	font-size:12px;
	line-height:1.3em;
	padding:13px 0px 0px 20px;
	float:left;
}

h6.search-options-expand {
	margin:5px 0px 0px 0px;
}

.search .expanding ul{
	border-bottom:0px;
	margin:0px 0px 0px 0px;
}


.search input, input.upload {
  background:#fff;
	height:13px;
	line-height:15px;
	border-top:1px solid #bbb;
	border-left:1px solid #bbb;
	border-right:1px solid #ddd;     
	border-bottom:1px solid #ddd;     
	text-shadow: #eee 0px 1px;
  font-family: /*"HelveticaNeueLight", "HelveticaNeue-Light", "Helvetica Neue Light", "HelveticaNeue", "Helvetica Neue", 'TeXGyreHerosRegular', "Helvetica", "Tahoma", "Geneva",*/ Arial, sans-serif;
  font-size:14px;
  letter-spacing:0.04em;
	margin:0px 10px 5px 0px;
	padding:10px 10px 10px 1px;
	-webkit-border-radius:  3px 3px;
	-moz-border-radius:  3px/3px; 
	border-radius: 3px;
	border-collapse: collapse;
	float:left;
}

input.upload {
  background:#fff;
	font-size:14px;
	width:90%;
  letter-spacing:0.04em;
	margin:0px 0px 10px -1px;
	padding:7px 10px 10px 10px;
	opacity:0.6;

}
input.upload:hover {
	opacity:1.0;
}

.search input:focus {
  background:#fff;
	border-top:1px solid #666;
	border-left:1px solid #666;
	border-right:1px solid #999;     
	border-bottom:1px solid #999;
}

input.search-button {
	width:auto;
	float:left;
	height:35px;
	color:#222;
  padding: 6px 10px;
	text-shadow: 0 1px #efefef;
	border: 1px solid #888;
  border-top: 1px solid #aaa;
	margin:0px 0px 0px 0px;
  border-left: 1px solid #aaa;
	background: #eee; /* Old browsers */
	background: -moz-linear-gradient(top, rgba(255,255,255,.2) 0%, rgba(0,0,0,.2) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,.2)), color-stop(100%,rgba(0,0,0,.2))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(255,255,255,.2) 0%,rgba(0,0,0,.2) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(255,255,255,.2) 0%,rgba(0,0,0,.2) 100%); /* Opera11.10+ */
	background: -ms-linear-gradient(top, rgba(255,255,255,.2) 0%,rgba(0,0,0,.2) 100%); /* IE10+ */
	background: linear-gradient(top, rgba(255,255,255,.2) 0%,rgba(0,0,0,.2) 100%); /* W3C */
}

input.re-submit {
  font-size:12px;
  line-height:15px;
  padding:0px;
  height:auto;
  letter-spacing:0.04em;
	margin:10px 10px 5px 0px;
	padding:5px 10px 5px 10px;
	background:#eee;
	border-color:#ccc;
  
}

.sort-by {
	margin:15px 10px -10px 15px;
	color:#999;
	
}
	
.sort-by.queued {
	margin:15px 0px -10px 15px;
	color:#ccc;
}
.sort-by a{
	font-weight:bold;
	color:#444;
	text-shadow: 0 1px #fff;
	font-size:1em;
	padding:0px 3px 0px 3px;
}

.sort-by a.active{
	padding:3px 9px 3px 9px;
	font-size:12px;
	margin:3px 6px 3px 0px;
	letter-spacing:1px;
	background:#777;
	border-radius: 3px;
	text-shadow: 0 -1px #666;
	width:auto;
	border-width:1px;
	border-style:solid;
	color:#fff;
	border-color:#666;
}

.sort-by a.active:hover {
  color:white;
}

float:left;
.sort-by.queued a{
	color:#555;
	text-shadow: 0 1px #fff;
	font-size:0.8em;
	padding:0px 3px 0px 3px;
}

.sort-by a:hover{
	color:#1366BA;
}


.search label {
  font-size:11px;
  font-weight:normal;
  letter-spacing:1px;
  padding:0px 0px 0px 5px;
}

input.form-text {
	width:527px;
	padding:11px 20px 10px 0px;
}

input.form-text.user-search {
	width:471px;
	padding:11px 20px 10px 0px;
	margin-bottom:10px;
}

.select-cat {
	float:left;
	width:196px;
	margin:5px 15px 10px 0px;
}
.select-cat.shorter {
	float:left;
	width:119px;
}

.select-cat.moderate-cat {
	width:179px;
	margin:5px 15px 10px 0px;
}


ul.queue {
	margin:-5px 0px 0px 0px;
}

ul.queue li{
	border-bottom:1px solid #ddd;
	padding:0px 0px 10px 0px;
	color:#333;
	text-shadow: #fff 0px 1px;
  
}
.search label.cat {
  padding:5px 0px 0px 5px;
}	

.search .options {
	float:left;
  margin:0px 0px 0px 0px;
}
/* #MAP
================================================== */
	
.map {
	margin: 0 10px;
	height: 200px;
}

.map img {
  border-width:1px;
	border-style:solid;
	border-color:#aaa #ddd #aaa #ddd;
	width:100%;
}

.map2 {
	width:100%;
	height:400px;
	background:url(../images/map.png) bottom right;
	border-width:1px;
	border-style:solid;
	border-color:#aaa #ddd #aaa #ddd;
}

ul.map-stats li{
	float:right;
	padding:10px 0px 10px 0px;
	margin:0px 0px 0px 20px;		
	border-width:1px;
	border-style:solid;
	border-color:#fff #fff #e2e2e2 #fff;
}
.count {	
	font-size:24px;
	font-family: 'DINBoldRegular';
	font-weight: normal;
    font-style: normal;
}			
.count-title{
	font-size:19px;
	padding:0px 8px 0px 8px;
	font-family: 'DINLightRegular';
}					
		


/* #FORMS (ISSUE, NEW ISSUE, PROFILE EDIT, )
================================================== */


.new-issue{
  
}

.new-issue .number{
  width:30px;
  float:left;
  color:#999;
  font-size:30px;
  margin:10px 6px 70px 0px;
  text-shadow: #fff 0px 1px;
}

label.add-on, label.add-on-2 {
	float:left;
	margin:-2px 20px 20px 0px ;
	width:32%;
	line-height:1em;
}

label.add-on-2 {
	width:18%;
}

textarea#Question, input#Answer, input#Answer3, input#info, textarea#Comment, textarea#Reply  {
  margin:0px 1% 30px 1px;
  resize: none;
  border-color:#999 #bbb #bbb #999;
  width:58%;
  float:right;
  padding:2% 1% 2% 1%;
  -webkit-border-radius:  3px 3px;
	-moz-border-radius:  3px/3px; 
	border-radius: 3px;
}

textarea#Comment {
  width:98%;
  margin:7px 1% 25px 1px;
}

textarea#Reply {
  width:98%;
  clear:both;
  margin:5px 2px 10px 1px;
}


span.assign {
  text-align:right;
  float:right;
  font-weight:bold;
  color:#777;
  font-size:13px;
  margin:-10px 8px 10px 0px;
}
.value-select {
  float:right;
  margin:0px 0px -10px 0px;
  padding:0px 0px;
}

label.value {
  float:left;
  font-weight:normal;
  padding:0px 10px 0px 0px;
}

select.select-value {
  float:left;
  font-weight:normal;
  width:60px;
  margin:0px 6px 20px 0px;
}

.submit-comment {
  margin:6px 7px 0px 0px;
}

.submit-reply {
  margin:0px 3px 10px 0px;
}
input#Answer {
   margin:0px 0px 20px 0px;
   padding:1% 1% 1% 1%;
}



input#Answer3 {
  margin:2px 6px 20px 0px;
	padding:7px 0px 7px 4px;
}

input#info, textarea#info {
   margin:2px 0px 20px 0px;
   padding:1% 1% 1% 1%;
	 width:30%;
	float:left;
}

#effect2 {border:#fff 1px solid}
.toggler-show form {margin:10px 5px 0px 0px;}
.toggler-show p {font-size:12px;text-align:right;margin:-5px 2px 0px 0px;font-style:italic}
textarea#Answer {
  margin:0px 0px 0px 0px;
  padding:0px 0px 00px 0px;
  width:65%;
  -webkit-border-radius:  3px 3px;
	-moz-border-radius:  3px/3px; 
	border-radius: 3px;
}

label span.title, label span.title-2  {
	font-weight:normal;
	line-height:1.5em;
	font-size:18px;
	text-shadow: #fff 0px 1px;
}


label span.title-2  {
	line-height:2em;
	font-size:13px;
}

small.red {color:red;font-size:11px}


label span.guides {
	font-weight:normal;
	line-height:1em;
	text-shadow: #fff 0px 1px;
}

.add input {
	width:160px;
  background:#fff;
	height:13px;
	line-height:15px;
	border-top:1px solid #bbb;
	border-left:1px solid #bbb;
	border-right:1px solid #ddd;     
	border-bottom:1px solid #ddd;     
	text-shadow: #eee 0px 1px;
  font-family: /*"HelveticaNeueLight", "HelveticaNeue-Light", "Helvetica Neue Light", "HelveticaNeue", "Helvetica Neue", 'TeXGyreHerosRegular', "Helvetica", "Tahoma", "Geneva",*/ Arial, sans-serif;
  font-size:14px;
  letter-spacing:0.04em;
	margin:0px 10px 5px 0px;
	padding:10px 10px 10px 10px;
	-webkit-border-radius:  3px 3px;
	-moz-border-radius:  3px/3px; 
	border-radius: 3px;
	border-collapse: collapse;
	float:left;

}

.add input:focus {
  background:#fff;
	border-top:1px solid #666;
	border-left:1px solid #666;
	border-right:1px solid #999;     
	border-bottom:1px solid #999;
}

input.add-answer {
	opacity:0.8;
	float:right;
	margin:-15px 2px 5px 0px;
}
input.add-answer:hover {
	opacity:1.0;
}

label.before-submit {
	line-height:1em;
	font-weight:normal;
	text-align:left;
	color:#A3770F;
	margin:0px 2px 27px 0px;
	
}

hr.bottom {
	margin:20px 0px;
}
input.submit-issue {
	float:right;
	font-weight:normal;
	text-transform:uppercase;

}

a.dupes {margin:-15px 5px 10px 0px}

/* #USER PROFILE
================================================== */

ul.privacy, ul.subscription, ul.answer-value  {
	margin:-5px 0px 5px 0px;
	width:45%;
	float:right;
}

ul.subscription  {
	margin:0px 0px 5px 0px;
	width:100%;
	float:right;
}

ul.answer-value  {
	width:40%;
	margin:-15px 0px 5px 0px;
	float:right;
}
ul.privacy li, ul.subscription li, ul.answer-value li{
	float:right;
	text-align:center;
	width:22%;
	margin:0px 0px 0px 1%;
}

ul.subscription li{
	float:right;
	text-align:center;
	width:32%;
	margin:0px 0px 0px 1%;
}

ul.answer-value li{
	float:left;
	width:13%;
	margin:0px 0px 0px 1%;
}


span.left {float:left;padding:0px 0px 0px 0px}
.privacy-info {
	float:right;
	width:40%;
	color:#777;
	margin:-55px 0px 0px 0px;
}

.visible-to {
	font-size:10px;
	width:50px;
	margin:0px 0px -14px 0px;
	float:left;
	visibility:hidden;
}
.privacy-info p{
	font-size:12px;
	text-align:right;
	line-height:1.3em;
	text-shadow:0px 1px #fefefe;
	
}

.message.top-message {
	background:url(../images/ui-bg_diagonals40x40_green.png);
	border-width:1px;
	border-style:solid;
	border-color:#d2d2d2 #e5e5e5 #e5e5e5 #ddd;
	margin:30px 0px 0px 10px;
	padding:22px 22px 10px 22px;
	border-radius: 3px;
}	

.message.right-message {
	background:url(../images/ui-bg_diagonals40x40.png);
	border-width:1px;
	border-style:solid;
	border-color:#d2d2d2 #e5e5e5 #e5e5e5 #ddd;
	margin:27px 0px 0px 5px;
	padding:22px 22px 10px 22px;
	border-radius: 3px;
}


.top-message p {
	width:70%;
}

.right-message p {
	width:auto;
}
.profile-meta p{
	line-height:1em;
	font-size:13px;
	text-shadow:0px 1px #cecece;
}	
.profile-meta.top-message .profile-meta p{
	line-height:1em;
	font-size:13px;
	text-shadow:0px 1px #cecece;
	display:block;
}

.profile-meta.quick-profile {
	margin-top:-20px;

}
#footer .profile-meta {
	float:left;
	width:100%;
	margin-top:-10px;

}

#footer .profile-meta p{
	line-height:1em;
	font-size:13px;
	color:#999;
	text-shadow:0px -1px #111;

}
.profile-meta-2 p{
	line-height:1em;
	font-size:14px;
	text-shadow:0px 1px #fefefe;
}

img.profile-meta {
  border-width:1px;
	border-style:solid;
	border-color:#666 #999 #999 #888;
	background:#ddd;
	float:left;
	margin:-15px 12px 10px 0px;
	width:145px;
	height:145px;
}

img.user-profile-edit{
  border-width:1px;
	border-style:solid;
	border-color:#666 #999 #999 #888;
	background:#ddd;
	float:left;
	margin:-6px 12px 10px 0px;
	width:75px;
	height:75px;
}

img.user-profile{
  border-width:1px;
	border-style:solid;
	border-color:#333 #444 #444 #333;
	background:#ddd;
	float:left;
	margin:-15px 12px 10px 1px;
	width:50px;
	height:50px;
}

.small-prog {
  width:210px;
}
.medals {float:left;margin:-15px 0px 0px 0px}
.medal {margin:0px 0px 10px 0px}
#footer .medal{margin:0px 10px 10px 0px;float:left}
.medal.quick-profile{margin:0px 10px 10px 0px;float:left;}
.bronze, .silver, .gold {cursor:pointer;padding:2px 8px 2px 8px;border-radius: 10px;margin:0px 5px 10px 0px;border-width:1px;border-style:solid;border-color:#9a9a9a #9c9c9c #9e9e9e #9a9a9a;}
#footer .bronze, #footer .silver,  #footer .gold {cursor:pointer;padding:2px 8px 2px 8px;border-radius: 10px;margin:0px 5px 10px 0px;border-width:0px;border-style:solid;border-color:#444;}

.bronze {background:#D1A619;}
.silver {background:#ececec}	
.gold {background:#F7DB07}		
.medal {font-weight:bold;font-size:12px;text-shadow:0px 1px #cecece;}
#footer .medal {font-weight:bold;font-size:12px;text-shadow:0px -1px #000;color:#777;}
.profile-activity {
}

img.coin { margin:0px 5px 0px -2px}
img.coin2 { margin:-2px 5px 0px -2px}
p.points {
	color:#333;
	font-size:12px;
	margin:4px 0px 0px 5px;
	padding:0px 0px 0px 10px;
}

p.points.white {
	color:#ccc;
}

span.user-title, span.user-data {
	font-size:12px;
	color:#333;
	text-shadow:0px 1px #cecece;
	letter-spacing:0.1em;
	line-height:0.6em;
}

span.user-data {
	font-weight:bold;
}

span.user-info {
	color:#333;
	font-size:12px;
	letter-spacing:0.1em;
	line-height:0.1em;
}

#button.hide-message{padding:4px 11px 4px 4px;}
#button.hide-message2{padding:4px 6px 4px 4px;}
.hide-message {position: absolute; right: 1.7em; top: 50%; width: 10px; margin: -10px 0 0 0; padding: 1px; height: auto;border:1px solid #ccc;border-radius: 3px;font-weight:bold;text-shadow: 0 1px #fff;}
.hide-message:hover {color:#222;border:1px solid #999;}

.hide-message2 {float:right;width: auto; margin: -4px -6px 0 0; padding: 1px; border:1px solid #ccc;border-radius: 3px;font-weight:bold;text-shadow: 0 1px #fff;}
.hide-message2:hover {color:#222;border:1px solid #999;}
.profile-message {width:auto;height:auto;margin:0px 0px 0px 0px;}
.user-info {margin:0px 0px 10px 0px;}
span.URL {white-space:nowrap;}
span.light {color:#888}
span.lighter {color:#777;}

label.login {text-align:right;text-transform:none;color:#000;font-weight:normal;font-size:12px;margin:-10px 0px 10px 0px}	
.login-site {margin:0px 0px -10px 0px;}
span.sort {font-weight:normal;letter-spacing:0.1em;font-weight:bold;color:#666;text-shadow: 0 1px #fff;font-size:0.8em;margin:0px 3px 0px -15px;}

span.activity {font-weight:bold;letter-spacing:0.1em;font-weight:bold;color:#999;text-shadow: 0 1px #fff;font-size:13px;padding:0px 3px 0px 3px;}
.activity.map-title {font-weight:bold;letter-spacing:0.1em;color:#999;text-shadow: 0 1px #fff;font-size:13px;border-bottom: 1px solid #D2D2D2; margin: 0 10px 9px; padding: 0 3px 10px;}

.action span.date {color:#BA00A4;}
.action span.name {color:#BA00A4;font-weight:bold}
.action span.name a{color:#BA00A4;font-weight:bold}


.action ul {}
.action ul.ref {margin:0px 0px 0px 0px;padding:0px;}
.action  li {padding:10px 5px 15px 5px;margin:0;clear:both;}
.action ul.ref li {padding:10px 5px 15px 5px;margin:0px 0px 10px 0px;clear:both;}
.action  li:last-child {padding:10px 5px 0px 5px;}
.action  li:first-child {padding:0px 5px 15px 5px;}

p.action-item {padding:0px 4px 0px 0px;margin:0px 0px 0px 60px;font-size:13px;}
p.profile.action-item {padding:0px 4px 0px 0px;margin:0px 0px 0px 10px;font-size:13px;}

p.action-comment-ref {padding:0px 10px 0px 10px;margin:10px 0px 0px 60px ;font-size:13px;white-space:inherit;border-left:3px solid #ccc;}
p.action-ref {padding:0px 10px 0px 0px;margin:10px 0px 0px 60px ;font-size:13px;white-space:inherit;color:#666}
p.action-ref {color:#ccc}
p.profile.action-comment-ref {padding:0px 10px 0px 10px;margin:10px 0px 0px 20px ;font-size:13px;white-space:inherit;border-left:3px solid #ccc;}

.action.prof {border-bottom:1px solid #ddd;padding:10px 5px 10px 5px;margin:0px;}
.action.prof p.ref {padding:10px 0px 0px 10px;font-size:13px;}



.action p.ref {margin:0px 0px 10px 20px;font-style:italic;font-size:90%;line-height:1.2em}

.more {float:right;font-weight:bold;margin:10px 0px 0px 0px}


.following {}
	
img.following-user, img.user-thumb {width:44px;height:44px;margin:10px 2px 0px 2px; border-width:1px;border-style:solid;border-color:#666 #999 #999 #888;background:#ddd;}
img.following-user-2 {float:left;width:60px;height:60px;margin:8px 10px 0px 2px; border-width:1px;border-style:solid;border-color:#666 #999 #999 #888;background:#ddd;}
img.user-thumb {margin:5px 10px 0px 2px; }

img.reference-thumb{width:44px;height:44px;margin:5px 10px 0px 60px; border-width:1px;border-style:solid;border-color:#666 #999 #999 #888;background:#ddd;float:left;}

img.following-user.listed {width:44px;height:44px;margin:5px 13px 0px 2px; border-width:1px;border-style:solid;border-color:#666 #999 #999 #888;background:#ddd;float:left}

.following a.more, .following a.find  {font-size:12px;letter-spacing:0.1em;}
a.more:hover, a.find:hover  {color:#000;font-size:12px;letter-spacing:0.1em}

.badge {cursor:pointer;padding:0px 5px 0px 5px;border-radius: 6px;margin:0px 5px 10px 0px;background:#98BF58;font-size:9px}
.badge.gold {background:#F7DB07;}
.badge.bronze {background:#D1A619;}
.badge.silver {background:#ececec;}



.profile-complete {
	height:7px;
	width:98.5%;
	background:#A39D8C;
	opacity:0.9;
	margin:-5px 0px 15px 1px;
}

.profile-message .profile-complete {
	width:80.5%;


}
.profile-complete .progress{
	width:75%;
	height:7px;
	background:#99F279;
}

p.profile-status {
  font-size:14px;
}



/* #Pagination
================================================== */

.pagination {margin:0px 0px 10px 0px;padding:0px 0px;}

.pagination ul {margin:0px 0px 10px 0px;padding:0px 0px;float:right;}

.pagination ul li {margin:0px 0px;padding:0px 5px 0px 5px;float:left;}

.pagination a{color:#777;font-weight:bold;}
.pagination a.active{background:#777;border-radius: 3px;text-shadow: 0 -1px #666;width:auto;padding:1px 5px 2px 5px;border-width:1px;border-style:solid;color:#fff;border-color:#666;}
.pagination a.active:hover{color:#fff;}

.pagination a:hover{color:#EF00D3;}

.pagination a.prev{float:left;margin:-2px 5px 0px 0px;}

.pagination a.next{float:left;margin:-2px 5px 0px 5px;}

/* #Footer
================================================== */


.foot-link {
	text-align:left;
}
.foot-link a {
	color:#ccc;
	text-shadow: 0 -1px #111;		
	font-size:1.3em;
	letter-spacing:0.05em;	
}

.foot-link a:hover {
	color:#fff;
	text-shadow: 0 -1px #000;	
}

a.facebook, a.twitter {
	background: url(../images/facebook.png) left center no-repeat;
	border-radius: 3px;
	display:block;
	width:35px;
	height:40px;
	margin:0px 0px 10px 0px ;
}
a.twitter {
	background: url(../images/twitter.png) left center no-repeat;
	width:39px;
	height:40px;
	margin:-2px 5px 20px -10px ;
}

p.policy {
	margin:0px 6px 5px 15px;
	color:#888;
	text-align:right;
	font-size:11px;
	line-height:1.2em;
	letter-spacing:0.1em;
	text-transform:uppercase;
	text-shadow: 0 -1px #111;	
}

p.policy a{
	padding:0px 0px 0px 5px;

	color:#888;

}

p.policy a:hover{
	color:#fff;

}

.footerfloat {
	width:33%;
}

.din {
	font-family: 'DINLightRegular', Arial, sans-serif;
	font-weight: normal;
	font-style: normal;
}	

.half {
	font-size:28px;line-height:1em;
}

.half2 {
	font-size:18px;line-height:1em;
}

.halfgrey {
	color:#555;
}

.ryde {
	font-family: 'StRydeRegular', Arial, sans-serif;
	font-weight: normal;
	font-style: normal;
}
	
.dinbold {
	font-family: 'DINBoldRegular', Arial, sans-serif;
	font-weight: normal;
	font-style: normal;
}

h2.din a {color:#000}
h2.din a:hover {border-bottom:1px dotted #ccc;color:#000}

/* #Misc
================================================== */
  
.no-bg {background:none;}
.centered {text-align:center;width:100%;}
.auto-height {height:auto;}


/*openwave*/
.grey-box-cat {
		background: url(../images/white_50.png) repeat 0 0;
		border: 1px solid #d2d2d2;
		margin: 30px 0 0;
		padding: 20px;
		-webkit-border-radius: 4px;
		-moz-border-radius: 4px;
		border-radius: 4px;
		-khtml-border-radius: 4px;
		-o-border-radius: 4px;
	}
  .activity-stream p a {
		font-weight:normal;
	   	color:#1366BA;
                text-decoration:none;
	}
.activity-stream .submitted{
        font-size: 11px;
        display: block;
		text-align: right;
}
.map-stats .count-title a{
    color: #000;
    text-decoration: none;
}
.white-box ul.map-stats {
    float: left;
	margin: 5px 13px 15px;
}
.black-box .medals .points{
    color: #cccccc;
}
textarea#q_quest  {
  margin:0px 1% 30px 1px;
  resize: none;
  border-color:#666 #aaa #aaa #666;
  width:58%;
  float:right;
  padding:2% 1% 2% 1%;
  -webkit-border-radius:  3px 3px;
	-moz-border-radius:  3px/3px;
	border-radius: 3px;
}
.eleven .grey-box {
    height: auto;
}
#poll-choices input.error{
    border: 2px solid red;
}
.grey-box textarea.error{
    border: 2px solid red;
}
.container .nine .grey-box .uactivity {
    height: 795px;
	overflow: auto;
	overflow-y: auto;
	overflow-x: hidden;
}
.seven .foot-empty{
    height: 174px;
}
.twelve .white-box h2 a{
    color: #333333;
    outline: 0 none;
    text-decoration: underline;
}
.choices .form-radios .form-item{
    background: none repeat scroll 0 0 #EEEEEE;
    border: 1px solid #E1E1E1;
    letter-spacing: 1px;
    margin: 3px 0 15px;
    padding: 10px;
    text-shadow: 0 1px #FFFFFF;
    width: 96%;
}
.poll .vote-form .choices {
    display: inherit;
}
.choices .form-radios .form-item:hover{
    background:#D3EDEA;
    border-width:1px;
    color:#000;
    border-style:solid;
    border-color:#82D1C8;
    cursor: pointer;
}
.choices .form-radios .form-item label.option {
    font-size: 1.1em;
}
.pagination .pager a{
    font-weight: normal;
}
.pagination .pager .pager-current{
    background: none repeat scroll 0 0 #777777;
    border: 1px solid #666666;
    color: #FFFFFF;
    padding: 1px 5px 2px;
    text-shadow: 0 -1px #666666;
    width: auto;
}
.pagination .pager .pager-item a{
    text-decoration: none;
    background: none;
    border: 0;
    color: #777777;
    padding: 1px 5px 2px;
    text-shadow: 0 -1px #666666;
    width: auto;
}
.pagination .pager .item-list .pager li {
    background-image: none;
    display: inline;
    list-style-type: none;
    padding: 5px;
}
.pager-next a.active, .pager-previous a.active{
    background: none;
    text-decoration: none;
    border: 0;
    color: #777777;
    padding: 1px 5px 2px;
}

.pagination ul li {
    float: none;
}
.pagination .pager a:hover{
    color: #EF00D3;
}
/*Active Category*/
.four .grey-box {
    padding: 22px 20px 10px 14px;
}
.twelve .suggest{
    float: right;
    width: 73%;
}
.suggest .suggest-error{
    font-size: 10px;
    color: #ff0000;
}
.suggest input.light{
    margin-top: 15px;
}
.suggest input#Answer3  {
    width: 75%;
}
.twelve .sugg-hide{
    display: none;
}
#add-new-debate-form .value-select .form-item{
    float: left;
}
#add-new-debate-form .value-select label.value{
    padding: 12px 10px 0 0;
}
#add-new-debate-form .value-select select.select-value{
    margin: 0 6px 3px 0;
}
.select-cat{
    width: 170px;
    margin: -12px 15px 10px 0;
}
.likebar{
    margin: 0 0 10px 1px;
    opacity: 0.9;
}
.likebar .like-per{
    background: none repeat scroll 0 0 #84D861;
    height: 5px;
}
.likebar .dislike-per{
    background: none repeat scroll 0 0 #DD5345;
    height: 5px;
}
#deb-err{
    color: #FF0000;
}
textarea#deb_title, textarea.textarea-input  {
    margin: 7px 1% 25px 1px;
    width: 98%;
}

textarea#deb_title, textarea.textarea-input {
    -moz-border-radius: 3px 3px 3px 3px;
    border-color: #666666 #AAAAAA #AAAAAA #666666;
    float: right;
    margin: 0 1% 30px 1px;
    padding: 2% 1%;
    width: 98%;
}
.ref img{
    float: left;
}
.ref span img, .ref span a img{
    padding-right: 7px;
}
.error-msg{
    color: #FF0000;
}
.suc-msg{
    color: #84D861;
}
.res-reply li{
    background: none repeat scroll 0 0 transparent;
    border-bottom: 1px solid #DDDDDD;
    border-left: 1px solid #CCCCCC;
    font-size: 1em;
    margin: 10px 0 0;
    padding: 5px 0 0 20px;
}
.listbox1{
    width: 99%;
}
.img-selector{float:left; margin-right:10px; width:118px; height:73px; overflow:hidden;}
.vote-results ul li {
    width: 49.5%;
}
.vote-results ul li img {
    width: auto;
}
input.info, textarea.info {
    float: left;
    margin: 2px 0 20px;
    padding: 1%;
    width: 29%;
}
.privacy .form-radios .form-item{
    float: right;
    margin: 0 0 0 1%;
    text-align: center;
    width: 22%;
    border: 0px solid #ff0000;

}
.subscription .form-radios .form-item{
    float: right;
    margin: 0 0 0 1%;
    text-align: center;
    width: 32%;
}
.user-avatar-select img{
    width: 44px;
    height: 44px;
}
.avatar-left img{
    background: none repeat scroll 0 0 #DDDDDD;
    border-color: #666666 #999999 #999999 #888888;
    border-style: solid;
    border-width: 1px;
    float: left;
    height: 75px;
    margin: -6px 12px 10px 0;
    width: 75px;
}
.follow-links .form-select{
    clear: both;
    float: left;
    width: 119px;
}
.follow-links .form-text{
    margin-left: 6px;
}
.icon.photo {
    padding: 1px 18px 0 146px;
    position: absolute;
}
.icon.profile{
    padding: 1px 18px 0 206px;
    position: absolute;
}
input.form-text.upload{
    width: 90%;
}
.action a, .action a:visited{
    color: #1366BA;
    font-weight: normal;
    text-decoration: none;
}
.now-foll-txt, .foll-user-area{
    float: left;
    padding:5px;
}
.foll-user-area a{
    
}
#cit-stat{
    margin-left: 136px;
    margin-top: 17px;
    position: absolute;
}

/*moderator*/
#poll-choices .privacy-answer{
    width: 400px;
    padding-left: 244px;
}
#poll-choices .privacy-answer span{
    padding-left: 23px;
}
#radio-div{
    margin-left: 256px;
    width: 500px;
}
#radio-div .form-radios .form-item {
    border: 0 solid #FF0000;
    float: left;
    margin: 0 0 0 1%;
    text-align: center;
    padding-left: 4px;
}
#moderator-edit-issue-form input.form-text  {
    padding: 11px 20px 10px 0;
    width: 300px;
}
.b-textbox{
    margin: 0 0 20px;
    padding: 1%;
     -moz-border-radius: 3px 3px 3px 3px;
    border-color: #999999 #BBBBBB #BBBBBB #999999;
    float: right;
    padding: 2% 1%;
    width: 58%;
}
#possible-dupe-form .form-radios .form-item{
    border-bottom: 1px solid #DDDDDD;
    color: #333333;
    padding: 0 0 10px;
    text-shadow: 0 1px #FFFFFF;
    line-height: 18px;
    margin-bottom: 12px;
}
#possible-dupe-form .form-radios label{
    font-size: inherit;
}
.new-issue .form-select  {
    float: left;
    margin: 3px 29px 0 0;
    width: 156px;
}
.twelve .page{
    min-height: 554px;
}
.twelve .page .form-select  {
    float: inherit;
}

.vote-count-poll{
    float:left;
    margin-top: 14px;
    padding: 0px 7px;
}
.vote-count-poll .post-vote-result{
    margin-bottom:12px;
}
.poll-vote-area{

}
.poll-vote-area p a:visited{
    text-decoration:none;
}
.poll .form-radios{
    width: 100%;
}
.voting-pane{
    width: 85%;
    float: left;
}
#dialog-flag .form-radios .form-item, .form-flag .form-radios .form-item{
    float: left;
}
#dialog-flag #abuse-report-form, .form-flag #abuse-report-form{
    font-size: 10px;
}
#abuse-report-form #flag-error{
    color: #FF0000;
}
.twelve a.stats-quick{
    margin: 1px 0 3px;
}
.follow-links .form-radios{
    margin-left: 380px;
    position: absolute;
}
.follow-links .form-radios .form-item{
    float: left;
    padding: 0 23px;
}
.follow-links .form-radios .form-item input.form-radio{
    margin-top: 15px;
}
.follow-links .form-radios .form-item .privacy-answer{
    margin-left: -33px;
    position: absolute;
}
.choices .form-radios .staygreen{
    background:#D3EDEA;
    border-width:1px;
    color:#000;
    border-style:solid;
    border-color:#82D1C8;
    cursor: pointer;
}
.v-msg{
    color: #2A720C;
    padding-bottom: 7px;
}

p{ line-height:1.2em;}

/*Clear*/

.top-right.login:after,
ul.lang:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}

/*New styles*/

ul.menu li:last-child a {
	background-color: #cc2027;
	color: #fff;	
}

ul.menu li:last-child a:hover {
	background-color: #434bf0;
	color: #fff;
}

ul.menu.second li:last-child a.add {
	background-color: #ccc;
	color: #000;	
}

ul.menu.second li:last-child a.add:hover {
	background-color: #000;
	color: #fff;	
}

ul.menu.second li:first-child {
	position: absolute;
    right: 119px;
}

ul.menu.second li:first-child a.add {
	background-color: #f6eb16;
	color: #000;
}

ul.menu.second li:first-child a.add:hover {
	background-color: #000;
	color: #fff;
}

.ajax-loader {
  background:url(../images/ajax-loader.gif) no-repeat;
  float:right;
  padding:10px;
  clear:both;
}

body.admin-menu {
    margin-top: 52px !important;
}

.sixteen .border-bottom {
    margin: 52px 0 0 0;
	padding: 16px 10px 15px;
}

.banner-text {
	float: left;
	width: 77%;
	padding-top: 4px;
	line-height: 1.1;
}

.banven {
	float: right;
	display: block;
	margin-left: 15px;
}
.container .nine .grey-box ul {
	margin: 0;
}

.container .nine .grey-box .uactivity a {
	text-decoration: none;
}

.container .nine .grey-box .uactivity a:hover {
	text-decoration: underline;
}

.jScrollPaneContainer .uactivity  {
	padding-right: 5px;
	width: 95% !important;
}