/*Custom media queries for Heardmentality*/	
	

/* #Media Queries
================================================== */

	/* Anything smaller than standard 960 */
	
	@media only screen and (max-width: 967px) {
	  
		.hide-on-mobiles {
			display:none;
		}
		
		.top-mobile .border-bottom {
			margin-top: 32px;
		}
		
		.circle-box {
			background:url(../images/circle_bg.png) center -13px no-repeat;
			margin:50px 0px 10px 0px;
			width:100%;
			height:170px;
		}
		
		.see-banner, .vote-banner, .share-banner {
			font-size:20px;
			padding:75px 0px 0px 0px;
		}
		
		.error-banner {
			padding:75px 0px 0px 0px;
			font-size:40px;
		}
		
		textarea#Question, input#Answer  {
			width:97%;
			float:none;
		}
    
		.new-issue .number{
			width:30px;
			float:none;
			color:#999;
			font-size:30px;
			margin:-10px 6px 10px 0px;
			text-shadow: #fff 0px 1px;
		}
		
		.profile-meta img{
			width:105px;
			height:105px;
		}
		
		input.add-answer {
			margin:0px 5px 5px 0px;
		}

		.button.participate {
			margin:2px 0px 0px 0px;
    	}
		
		.banner-text {
			width: 75%;
		}
		
		.container .nine .grey-box .uactivity {
			height: 700px;
		}
		
		/*Edit profile*/
		
		.icon.photo {
		    padding: 1px 18px 0 125px;
		}
		
		.profile-meta p {
			line-height: 1.2em;
		}
		
		.grey-box #divConnect {
			width: 138px !important;
			overflow: hidden;
		}
		
		input.info.form-text, textarea.info.form-text {
		    width: 93%;
		}
		
		.profile-meta img {
			height: 138px;
			width: 138px;
		}
		
		.avatar-left #edit-file-upload {
			max-width: 190px;
		}
		
		/*View profile*/
		
		span.activity {
			display: none;
		}
		
		.sort-by.profile a {
			padding: 0 6px;
		}
		
		.sort-by.profile li:first-child a {
			padding-left: 0;
		}
		
	}

/* iPad Portrait/Browser */

	@media only screen and (min-width: 768px) and (max-width: 991px) {
	
		input.form-text, input.form-text.user-search {
			width: 338px;
		}
		
	
		.main-banner-display {
			display: none;
		}

		.select-cat {
			float: left;
			width: 149px;
		}
		
		.select-cat.moderate-cat {
			width: 134px;
		}
		
		.banner-text {
			font-size: 22px;
			line-height: 1.2;
			width: 75%;
		}
		
		.button.participate {
			margin: 2px 0px 0px 0px;
    	}
    	
    	ul.vote li.post {
			width: 80%;
    	}
    	
    	p.suggest-answer {width:100%; margin:10px 0px; padding:0px 0px;}
		fieldset.suggest-answer li {width:auto;}
		
	}
	
	/* iPad Portrait Only */
	@media only screen and (min-width: 768px) and (max-width: 991px) and (max-device-width: 1000px) {
	
	}
	
	/* Mobile/Browser */

	@media only screen and (max-width: 767px) {
	
		input.form-text, input.form-text.user-search {
			width: 250px;
		}
		
		h6#reply {
			margin:10px 3px 10px 0px;
		}
    
		.main-banner-display {
			display: none;
		}

		.banner-text {
			font-size:22px;
			width:100%;
			line-height: 1.3;
		}
		
		ul.vote li.post {
			width:auto;
		}
		
		p.suggest-answer {width:100%;margin:10px 0px;padding:0px 0px;}
		fieldset.suggest-answer li {width:auto;}
		
		/*Edit Profile*/
		
		#edit_profile ul.privacy {
			clear: both;
			float: none;
			margin: 0;
			width: 100%;
			padding-top: 8px;
		}
		
		#edit_profile ul.privacy li span{
			font-size: 11px;
			line-height: 13px;
			font-style: italic;
		}
		
		#edit_profile ul.privacy li,
		#edit_profile .privacy .form-radios .form-item,
		.subscription .form-radios .form-item,
		ul.subscription li {
			float: right;
			margin: 0 1% 0 0;
			text-align: left;
			width: 24%;
		}
		
		.subscription .form-radios .form-item,
		ul.subscription li {
			width: 32.33%;
		}
		
		ul.privacy #income li,
		#edit_profile .privacy #income .form-radios .form-item {
			margin-right: 1%;
			width: 99%;
		}

		label.add-on-2 {
			width: 100%;
			margin: 0 0 5px;
		}
		
		label.add-on-2.small {
			margin-top: 0;
		}
		
		label.add-on-2 span {
			font-weight: bold;
		}
		
		#edit_profile select {
			margin: 0;
		}
		
		#edit_profile li.country-info ul.privacy {
			margin-top: 0;
		}
		
		#edit_profile .user-info-inputs > li .form-item {
			width: 100%;
		}
		
		#edit_profile .validate-error, #edit_profile .validate-error-wait {
			padding: 8px 0 0;
			width: 100%;
		}
		
		ul.privacy li {
			margin-top: 0;
		}
		
		.visible-to {
			display: block;
		}
		
		form#user-details #update_submit {
			float: left;
		}
		
		.dark-grey-box.top,
		.filter_search.issues_search {
			margin-top: 30px;
		}
		
		.grey-box #divConnect {
			width: auto !important;
			overflow: visible;
		}
		
		#edit_profile h2.din {
			width: 100%;
		}

		#edit_profile .user-info-inputs > li {
			margin-bottom: 15px;
		}
	
	}
	
/*******************************
Mobile Only 
*******************************/
	@media only screen and (max-width: 767px)  {
		
		select option {
			padding: 0 3px;
		}
		
		.hide-on-mobiles {
			display:none;
		}
		
		.top-mobile .border-bottom {
			margin-top: 32px;
		}
		
		.top-left {
			float:none;
			/*background:#D81A29;*/
			margin: 0;
		}

		ul.menu {
			float:left;
			margin:0px 0px 0px 0px;
		}
		
		ul.menu li{
			float:left;
			color:white;
			text-transform:uppercase
		}
		
		ul.menu li.login{
			background:transparent;
		}
		
		ul.menu li a{
			color:white;
			text-decoration:none;
			line-height:15px;
		}
		
		ul.menu li a:hover{

		}
		
		.top-right { 
			background:#000;
			float:right;
			margin:0px 0px 0px 8px;
		}
		
		.top-right.login { 
			float:none;
			width:auto;
			margin: 0;
			padding: 0;
  		}
			
		a.logo {width:auto;margin:0px 0px 0px 0px;text-align:left;float:none}
		
		.top-right.login a.login {
			float: none;
			text-align: left !important;
			background-color: #222 !important;
		}
		
		.top-right.login a#dialog_link:hover {
			color: #000;
			background-color: #F6EB16 !important;
			padding: 7px 12px 0;
		}
		
		.top-left.user-menu ul.menu {
			float: none;
			width: 100%;
		}
		
		.top-left.user-menu ul.menu li {
			float: left;
			width: 100%;
		}
		
		.top-left.user-menu ul.menu.second li {
			float: left;
			min-width: 50%;
			width: auto;
		}	
		
		.top-left.user-menu ul.menu li a {
			display: block;
			float: none;
			text-align: left;
			white-space: nowrap;
			/*font-size: 92%;*/
		}
		
		.top-left.user-menu ul.menu.second li:first-child {
			position: relative;
			right: 0;
		}
		
		.line-bottom {
			background:#DDDDDD;
			height:auto;
		}
		
		.circle-box {
			background:url(../images/circle_bg.png) 0px -210px no-repeat;
			margin:20px auto;
			display:block;
			width:300px;
			height:300px;
		}
			
		.see-banner, .vote-banner, .share-banner {
			font-size:40px;
			padding:145px 0px 0px 0px;
		}
		
		.error-banner {
			padding:145px 0px 0px 0px;
			font-size:80px;
		}
		
		ul.menu li a.add {display:block;float:left;}
		
		input.form-text, input.form-text.user-search {
			width:120px;
		}
		
		textarea#Comment {
			width:99%;
			margin:0px 0px 20px 10px;
		}
    
		textarea#Reply {
			width:99%;
			margin:0px 0px 20px 10px;
		}

		.select-cat {
			float:left;
			width:100%;
		}

		ul.privacy {
			width:100%;
			margin:5px;
		}
		
		ul.subscription {
			float:left;
			margin:10px;
		}
		
		li.always-invisible {
			margin:10px 0px 0px 0px;
			width:200px;
			font-size:12px;
		}
		
		input#info, textarea#info {
			margin:2px 0px 20px 0px;
			padding:1% 1% 1% 1%;
			width:98%;
			float:left;
		}
		
		.privacy-info {
			float:left;
			width:auto;
			margin:0px 0px 0px 0px;
		}
		
		.privacy-info p{
			text-align:left;
		}
		
		h2 {font-size:1.8em;line-height:1.2em;}
		.white-box h1 {margin-right:20px;}
		
		input.add-answer {
			margin:0px 4px 5px 0px;
		}	
    
   
		.button.participate {
			margin: -10px 0px 20px 0px;
    	}
    	
    	.vote-results ul li{ float:none;width:94.5%;}
		
		.banner-text {
			width: 100%;
			padding: 0;
		}

		.banven {
			padding-top: 10px;
		}
		
		ul.lang {
			max-width: 100%;
		}
		
		/*Edit Profile*/
		
		#edit_profile ul.privacy {
			margin: 0 0 0 25%;
			width: 75%;
			padding: 0;
		}
		
		#edit_profile ul.privacy li span{
			font-size: 11px;
			line-height: 13px;
			font-style: italic;
		}
		
		#edit_profile ul.privacy li,
		#edit_profile .privacy .form-radios .form-item,
		.subscription .form-radios .form-item,
		ul.subscription li {
			float: right;
			margin: 0 1% 0 0;
			text-align: center;
			width: 24%;
		}
		
		.subscription .form-radios .form-item,
		ul.subscription li {
			width: 32.33%;
		}
		
		ul.privacy #income li,
		#edit_profile .privacy #income .form-radios .form-item {
			margin-right: 76%;
			width: 24%;
		}

		label.add-on-2 {
			width: 100%;
			margin: 0 0 5px;
		}
		
		label.add-on-2.small {
			margin-top: 0;
		}
		
		label.add-on-2 span {
			font-weight: bold;
		}
		
		#edit_profile select
		/*#edit_profile li.country-info ul.privacy*/ {
			margin: 0;
		}
		
		input.info.form-text, textarea.info.form-text {
		    width: 95%;
		}
		
		#edit_profile .user-info-inputs > li .form-item {
			width: 100%;
		}
		
		#edit_profile .validate-error, #edit_profile .validate-error-wait {
			padding: 8px 0 0;
			width: 100%;
		}
		
		ul.privacy li {
			margin-top: 0;
		}
		
		.visible-to {
		display: block;
		position: relative;
		text-align: right;
		top: 13px;
		width: 20%;
		padding: 0;
		color: #0c6926;
			}
		
		form#user-details #update_submit {
			float: left;
		}
		
		.dark-grey-box.top,
		.filter_search.issues_search {
			margin-top: 30px;
		}
		
		.grey-box #divConnect {
			width: auto !important;
			overflow: visible;
		}
		
		#edit_profile h2.din {
			width: 100%;
		}

		#edit_profile .user-info-inputs > li {
			margin-bottom: 15px;
		}
		
		#cit-stat {
			display: block;
			clear: left;
		}
		
	/*Issues search*/
	
	.poll-vote-area p.issue-meta {
		clear: both;
		float: none;
		margin: 0 30px;
		padding-top: 15px;
	}
	
	.search_list .button.vote {
		top: 20px;
	}
	
	ul.date_filter {
		padding-left: 1em;
		padding-right: 5em;
	}
	
	ul.options_filter {
		float: left;
		padding-left: 0;
	}
	
	/*ul.date_filter li a, ul.options_filter li a {
		font-size: 14px;
	}*/
	
	ul.date_filter li, ul.options_filter li {
		float: none;
		border: 0 none;
		list-style: square outside none;
		margin-top: 10px;
	}
	
	ul.date_filter li a, ul.options_filter li a {
		padding: 0 0 2px;
		display: inline-block;		
	}
	
	.item-list .pager li {
		margin: 0 0 0 0.5em;
	}
	
	.issues_search_page .ahah-progress-throbber,
	.issues_search_page .ahah-progress-throbber .throbber {
		display: none;
	}
	
	#new_vote .poll-vote-area fieldset legend a, #solr-issues-search-form .search_list .poll-vote-area fieldset legend a {
		text-transform: none;
	}
	
	#solr-issues-block-form select,
	#solr-issues-block-form select option	{
		padding: 0 3px;
	}
	
	body.front object {
		display: none;
	}
	
	/*View profile*/

	.sort-by.profile ul {
		padding-left: 1.5em;
	}	
	
	.sort-by.profile li {
		border: 0 none;
		float: none;
		list-style: square outside none;
		margin-top: 10px;
	}
	
	.sort-by.profile li:first-child {
		margin: 0;
	}
	
	.sort-by.profile li a {
		display: inline-block;
		padding: 0 0 2px;
	}
	
	/*Issue details*/
	
	.white-box.poll-box h2.din,
	.poll-box .ul_wrapper h2.din {
		font-size: 30px;
		line-height: 33px;
	}
	
	.vote-results li.part {
		width: 100%;
		clear: left;
	}
	
	.vote-results li.part.margin {
		margin: 10px 0;
	}
}

/*******************************
END Mobile Only 
*******************************/
	
/* Mobile Landscape/Browser */

	@media only screen and (min-width: 480px) and (max-width: 767px) {
		input.form-text, input.form-text.user-search {
			width:250px;
		}
		
		.select-cat {
			float:left;
			width:100%;
		}
		
		.select-cat.moderate-cat {
			width:100%;
		}
		
				
		input.info.form-text, textarea.info.form-text {
		    width: 97%;
		}
	}
	
/* Mobile Landscape Only */
	@media only screen and (min-width: 480px) and (max-width: 767px) and (max-device-width: 1000px) {
		
	}
	
/* Small screens */	
	@media only screen and (max-width: 480px){
		.visible-to {
			display: block;
			width: 100%;
			top: 0;
			padding-top: 13px;
			text-align: left;
		}
		
		#edit_profile ul.privacy {
			width: 100%;
			margin: 0;
			padding-top: 10px;
		}
		
		ul.date_filter {
			padding-left: 1.5em;
			padding-right: 3em;
		}
	}
