/* COMMON ELEMENTS */

.node-static {
  margin-bottom : 15px;
}

.node-static p {
  margin : 12px 0;
}

.node-static h1 {
  font-family   : 'DINLightRegular', 'Open Sans Condensed', Arial, sans-serif;
  font-size     : 28px;
  line-height   : 34px;
  margin-bottom : 8px;
}

.node-static p br {
  display : none;
}

h1.h1_privacy {
  margin-top : 25px;
}

/*---/ COMMON ELEMENTS*/

/* WHITE BOX */

#about_us_page_content h2.din {
  color      : #364E79;
  margin-top : 0.7em;
}

#about_us_page_content h2.din:first-child {
  margin-top : 0;
}

#about_us_page_content .innn {
  padding : 0 1em 0 1.2em;
}

#about_us_page_content .innn ul {
  list-style : disc outside;
  padding    : 0 0 0 40px;
}

#about_us_page_content .innn ul li {
  margin-bottom : 8px;
}

#about_us_page_content .button_donate {
  margin : 4px 0 8px 0;
}

#about_us_page_content a.nice_reach {
  background : url(../images/arrow_right.png) no-repeat scroll 0 3px transparent;
  display    : inline-block;
  color      : #934D9E;
  padding    : 5px 0 5px 26px;
  margin     : 3px 0;
}

#about_us_page_content a.nice_reach:hover {
  text-decoration : underline;
}

#about_us_page_content span.highlighted {
  color : #934D9E;
}

/* table */

#about_us_page_content #guide table {
  width  : 100%;
  margin : 20px 0;
}

#about_us_page_content #guide table td {
  padding : 5px 5px 5px 10px;
  border  : 1px solid #C0C0C0;
}

#about_us_page_content #guide table td ul {
  margin-bottom : 0;
  padding       : 0 0 0 30px;
}

#about_us_page_content #guide table td ul li {
  margin : 4px 0;
}

/*---/ table */

/* badges */

#about_us_page_content #badges table {
  margin    : 1em 0 2em 0;
  font-size : 13px;
}

#about_us_page_content #badges td {
  padding        : 9px 8px;
  vertical-align : middle;
}

#about_us_page_content #badges td:first-child {
  text-align : left;
}

#about_us_page_content #badges td:last-child {
  white-space : nowrap;
}

#badges tr {
  border-top : 1px solid #E5E5E5;
}

#badges tr:last-child {
  border-bottom : 1px solid #E5E5E5;
}

#badges .medal_wrapper {
  display        : inline-block;
  height         : 24px;
  padding        : 0 7px;
  background     : #333333;
  color          : #FFFFFF;
  font-size      : 13px;
  white-space    : nowrap;
  vertical-align : middle;
}

#badges .medal_wrapper:hover {
  background : #555555;
  cursor     : default;
}

#about_us_page_content #badges .bronze,
#about_us_page_content #badges .silver,
#about_us_page_content #badges .gold,
#about_us_page_content #badges .badge-circle {
  display        : inline-block;
  position       : relative;
  width          : 6px;
  height         : 6px;
  margin         : 0;
  padding        : 0;
  vertical-align : middle;
}

#badges .medal_title {
  display        : inline-block;
  padding-left   : 5px;
  position       : relative;
  vertical-align : middle;
}

#badges .badges_helper {
  display        : inline-block;
  height         : 100%;
  width          : 0px;
  vertical-align : middle;
}

/*---/ badges */

/*---/ WHITE BOX */

/* DARK GREY BOX */

ul.sub-pages-menu {
  padding : 0;
}

ul.sub-pages-menu ul {
  padding : 5px 0 0 1.2em;
}

ul.sub-pages-menu li {
  margin-bottom : 0.5em;
}

ul.sub-pages-menu a {
  color           : #362750;
  text-decoration : none;
}

ul.sub-pages-menu a:hover {
  color : #FFFFFF;
}

/*---/ DARK GREY BOX */
