
/* #Site Styles
================================================== */
	body {background:url(../images/cross_hatch_texture.png)}
	.header { }
	.logo {color:white;padding:6px 14px 0px 15px;width:180px;display:block;font-size:15px;letter-spacing:0.15em;text-transform:uppercase;text-align:center}
	.login {color:white;padding:10px 12px 0px 12px;font-size:15px;letter-spacing:0.15em;text-transform:uppercase;float:right}
	
	.navigation { }			
	.top-left {
		height:32px;
		float:left;
		margin:0px 0px 0px 16px;
		background:#EF00D3;
		overflow:hidden;
		}

	.top-right { 
		background:#000;
		float:right;
		margin:0px 7px 0px 0px;
		height:32px;
		background:#000000;
		}	
	.top-right.blue { 
		background:#21b4e2;
		height:auto;	
		width:209px	
		}
	
		
	.line-top {
		background:#EF00D3;
		height:32px;		
		
		}
	.line-bottom {
		background:#DDDDDD;
		height:32px;
		
	}
	.line-bottom2 {
		background:#cdcdcd;
		border-bottom:#cecece 1px solid;
		border-top:#cecece 1px solid;	
		height:32px;
	}
	
	.top-right.blue h6{ 
		color:white;
		font-size:15px;
		letter-spacing:0.15em;
		margin:3px 14px 0px 7px;
		height:19px; 
		font-weight:normal;
		text-align:right;
		}	
	.top-right.blue h6 a{ 
		font-weight:normal;
		padding:8px 19px 0px 10px;
		text-shadow:none;
		color:#000;font-size:15px;letter-spacing:0.15em;text-transform:uppercase;
		}
		ul.menu {

			float:left;
			margin:0px 0px 0px 0px;
		}
		ul.menu li{
			float:left;
			color:white;
			font-size:15px;
			letter-spacing:0.15em;
			text-transform:uppercase;
		}
		ul.menu li a{
			color:white;
			text-decoration:none;
			padding:8px 14px 7px 13px;
			line-height:33px;
		}

		ul.menu li a.add {background:#ccc;color:#555;margin:0px}
		ul.menu li a:hover.add {color:white;background:#000;}
		ul.menu li a.issues, ul.menu li a.following  {background:#F7314A;color:white;}
		ul.menu li a:hover.issues, ul.menu li a:hover.following  {background:#434bf0;color:white;}

		ul.menu li a.analysis {	background:#D81A29;color:white;}
		ul.menu li a:hover.analysis {	background:#434bf0;color:white;}



		ul.menu li a:hover{
			background:#434bf0;
		}	

		#dialog_link {padding: 7px 10px 0px 10px;text-decoration: none;position: relative;background:none;border:0px;width:189px;text-align:right;color:white;}

		.dialog {width:39%}
		
		

/* #Icons
================================================== */
	
	.icon {
		height:34px;
	  	filter:alpha(opacity=50);
	  	opacity:0.5;
		display:block;
	}
	.icon2 {
		height:48px;
	  	filter:alpha(opacity=50);
	  	opacity:0.5;
		display:block;
	}
	.icon:hover, .icon2:hover {
	  	filter:alpha(opacity=100);
	  	opacity:1;
	}
	.icon.circle {background:url(../images/icons/circle2.png) 0px 4px no-repeat;float:left;margin:-5px 0px -5px 0px;padding:7px 0px 10px 31px;filter:alpha(opacity=95);opacity:0.97;color:#00b78a}
	.icon.flag {background:url(../images/icons/59-flag.png) center right no-repeat;float:right;padding:7px 28px 0px 0px;}
	.icon.stats {background:url(../images/icons/122-stats.png) top right no-repeat;float:right;padding:1px 18px 0px 20px;margin:-5px -5px 0px 0px;filter:alpha(opacity=90);opacity:0.9}
	.icon.profile {background:url(../images/icons/123-id-card.png) top right no-repeat;float:right;padding:1px 18px 0px 20px;margin:-3px -5px 0px 0px;filter:alpha(opacity=90);opacity:0.9}
	.icon.profile-i {background:url(../images/icons/123-id-card-i.png) top right no-repeat;float:right;padding:1px 18px 0px 20px;margin:-3px -5px 0px 0px;filter:alpha(opacity=90);opacity:0.9}

	.icon.share	 {padding:6px 28px 0px 0px;line-height:1.1em;width:20px}
		
	.icon2.bullhorn {background:url(../images/icons/124-bullhorn@2x.png) 0px 5px no-repeat;float:left;padding:0px 33px 0px 20px;filter:alpha(opacity=95);opacity:0.97;}
	.icon2.download {background:url(../images/icons/57-download@2x.png) top right no-repeat;float:left;padding:5px 60px 0px 10px;margin:0px 0px 0px 0px;}
	
	.icon.text, .icon.text a {text-transform:uppercase;letter-spacing:1px;font-size:11px;text-decoration:none}
	.text-bold, .icon.text-bold a {text-transform:uppercase;letter-spacing:1px;font-size:11px;text-decoration:none;font-weight:bold;color:#111;letter-spacing:1px;margin:0px 10px 0px 0px;}
	.icon2.text, .icon2.text a {text-shadow: 0 1px #fff;text-transform:uppercase;letter-spacing:1px;font-size:31px;text-decoration:none;font-weight:bold;text-align:left;line-height:1em}


	#footer {
		background:#444 url(../images/footer-shadow2.png) top repeat-x;
		padding:0px 0px 10px 0px;
	}
	

/* #Page Styles
================================================== */

	.white-box {
		background:#fff;
		border-width:1px;
		border-style:solid;
		border-color:#fff #cfcfcf #aaa #e2e2e2;
		margin:31px 0px 0px 10px;
		padding:25px;
	}
	.grey-box {
		background:url(../images/white_50.png);
		border-width:1px;
		border-style:solid;
		border-color:#d2d2d2 #e5e5e5 #e5e5e5 #ddd;
		margin:30px 0px 20px 10px;
		padding:22px 22px 10px 22px;
		border-radius: 3px;
	}
	
	.grey-box.search {
		padding:12px 22px 12px 22px;
		margin:30px 0px 10px 10px;	

	}
	.black-box {
		background:#3c3c3c;
		margin:30px 0px 16px 10px;
		padding:22px 22px 6px 20px;
		border-radius: 3px;
	}
	
	a {
		font-weight:normal;
	   	color:#4086CC;
     	text-decoration:none;
	}
	.circle-box {
		background:url(../images/circle_bg.png) 0px -210px no-repeat;
		margin:50px 0px 10px 0px;
		display:block;
		width:300px;
		height:300px;
	}
	.see-banner, .vote-banner, .share-banner {
		text-align:center;
		font-family: 'DINBoldRegular';
		text-transform:uppercase;
		font-size:40px;
		padding:140px 0px 0px 10px;
	}
	
	.banner-text {
		font-size:26px;
		float:left;
		color:#333;
		text-shadow: 0 1px #fff;
		text-align:center;
		padding:6px 0px 0px 0px;
		line-height:1em;
	}
	
	.dark-grey-box {
		background:url(../images/cross_hatch_texture_dark.png);
		border-width:1px;
		border-style:solid;
		border-color:#9f9f9f #afafaf #aaa #acacac;
		margin:10px 3px 30px 12px;
		padding:26px 22px 18px 22px;
		border-radius: 3px;
	}
	
		.thirty-top {margin-top:30px}
	
	ul.tags, ul.badges {
		margin:-5px 0px 0px 0px;
	}
	.tags-on {
		text-shadow: 0 1px #fff;
		color:#666;
		letter-spacing:1px;
		font-size:12px;
		text-transform:uppercase;
		padding:0px 0px 10px 0px;
	}
	
	ul.tags li, ul.badges li {
		padding:1px 7px 2px 7px;
		font-size:12px;
		margin:3px 6px 3px 0px;
		letter-spacing:1px;
		background:#e4e4e4;
		border-radius: 3px;
		text-shadow: 0 1px #fefefe;
		width:auto;float:left;
		border-width:1px;
		border-style:solid;
		color:#222;
		border-color:#dedede;
	}
	
	p.issue-meta {
		text-shadow: 0 1px #fff;
		color:#444;
		letter-spacing:1px;
		font-size:12px;
		line-height:1.3em;
		padding:0px 0px 0px 0px;
		clear:both;
		margin:-10px 0px 20px 0px;
	}
	 a.username, a.lang {
	   	font-weight:bold;
	   	color:#4086CC;
     	text-decoration:none;
	 }
	 a.username:hover, a.lang:hover {
	   color:#EF00D3;
	 }
	.results, label.profile, label.queue{ 
		color:#fefefe;
		text-shadow: 0 -1px #999;
		letter-spacing:1px;
		font-size:12px;
		width:140px;
		line-height:1em;
		text-transform:uppercase;
		padding:0px 0px 10px 0px;
		margin:-5px 0px 25px 0px;
	}
	label.queue{ 
		color:#999;
		text-shadow: 0 1px #fff;
		width:auto;
		margin:-5px 0px -15px 0px;
		
	}
	
	label.profile-dark{ 
		color:#999;
		text-shadow: 0 -1px #000;
		letter-spacing:1px;
		font-size:15px;
		line-height:1em;
		text-transform:uppercase;
		padding:0px 0px 10px 0px;
		margin:-2px 0px 25px 0px;
	}
	
	p.profile-links { 
		color:#999;
		text-shadow: 0 -1px #000;
		letter-spacing:1px;
		font-size:15px;
		line-height:1em;
		text-transform:uppercase;
		padding:0px 0px 10px 0px;
		margin:-20px 0px 25px 0px;
	}
	p.profile-links a{ 
		color:#ccc;
		line-height:1em;
	}
	p.profile-links a:hover{ 
		color:#fff;
	}
	
	
	label.following, label.badges{ 
		color:#fefefe;
		text-shadow: 0 -1px #999;
		letter-spacing:1px;
		font-size:12px;
		text-transform:uppercase;
		padding:0px 0px 5px 0px;
		margin:0px 0px 0px 0px;
	}
	
	hr.short { margin:15px 0px 8px 0px;border-bottom:1px solid #f9f9f9;}
	hr.short-2 { margin:0px 0px 10px 0px;border-bottom:1px solid #f9f9f9;}
	.dark { margin:7px 0px 15px 0px;color:#111;border-top:1px dotted #888;}
	ul.vote {
		margin:-5px 0px 0px 0px;
	}
	
	.vote-on {
		text-shadow: 0 1px #fff;
		color:#666;
		letter-spacing:1px;
		font-size:11px;
		text-transform:uppercase;
		padding:0px 0px 10px 0px;
	}
	
	ul.vote li {
		padding:10px;
		margin:3px 0px 15px 0px;
		letter-spacing:1px;
		background:#f8f8f8;
		border-radius: 3px;
		text-shadow: 0 1px #fff;
		border-width:1px;
		border-style:solid;
		border-color:#e9e9e9;
	}
	
	span.answer {
	  font-size:1.1em;
	}
	span.privacy-answer {
	  font-size:0.7em;
		width:100%;
		line-height:1em;
		padding:0px 0px 0px 0px;
	}
	
	.wait {
	  	font-size:0.9em;
		font-style:italic;
		text-align:right;
		width:auto;
		color:#f46674;
		margin:8px 5px 0px 0px;
	
	}
	
	ul.vote li:hover {
		background:#FFFADC;
		border-width:1px;
		color:#000;
		border-style:solid;
		border-color:#ddd #e1e1e1 #eee #e1e1e1;
	}
	.button.vote, input.submit-issue, input.save {
		font-size:17px;text-transform:uppercase;letter-spacing:2px;
		background: #7abcff; /* Old browsers */
		background: -moz-linear-gradient(top, #7abcff 0%, #60abf8 44%, #4096ee 100%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#7abcff), color-stop(44%,#60abf8), color-stop(100%,#4096ee)); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(top, #7abcff 0%,#60abf8 44%,#4096ee 100%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(top, #7abcff 0%,#60abf8 44%,#4096ee 100%); /* Opera11.10+ */
		background: -ms-linear-gradient(top, #7abcff 0%,#60abf8 44%,#4096ee 100%); /* IE10+ */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7abcff', endColorstr='#4096ee',GradientType=0 ); /* IE6-9 */
		background: linear-gradient(top, #7abcff 0%,#60abf8 44%,#4096ee 100%); /* W3C */
		color:#F3FAFF;
	  padding: 6px 20px;
		text-shadow: 0 -1px #2F68A3;
		border: 1px solid #999;
	  border-top: 1px solid #999;
		margin:0px 2px 0px 0px;
	  border-left: 1px solid #999;
	}
	.button.vote:hover, input.submit-issue:hover, input.save:hover {
		background: #7abcff; /* Old browsers */
		background: -moz-linear-gradient(top, #7abcff 0%, #60abf8 44%, #4096ee 100%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#7abcff), color-stop(44%,#60abf8), color-stop(100%,#4096ee)); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(top, #7abcff 0%,#60abf8 44%,#4096ee 100%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(top, #7abcff 0%,#60abf8 44%,#4096ee 100%); /* Opera11.10+ */
		background: -ms-linear-gradient(top, #7abcff 0%,#60abf8 44%,#4096ee 100%); /* IE10+ */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7abcff', endColorstr='#4096ee',GradientType=0 ); /* IE6-9 */
		background: linear-gradient(top, #7abcff 0%,#60abf8 44%,#4096ee 100%); /* W3C */
		color:#fff;
		border: 1px solid #888;
		-moz-box-shadow: 0px 0px 4px #bbb;
		-webkit-box-shadow: 0px 0px 4px #bbb;
		box-shadow: 0px 0px 4px #bbb;
	}
	.button.vote:active, input.submit-issue:active, input.save:active {
		background: #4096ee; /* Old browsers */
		background: -moz-linear-gradient(top, #4096ee 0%, #60abf8 56%, #7abcff 100%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#4096ee), color-stop(56%,#60abf8), color-stop(100%,#7abcff)); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(top, #4096ee 0%,#60abf8 56%,#7abcff 100%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(top, #4096ee 0%,#60abf8 56%,#7abcff 100%); /* Opera11.10+ */
		background: -ms-linear-gradient(top, #4096ee 0%,#60abf8 56%,#7abcff 100%); /* IE10+ */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4096ee', endColorstr='#7abcff',GradientType=0 ); /* IE6-9 */
		background: linear-gradient(top, #4096ee 0%,#60abf8 56%,#7abcff 100%); /* W3C */
		color:#fff;
	}
	
	.update-issue, .delete-issue {float:right;margin:0px 0px 0px 20px}
	input.remove {float:right;margin:0px 0px 0px 20px;opacity:1.0}
	
	.stats {
		margin:-10px 0px 0px 0px;
	}
	.stat {
		color:#000;
		text-shadow:0px 1px #eee;
		font-size:30px;
	}
	.stat-title {
		color:#000;
		text-shadow:0px 1px #eee;
		font-size:22px;
	}
	
	ul.badges li {

		background:#e4e4e4;
		color:#222;
	}
	
/* #DEBATE
================================================== */	
	
.comments ul li p{
		
}	

.debate-options {
	float:left;
	text-transform:uppercase;
	font-size:12px;
	font-weight:bold;
	color:#999;
	padding:3px;
	margin:0px 10px 10px 3px;
}

.debate-options a{
	color:#666;
}	

.debate-options a:hover{
	color:#000;
}
	
.comments h6 {
	padding-left: 0px;
	margin:5px 0px 5px 0px;
	color:#000;
}	
.comments h6 a{
	color:#000;
}
p.comment-meta {
	text-shadow: 0 1px #fff;
	color:#777;
	letter-spacing:1px;
	font-size:11px;
	line-height:1.3em;
	padding:0px 0px 0px 0px;
	clear:both;
}
.comment-agree {
	text-shadow: 0 1px #fff;
	color:#777;
	letter-spacing:1px;
	font-size:11px;
	line-height:1.3em;
	padding:0px 0px 0px 0px;
	clear:both;
}
.comment-agree a.agree{
	color:green;
	cursor:pointer;
}
.comment-agree a.disagree{
	color:red;
	cursor:pointer;
}

.comments ul{
  margin:0px;
  padding:0px;
    font-size:1em;
}	
.comments ul li{
  padding:10px 0px 5px 0px;
  font-size:1em;
  margin:0px 0px 0px 0px; 
  border-width:1px;
	border-bottom:1px solid #aaa;
}	


.comments img{
  border-width:1px;
	border-style:solid;
	border-color:#aaa;
	background:#ddd;
	float:left;
	margin:4px 12px 5px 0px;
	width:60px;
	height:60px;
}	


.comments ul li:nth-child(even) { background: #fff; }

.comments ul li ul li{
  font-size:1em;
  padding:5px 0px 0px 20px;
  margin:10px 0px 0px 0px;
	border-bottom:1px solid #ddd;
	border-left:1px solid #ccc;
	background:none;
}
	
.top-arrow {
  width:23px;
  height:23px;
  display:block;
  float:right;
  margin:-18px 0px 0px 10px;
}	

.bottom-arrow {
  
}

/* #REFERENCES
================================================== */


/* #SEARCH
================================================== */

.search {margin:-10px 0px 0px 0px;padding:0px;}

.form-select{
	width:180px;
	float:left;
	margin:3px 5px;
}


p.search-by-category, p.find-by-location{
	text-shadow: 0 1px #fff;
	color:#444;
	letter-spacing:1px;
	font-size:12px;
	line-height:1.3em;
	padding:13px 0px 0px 20px;
	float:left;
}

h6.search-options-expand {
	margin:5px 0px 0px 0px;
}

.search .expanding ul{
	border-bottom:0px;
	margin:0px 0px 0px 0px;
}


.search input, input.upload {
  background:#fff;
	height:13px;
	line-height:15px;
	border-top:1px solid #bbb;
	border-left:1px solid #bbb;
	border-right:1px solid #ddd;     
	border-bottom:1px solid #ddd;     
	text-shadow: #eee 0px 1px;
  font-family: "HelveticaNeueLight", "HelveticaNeue-Light", "Helvetica Neue Light", "HelveticaNeue", "Helvetica Neue", 'TeXGyreHerosRegular', "Helvetica", "Tahoma", "Geneva", "Arial", sans-serif;
  font-size:14px;
  letter-spacing:0.04em;
	margin:0px 10px 5px 0px;
	padding:10px 10px 10px 1px;
	-webkit-border-radius:  5px 5px;
	-moz-border-radius:  5px/5px; 
	border-radius: 5px;
	border-collapse: collapse;
	float:left;
}

input.upload {
  background:#fff;
	font-size:14px;
	width:90%;
  letter-spacing:0.04em;
	margin:0px 0px 10px -1px;
	padding:7px 10px 10px 10px;
	opacity:0.6;

}
input.upload:hover {
	opacity:1.0;
}

.search input:focus {
  background:#fff;
	border-top:1px solid #666;
	border-left:1px solid #666;
	border-right:1px solid #999;     
	border-bottom:1px solid #999;
}

input.search-button {
	width:auto;
	float:left;
	height:35px;
	color:#222;
  padding: 6px 10px;
	text-shadow: 0 1px #efefef;
	border: 1px solid #888;
  border-top: 1px solid #aaa;
	margin:0px 0px 0px 0px;
  border-left: 1px solid #aaa;
	background: #eee; /* Old browsers */
	background: -moz-linear-gradient(top, rgba(255,255,255,.2) 0%, rgba(0,0,0,.2) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,.2)), color-stop(100%,rgba(0,0,0,.2))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(255,255,255,.2) 0%,rgba(0,0,0,.2) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(255,255,255,.2) 0%,rgba(0,0,0,.2) 100%); /* Opera11.10+ */
	background: -ms-linear-gradient(top, rgba(255,255,255,.2) 0%,rgba(0,0,0,.2) 100%); /* IE10+ */
	background: linear-gradient(top, rgba(255,255,255,.2) 0%,rgba(0,0,0,.2) 100%); /* W3C */
}

.sort-by {
	margin:15px 0px -10px 15px;
	color:#666;
}
	
.sort-by.queued {
	margin:15px 0px -10px 15px;
	color:#ccc;
}
.sort-by a{
	font-weight:bold;
	color:#444;
	text-shadow: 0 1px #fff;
	font-size:1em;
	padding:0px 3px 0px 3px;
}

.sort-by.queued a{
	color:#555;
	text-shadow: 0 1px #fff;
	font-size:0.8em;
	padding:0px 3px 0px 3px;
}

.sort-by a:hover{
	color:#4086CC;
}


.search label {
  font-size:11px;
  font-weight:normal;
  letter-spacing:1px;
  padding:0px 0px 0px 5px;
}

input.form-text {
	width:520px;
	padding:11px 20px 10px 0px;
}

.select-cat {
	float:left;
	width:199px;
	margin:5px 15px 10px 0px;
}

.select-cat.moderate-cat {
	width:179px;
	margin:5px 15px 10px 0px;
}


ul.queue {
	margin:-15px 0px 0px 0px;
}

ul.queue li{
	border-bottom:1px solid #ddd;
	padding:0px 0px 10px 0px;
	color:#333;
	text-shadow: #fff 0px 1px;
  
}
.search label.cat {
  padding:5px 0px 0px 5px;
}	

.search .options {
	float:left;
  margin:0px 0px 0px 0px;
}
/* #MAP
================================================== */
	
.map {
	width:100%;
	height:400px;
	background:url(../images/map.png) bottom right;
}
ul.map-stats {}
ul.map-stats li{
	float:right;
	padding:10px 0px 10px 0px;
	margin:0px 0px 0px 20px;		
	border-width:1px;
	border-style:solid;
	border-color:#fff #fff #e2e2e2 #fff;
}
.count {	
	font-size:20px;
	font-family: 'DINBoldRegular';
	font-weight: normal;
    font-style: normal;
}			
.count-title{
	font-size:20px;
	padding:0px 10px 0px 10px;
	font-family: 'DINLightRegular';
}					
		


/* #FORMS (NEW ISSUE, PROFILE EDIT, )
================================================== */


.new-issue{
  
}

.new-issue .number{
  width:30px;
  float:left;
  color:#999;
  font-size:30px;
  margin:10px 6px 70px 0px;
  text-shadow: #fff 0px 1px;
}

label.add-on, label.add-on-2 {
	float:left;
	margin:-2px 20px 20px 0px ;
	width:32%;
	line-height:1em;
}

label.add-on-2 {
	width:18%;
}


textarea#Question, input#Answer, input#info  {
  margin:0px 1% 30px 0px;
  padding:0px 0px 00px 0px;
  width:58%;
  float:right;
  padding:2% 1% 2% 1%;
  -webkit-border-radius:  5px 5px;
	-moz-border-radius:  5px/5px; 
	border-radius: 5px;
}

input#Answer {
   margin:0px 0px 20px 0px;
   padding:1% 1% 1% 1%;
}

input#info, textarea#info {
   margin:2px 0px 20px 0px;
   padding:1% 1% 1% 1%;
	 width:30%;
	float:left;
}


textarea#Answer {
  margin:0px 0px 0px 0px;
  padding:0px 0px 00px 0px;
  width:65%;
  -webkit-border-radius:  5px 5px;
	-moz-border-radius:  5px/5px; 
	border-radius: 5px;
}

label span.title, label span.title-2  {
	font-weight:normal;
	line-height:1.5em;
	font-size:18px;
	text-shadow: #fff 0px 1px;
}

label span.title-2  {
	line-height:2em;
	font-size:13px;
}



label span.guides {
	font-weight:normal;
	line-height:1em;
	text-shadow: #fff 0px 1px;
}

.add input {
	width:160px;
  background:#fff;
	height:13px;
	line-height:15px;
	border-top:1px solid #bbb;
	border-left:1px solid #bbb;
	border-right:1px solid #ddd;     
	border-bottom:1px solid #ddd;     
	text-shadow: #eee 0px 1px;
  font-family: "HelveticaNeueLight", "HelveticaNeue-Light", "Helvetica Neue Light", "HelveticaNeue", "Helvetica Neue", 'TeXGyreHerosRegular', "Helvetica", "Tahoma", "Geneva", "Arial", sans-serif;
  font-size:14px;
  letter-spacing:0.04em;
	margin:0px 10px 5px 0px;
	padding:10px 10px 10px 10px;
	-webkit-border-radius:  5px 5px;
	-moz-border-radius:  5px/5px; 
	border-radius: 5px;
	border-collapse: collapse;
	float:left;

}

.add input:focus {
  background:#fff;
	border-top:1px solid #666;
	border-left:1px solid #666;
	border-right:1px solid #999;     
	border-bottom:1px solid #999;
}

input.add-answer {
	opacity:0.8;
	float:right;
}
input.add-answer:hover {
	opacity:1.0;
}

label.before-submit {
	line-height:1em;
	font-weight:normal;
	text-align:left;
	color:#A3770F;
	margin:0px 2px 27px 0px;
	
}

hr.bottom {
	margin:20px 0px;
}
input.submit-issue {
	float:right;
	font-weight:normal;
	text-transform:uppercase;

}

a.dupes {margin:-15px 5px 10px 0px}

/* #USER PROFILE
================================================== */

ul.privacy, ul.subscription, ul.answer-value  {
	margin:-5px 0px 5px 0px;
	width:45%;
	float:right;
}

ul.subscription  {
	margin:-25px 0px 5px 0px;
	width:45%;
	float:right;
}

ul.answer-value  {
	width:50%;
	margin:-15px 0px 5px 0px;
	float:right;
}
ul.privacy li, ul.subscription li, ul.answer-value li{
	float:right;
	text-align:center;
	width:22%;
	margin:0px 0px 0px 1%;
}

ul.answer-value li{
	float:left;
	width:13%;
	margin:0px 0px 0px 1%;
}


span.left {float:left;padding:0px 0px 0px 0px}
.privacy-info {
	float:right;
	width:40%;
	color:#777;
	margin:-55px 0px 0px 0px;
}

.visible-to {
	font-size:10px;
	width:50px;
	margin:0px 0px -14px 0px;
	float:left;
	visibility:hidden;
}
.privacy-info p{
	font-size:12px;
	text-align:right;
	line-height:1.3em;
	text-shadow:0px 1px #fefefe;
	
}

.profile-meta {
	
}	

.profile-meta p{
	line-height:1em;
	font-size:13px;
	text-shadow:0px 1px #cecece;
}	
#footer .profile-meta {
	float:left;
	width:100%;
	margin-top:-10px;

}

#footer .profile-meta p{
	line-height:1em;
	font-size:13px;
	color:#999;
	text-shadow:0px -1px #111;

}
.profile-meta-2 p{
	line-height:1em;
	font-size:14px;
	text-shadow:0px 1px #fefefe;
}

.profile-meta img{
  border-width:1px;
	border-style:solid;
	border-color:#666 #999 #999 #888;
	background:#ddd;
	float:left;
	margin:-15px 12px 10px 0px;
	width:145px;
	height:145px;
}

img.user-profile-edit{
  border-width:1px;
	border-style:solid;
	border-color:#666 #999 #999 #888;
	background:#ddd;
	float:left;
	margin:-6px 12px 10px 0px;
	width:75px;
	height:75px;
}

#footer img.user-profile{
  border-width:1px;
	border-style:solid;
	border-color:#333 #444 #444 #333;
	background:#ddd;
	float:left;
	margin:-15px 12px 10px 1px;
	width:50px;
	height:50px;
}

.medals {float:left;margin:-15px 0px 0px 0px}
.medal {margin:0px 0px 10px 0px}
#footer .medal {margin:0px 10px 10px 0px;float:left}
.bronze, .silver, .gold {cursor:pointer;padding:2px 8px 2px 8px;border-radius: 10px;margin:0px 5px 10px 0px;border-width:1px;border-style:solid;border-color:#9a9a9a #9c9c9c #9e9e9e #9a9a9a;}
#footer .bronze, #footer .silver,  #footer .gold {cursor:pointer;padding:2px 8px 2px 8px;border-radius: 10px;margin:0px 5px 10px 0px;border-width:1px;border-style:solid;border-color:#444;}

.bronze {background:#D1A619;}
.silver {background:#ececec}	
.gold {background:#F7DB07}		
.medal {font-weight:bold;font-size:12px;text-shadow:0px 1px #cecece;}
#footer .medal {font-weight:bold;font-size:12px;text-shadow:0px -1px #000;color:#777;}
.profile-activity {
}

p.points {
	color:#999;
	font-size:12px;
	margin:0px 0px 0px 2px;
}

span.user-title, span.user-data {
	font-size:12px;
	color:#333;
	text-shadow:0px 1px #cecece;
	letter-spacing:0.1em;
	line-height:0.6em;
}

span.user-data {
	font-weight:bold;
}

span.user-info {
	color:#333;
	font-size:12px;
	letter-spacing:0.1em;
	line-height:0.1em;
}

.user-info {margin:0px 0px 10px 0px;}
span.URL {white-space:nowrap;}
span.light {color:#888}
span.lighter {color:#ccc;}

label.login {text-align:right;text-transform:none;color:#000;font-weight:normal;font-size:12px;margin:-10px 0px 10px 0px}	
span.sort {font-weight:normal;letter-spacing:0.1em;font-weight:bold;color:#666;text-shadow: 0 1px #fff;font-size:0.8em;margin:0px 3px 0px -15px;}

span.activity {font-weight:bold;letter-spacing:0.1em;font-weight:bold;color:#333;text-shadow: 0 1px #fff;font-size:1em;padding:0px 3px 0px 3px;}
.action span.date {color:#BA00A4;}
.action span.name {color:#BA00A4;font-weight:bold}
.action span.name a{font-weight:bold}

.action {border-bottom:1px solid #ddd;padding:15px 5px 20px 5px}
.action p.ref {margin:10px 0px 0px 20px;font-style:italic;font-size:90%;line-height:1.2em}

.more {float:right;font-weight:bold;margin:10px 0px 0px 0px}


.following {}
	
img.following-user {width:44px;height:44px;margin:10px 2px 0px 2px; border-width:1px;border-style:solid;border-color:#666 #999 #999 #888;background:#ddd;}
img.following-user.listed {width:44px;height:44px;margin:5px 13px 0px 2px; border-width:1px;border-style:solid;border-color:#666 #999 #999 #888;background:#ddd;float:left}

.following a.more, .following a.find  {color:#222;font-size:12px;letter-spacing:0.1em}
a.more:hover, a.find:hover  {color:#000;font-size:12px;letter-spacing:0.1em}

.badge {cursor:pointer;padding:0px 5px 0px 5px;border-radius: 5px;margin:0px 5px 10px 0px;background:#98BF58;font-size:9px}
.badge.brown {background:#705D22;}
.badge.blue {background:#4766AD;}
.badge.yellow {background:#E8E661;}


.profile-complete {
	height:7px;
	width:98.5%;
	background:#A39D8C;
	opacity:0.9;
	margin:-5px 0px 15px 1px;

}

.profile-complete .progress{
	width:75%;
	height:7px;
	background:#99F279;
}

/* #Footer
================================================== */


.foot-link {
	text-align:left;
}
.foot-link a {
	color:#ccc;
	text-shadow: 0 -1px #111;		
	font-size:1.3em;
	letter-spacing:0.05em;	
}

.foot-link a:hover {
	color:#fff;
	text-shadow: 0 -1px #000;	
}

p.policy {
	margin:0px 6px 5px 15px;
	color:#888;
	text-align:right;
	font-size:10px;
	letter-spacing:0.2em;
	text-transform:uppercase;
	text-shadow: 0 -1px #111;	
}

p.policy a{
	padding:0px 5px 0px 5px;

	color:#888;

}

p.policy a:hover{
	color:#fff;

}

.footerfloat {
	width:33%;
}

/* #Media Queries
================================================== */
	
	/* iPad Portrait/Browser */
	@media only screen and (min-width: 768px) and (max-width: 991px) {
		input.form-text {
			width:378px;
		}

		.select-cat {
			float:left;
			width:150px;
		}
		.select-cat.moderate-cat {
			width:134px;
		}
		
		
	}
	
	/* Mobile/Browser */
	@media only screen and (max-width: 767px) {
		input.form-text {
			width:250px;
		}
	}
	
	/* Mobile Landscape/Browser */
	@media only screen and (min-width: 480px) and (max-width: 767px) {
		input.form-text {
			width:250px;
		}

		.select-cat {
			float:left;
			width:100%;
		}
		.select-cat.moderate-cat {
			width:100%;
		}
	}
	
	/* Anything smaller than standard 960 */
	@media only screen and (max-width: 967px) {
		.circle-box {
			background:url(../images/circle_bg.png) center -13px no-repeat;
			margin:50px 0px 10px 0px;
			width:100%;
			height:170px;
		}
		.see-banner, .vote-banner, .share-banner {
			font-size:20px;
			padding:75px 0px 0px 0px;
		}
		
    textarea#Question, input#Answer  {
      width:97%;
      float:none;
    }
    label.add-on, label.add-on-2 {
    	width:auto;
    }
    
    .new-issue .number{
      width:30px;
      float:none;
      color:#999;
      font-size:30px;
      margin:-10px 6px 10px 0px;
      text-shadow: #fff 0px 1px;
    }
		
		.profile-meta img{
			width:105px;
			height:105px;
		}
		
		
		
		
		
	}
	
	/* iPad Portrait Only */
	@media only screen and (min-width: 768px) and (max-width: 991px) and (max-device-width: 1000px) {}
	
	/* Mobile Only */
	@media only screen and (max-width: 767px)  {
		
		.top-left {
			float:right;
			margin:0px 0px 0px 7px;
			}
		ul.menu {

			float:right;
			margin:0px 0px 0px 0px;
		}
		ul.menu li{
			float:left;
			color:white;
			text-transform:uppercase
		}
		ul.menu li a{
			color:white;
			text-decoration:none;

			line-height:33px;
		}	
		ul.menu li a:hover{

		}	
		
		.top-right { 
			background:#000;
			float:right;
			margin:0px 0px 0px 0px;
			}	
		.line-top {

			
			background:#EF00D3;
			background: #ef00d3; /* Old browsers */
			background: -moz-linear-gradient(top, #ef00d3 0%, #ef00d3 50%, #21b4e2 50%, #21b4e2 100%); /* FF3.6+ */
			background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ef00d3), color-stop(50%,#ef00d3), color-stop(50%,#21b4e2), color-stop(100%,#21b4e2)); /* Chrome,Safari4+ */
			background: -webkit-linear-gradient(top, #ef00d3 0%,#ef00d3 50%,#21b4e2 50%,#21b4e2 100%); /* Chrome10+,Safari5.1+ */
			background: -o-linear-gradient(top, #ef00d3 0%,#ef00d3 50%,#21b4e2 50%,#21b4e2 100%); /* Opera11.10+ */
			background: -ms-linear-gradient(top, #ef00d3 0%,#ef00d3 50%,#21b4e2 50%,#21b4e2 100%); /* IE10+ */
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ef00d3', endColorstr='#21b4e2',GradientType=0 ); /* IE6-9 */
			background: linear-gradient(top, #ef00d3 0%,#ef00d3 50%,#21b4e2 50%,#21b4e2 100%); /* W3C */		
			}
		.line-bottom {
			background:#DDDDDD;
			height:auto;
		}
		.circle-box {
			background:url(../images/circle_bg.png) 0px -210px no-repeat;
			margin:20px auto;
			display:block;
			width:300px;
			height:300px;
		}
		.see-banner, .vote-banner, .share-banner {
			font-size:40px;
			padding:145px 0px 0px 0px;
		}
		ul.menu li a.add {background:#ccc;color:#444;margin:0px;position:relative;display:block;padding:0px 12px 0px 12px;margin:0px 0px 0px 0px}
		
		input.form-text {
			width:120px;
		}

		.select-cat {
			float:left;
			width:100%;
		}
		
		ul.privacy,	ul.subscription {
			width:100%;
			margin:5px;
		}
		ul.subscription, ul.subscription li {
			float:left;
			margin:10px;
		}
		ul.privacy li, ul.subscription li{
			width:20%;
			margin:-10px 0px 0px 0px;
		}
		input#info, textarea#info {
		   margin:2px 0px 20px 0px;
		   padding:1% 1% 1% 1%;
			 width:98%;
			float:left;
		}
		
		.privacy-info {
			float:left;
			width:auto;
			margin:0px 0px 0px 0px;
		}
		.privacy-info p{
			text-align:left;
		}
		
		.visible-to {
			visibility:visible;
		}
		
		h2 {font-size:1.8em}
	}
	
	/* Mobile Landscape Only */
	@media only screen and (min-width: 480px) and (max-width: 767px) and (max-device-width: 1000px) {
		
	}
	

/* #Font-Face
================================================== */

	@font-face {
	    font-family: 'DINLightRegular';
	    src: url('../fonts/dinl____-webfont.eot');
	    src: url('../fonts/dinl____-webfont.eot?iefix') format('eot'),
	         url('../fonts/dinl____-webfont.woff') format('woff'),
	         url('../fonts/dinl____-webfont.ttf') format('truetype'),
	         url('../fonts/dinl____-webfont.svg#webfontZam02nTh') format('svg');
	    font-weight: normal;
	    font-style: normal; }

	.din {
		font-family: 'DINLightRegular';
		font-weight: normal;
	    font-style: normal;
	}	
	.half {
		font-size:28px;line-height:1em;
	}
	.half2 {
		font-size:18px;line-height:1em;
	}
	@font-face {
	    font-family: 'StRydeRegular';
	    src: url('../fonts/stryde-regular-webfont.eot');
	    src: url('../fonts/stryde-regular-webfont.eot?#iefix') format('embedded-opentype'),
	         url('../fonts/stryde-regular-webfont.woff') format('woff'),
	         url('../fonts/stryde-regular-webfont.ttf') format('truetype'),
	         url('../fonts/stryde-regular-webfont.svg#StRydeRegular') format('svg');
	    font-weight: normal;
	    font-style: normal;
	}

	.ryde {
		font-family: 'StRydeRegular';
		font-weight: normal;
	    font-style: normal;
	}
	
	@font-face {
	    font-family: 'DINBoldRegular';
	    src: url('../fonts/dinb____-webfont.eot');
	    src: url('../fonts/dinb____-webfont.eot?#iefix') format('embedded-opentype'),
	         url('../fonts/dinb____-webfont.woff') format('woff'),
	         url('../fonts/dinb____-webfont.ttf') format('truetype'),
	         url('../fonts/dinb____-webfont.svg#DINBoldRegular') format('svg');
	    font-weight: normal;
	    font-style: normal;

	}
	.dinbold {
		font-family: 'DINBoldRegular';
		font-weight: normal;
	    font-style: normal;
	}
	


	