/*
	ScrollBar Styles
*/

.jScrollPaneContainer {
	position: relative;
	overflow: hidden;
	height: auto;
	z-index: 1;
	border: 0 none;
}

.jScrollPaneTrack {
	position: absolute;
	cursor: pointer;
	right: 0;
	top: 0;
	height: 100%;
	width: 14px !important;
	height: auto;
	border: 0 none;
}

.jScrollPaneDrag {
	position: absolute;
	background: none transparent;
	cursor: default;
	overflow: hidden;
	right: 0;
	height: auto;
	width: 10px !important;
}

.jScrollPaneDragTop {
	position: absolute;
	top: -6px;
	left: 1px;
	overflow: hidden;
	background: none transparent;
	height: 0px !important;
	width: auto;
	display: none;
}

.jScrollPaneDragBottom {
	position: absolute;
	bottom: -6px;
	left: 1px;
	overflow: hidden;
	background: none transparent;
	height: 0px !important;
	width: auto;
	display: none;
}

a.jScrollArrowUp {
	display: block;
	position: absolute;
	z-index: 1;
	top: 0;
	right: 0;
	text-indent: -2000px;
	overflow: hidden;
	height: 9px !important;
	width: 12px !important;
	border: 0 none;
	background: url(../../images/state.gif) no-repeat scroll -15px -6px transparent;
}

a.jScrollArrowDown {
	display: block;
	position: absolute;
	z-index: 1;
	bottom: 0;
	right: 0;
	text-indent: -2000px;
	overflow: hidden;
	height: 9px !important;
	width: 12px !important;
	border: 0 none;
	background-color: #656565;
	background: url(../../images/state.gif) no-repeat scroll -15px -31px transparent;
}