/* General Classes */

body, html{ margin:0px; background-color:#ffffff; font:normal 12px Arial, Helvetica, sans-serif; color:#333333; height:100%; padding:0px;}
a, .header img{ outline:0px; border:0px;}
.wrapper{ font:normal 12px Arial, Helvetica, sans-serif; color:#333333; height:60%; }
input{ border:1px solid #a4a4a4; background-image:url(../images/txtBoxBg.jpg); background-repeat:repeat-x; font:normal 12px Arial, Helvetica, sans-serif; color:#333333; padding:2px; }
input.search{ width:260px;}
input.btnOne{ background-color:#a9d3e3; background-image:url(../images/bgBtn.jpg); background-repeat:repeat-x; padding:2px 5px 1px 5px; font:bold 11px Arial, Helvetica, sans-serif; color:#ffffff; border:1px solid #247695; border-left:2px solid #a9d3e3; border-top:2px solid #a9d3e3; cursor:pointer;}
input.chkBox{ border:1px solid #a4a4a4; padding:0px; }
input.radBut{ border:0px; background:transparent; padding:0px; }

label{ padding-right:3px; padding-left:3px; cursor:pointer;}
.spacer{ border-bottom:1px dotted #999999; margin-top:5px; margin-bottom:5px;}


/* Header Classes */
.header{ font:normal 12px Arial, Helvetica, sans-serif; color:#333333;  padding:10px; padding-top:0px; }
.headerRow1{ width:100%; height:73px; }
.logoHolder{ width:20%; float:left; clear:right; margin-right:0px; margin-left:0px;  }
.naviHolder{ width:60%; float:left; clear:right;  margin-right:0px; margin-left:0px; }
.naviBg{ background-image:url(../images/bgNavigation.jpg); background-repeat:repeat-x; margin-right:15%; margin-left:15%; height:20px; padding-top:35px; padding-bottom:8px; text-align:center;}
.naviBg ul{ list-style-type:none; margin:0px; padding:0px; }
.naviBg ul li{ display:inline; margin:0px; padding:5px 8px 5px 8px; background-image:url(../images/dividerNavi.jpg); background-repeat:no-repeat; background-position:right;}
.naviBg ul li.current{ display:inline; margin:0px; background-color:#247695; background-image:url(../images/dividerNavi.jpg); background-repeat:no-repeat; background-position:right; }

.communityHolder{ width:20%; float:left; clear:right; margin-right:0px; margin-left:0px; text-align:center; }
.communityHolder ul{ list-style-type:none; margin:0px; padding:0px; padding-top:20px; }
.communityHolder ul li{  display:inline; margin:0px; }

.headerRow2{ width:100%;}
.searchBg{ border:2px solid #7eb4c4; margin:auto; width:40%; padding:8px 10px 8px 10px;  }



/* Body Classes */
.bodyHolder{ font:normal 12px Arial, Helvetica, sans-serif; color:#333333; padding:10px; padding-top:10px; overflow:hidden; height:100%; margin-bottom:0px; }
.leftPanel{ width:20%; float:left; clear:right; margin-right:0px; margin-left:0px; padding:0px; height:100%; }
.lPanel1{  border:1px solid #8ab9c9; width:95%; min-height:60%;}
.head1{ background-image:url(../images/bgHead.jpg); background-repeat:repeat-x; padding:7px 15px 7px 15px;  font: bold 12px Verdana, Arial; color: #123643;}
.base1{ background-color:#ffffff; padding:8px; }
.base1 ul{ list-style-type:none; margin:0px; padding:0px;}
.base1 ul li{  margin:0px; padding:5px 8px 5px 15px; background-image:url(../images/bulletOne.jpg); background-repeat:no-repeat; background-position:left;}
.base1 ul li.divider1{ background-image:url(../images/dividerMenu.jpg); background-repeat:no-repeat; background-position:bottom left; margin:0px; padding:0px; height:4px;}

.centerPanel{  width:60%; float:left; clear:right;  margin-right:0px; margin-left:0px; padding:0px; display:table-cell; height:100%; }
.cpanel1{ border:1px solid #8ab9c9; width:100%; margin:0px; height:60%;}
.questions{ padding-left:20px; background-image:url(../images/iconQuest.png); background-repeat:no-repeat; background-position:left top; margin-bottom:10px; margin-top:10px;}
.answers{ background-color:#e9eaea; font:normal 12px Arial, Helvetica, sans-serif; color:#333333; padding:10px; }
.answers ul li{background:none;}

.rightPanel{ width:20%; float:left; margin-right:0px; margin-left:0px; padding:0px; height:100%;}
.rPanel1{ border:1px solid #8ab9c9; width:95%; min-height:100%; }
.newsHead{  font:bold 12px Arial, Helvetica, sans-serif; color:#247695; margin-bottom:5px;}
.newsText{  font:normal 12px Arial, Helvetica, sans-serif; color:#333333; margin-bottom:8px; border-bottom:1px dotted #333333; padding-bottom:8px;}

/* Links Classes */
a.linkOne{ font:bold 12px Arial, Helvetica, sans-serif; color:#ffffff; text-decoration:none;}
a.linkOne:hover{ font:bold 12px Arial, Helvetica, sans-serif; color:#ffffff; text-decoration:underline;}

a.linkTwo{ font:normal 12px Verdana, Arial, Helvetica, sans-serif; color:#247695; text-decoration:none;}
a.linkTwo:hover{ font:normal 12px Verdana, Arial, Helvetica, sans-serif; color:#247695; text-decoration:underline;}

a.linkThree{ font:bold 12px Verdana, Arial, Helvetica, sans-serif; color:#247695; text-decoration:underline;}
a.linkThree:hover{ font:bold 12px Verdana, Arial, Helvetica, sans-serif; color:#247695; text-decoration:none;}

a.linkFour{ font:normal 11px Arial, Helvetica, sans-serif; color:#ffffff; text-decoration:none;}
a.linkFour:hover{ font:normal 11px Arial, Helvetica, sans-serif; color:#ffffff; text-decoration:underline;}


/* FOOTER Classes */
.footer{ font:normal 11px Arial, Helvetica, sans-serif; color:#ffffff;  padding:20px; background-image:url(../images/bgNavigation.jpg); background-repeat:repeat-x; overflow:hidden;}
.footLeft{ width:50%; float:left; clear:right;}
.footRight{ width:50%; float:left; clear:right; text-align:right;}
