/**
 * Most Popular base styles.
 * 
 * This provides a really base styles for the Most Popular block (and page if Javascript is disabled).
*/

/**
 * Make the filter options display next to each other as tabs do.
*/
.mostpopular .mostpopular--services li,
.mostpopular .mostpopular--intervals li,
.mostpopular .mostpopular--label {
    /* The next bit is a hack to make display: inline-block work in all browsers */
    display:-moz-inline-stack;
    display:inline-block;
    zoom:1;
    *display:inline;

    list-style-type: none;
    margin: 0;
    padding: 0;
}

.mostpopular .mostpopular--services,
.mostpopular .mostpopular--intervals {
    padding: 0;
    margin: 0;
}
#mostpop{width:auto;}
#mostpop .mostpopular{border:0 none;}
#mostpop .mostpopular--services{background:none;padding:0 5px;border-bottom:0 none;}
#mostpop .mostpopular--label{font-size:11px;font-weight:normal;}
#mostpop .mostpopular--intervals{padding:5px 5px 0;background-color:#bbb;border-style:solid;border-width:1px 1px 0;border-color:#AAA;-moz-border-radius-topleft:5px;-moz-border-radius-topright:5px;-webkit-border-top-left-radius:5px;-webkit-border-top-right-radius:5px;border-top-left-radius:5px;border-top-right-radius:5px;background-image:-moz-linear-gradient(90deg,rgba(255,255,255,0.05),rgba(255,255,255,0) );}
#mostpop .mostpopular--services a{background-color:#999;-moz-border-radius-topleft:5px;-moz-border-radius-topright:5px;-webkit-border-top-left-radius:5px;-webkit-border-top-right-radius:5px;border-top-left-radius:5px;border-top-right-radius:5px;color:#333;background-image:-moz-linear-gradient(90deg,rgba(0,0,0,0.2),rgba(0,0,0,0) );text-shadow:0 -1px 1px #888;}
#mostpop .mostpopular--services a:hover,#mostpop .mostpopular--intervals a:hover{color:#fff;text-shadow:0 0 2px #fff;}
#mostpop .mostpopular--services .selected a{background-color:#bbb;color:#444;text-shadow:0 1px 1px #888;background-image:-moz-linear-gradient(-90deg,rgba(255,255,255,0.5),rgba(255,255,255,0) );}
#mostpop .mostpopular--services a,#mostpop .mostpopular--intervals a{padding:4px 11px;color:white;}
#mostpop .mostpopular--services .selected a,#mostpop .mostpopular--intervals .selected a{padding-bottom:5px;margin-bottom:-1px;color:black;}
#mostpop .mostpopular--intervals a,#mostpop .mostpopular--intervals .selected a{background:none;-moz-border-radius-topleft:5px;-moz-border-radius-topright:5px;-webkit-border-top-left-radius:5px;-webkit-border-top-right-radius:5px;border-top-left-radius:5px;border-top-right-radius:5px;color:#333;text-shadow:0 -1px 1px #999;}
#mostpop .mostpopular--intervals .selected a{background-color:#fff;text-shadow:0 1px 1px #888;}
#mostpop .mostpopular--content{padding:5px;border-style:solid;border-width:0 1px 1px;border-color:#aaa;background-color:#fff;-moz-border-radius-bottomleft:5px;-moz-border-radius-bottomright:5px;-webkit-border-bottom-left-radius:5px;-webkit-border-bottom-right-radius:5px;border-bottom-left-radius:5px;border-bottom-right-radius:5px;}
#mostpop .mostpopular--no-results{font-size:22px;text-align:center;color:#999;text-shadow:0 0 5px #ccc;}
#mostpop .mostpopular--items a{padding:10px 15px;border-radius:5px;-webkit-border-radius:5px;-o-border-radius:5px;-moz-border-radius:5px;background:none;}
#mostpop .mostpopular--items a:hover{color:#00559D;text-shadow:0 1px 1px #bbb;background-color:#f0f0f0;}
#mostpop .mostpopular--items{border:solid 1px #eee;-moz-border-radius:3px;}
#mostpop .mostpopular--items a img{float:left;border:solid 1px #eee;}
#mostpop .mostpopular--items a .title,#mostpop .mostpopular--items a .count{margin-left:90px;display:block;line-height:normal;}
#mostpop .mostpopular--items a .title{font-size:16px;padding-top:10px;}