ul{ list-style-type: none; }
#container{ width: 960px; margin: 0 auto; position: relative; }
#feature,
.feature { padding: 10px 20px 0 20px;}
#feature li a,
.feature li a { color: #F37321; text-decoration: none;}
.feature h4 {
font-style:italic;
overflow:hidden;
}
.feature p{
color:#464A3F;
font-size:11px;
margin:3px 0;
font-family:inherit;
font-size:100%;
font-style:inherit;
font-weight:inherit;
}