
.carousel-component { 
    width:160px;
	position:relative;
	overflow:hidden;   /* causes the clipping */
	display:none; /* component turns it on when first item is rendered */
    border:none 0px;
}
				
.carousel-component ul.carousel-list { 
	width:100000px;
	position:relative;


}

.carousel-component .carousel-list li { 
	float:left;
	list-style:none;
	overflow:hidden;
	
    
}
.carousel-component .carousel-list li a{ color:#FFFFFF; outline:none}


 
.carousel-component ul.carousel-vertical {
width:100px;
}

.carousel-component .carousel-clip-region { 
	overflow:hidden; /* Secret to the clipping */
	margin:0px auto;
	position:relative; 
}

