
/*About Us pop-up pages*/
.about-wrapper{ width:713px;  padding:18px; background:#fff;}
.ab-left-outer{ float: left; width:179px;}
.ab-leftpart{ float:left; width:172px; background:#f8f5ed; min-height:600px; height:auto !important; height:600px;}
.ab-rightpart{ float:right; width:536px; border-left:1px #8f8f8f solid; border-right:1px #8f8f8f solid;border-bottom:1px #8f8f8f solid; min-height:600px; height:auto !important; height:600px;}
.ab-rightpart h2{ font:normal 18px "Times New Roman", Times, serif; color:#fff; padding:7px 0px 7px 20px; background:#8f8f8f; text-transform:uppercase;}
.ab-rightpart .innn{ padding:20px; font:normal 12px Arial, Helvetica, sans-serif; color:#000; line-height:18px;}
.ab-rightpart .innn p{font:normal 12px Arial, Helvetica, sans-serif; color:#000;}
.ab-rightpart .innn ul li { font:normal 12px Arial, Helvetica, sans-serif; color:#4e7aa7; list-style:none; background:url(../images/bullet-blue.jpg) no-repeat 0px 6px; padding-left:10px;}

.ab-menu{ font: normal 12px "Times New Roman", Times, serif; color:#996600; text-transform:uppercase;}
.ab-menu ul{ margin:0px; padding:0px;}
.ab-menu li{ font: normal 12px "Times New Roman", Times, serif; color:#996600; text-transform:uppercase; list-style:none; text-decoration:none; line-height:30px;  border-bottom:1px #666666 solid; display:block;}
.ab-menu li a{ font: normal 12px "Times New Roman", Times, serif; color:#996600; text-transform:uppercase;  text-decoration:none; display:block; padding:7px;}
.ab-menu li a:hover{ background-color:#b28c3f; color:#fff; }
.ab-menu li .ab-select{background-color:#b28c3f; color:#fff; }

/* for table -december 14 */
.table-bor-form{ border:1px #666666 solid; min-height:170px; height:auto !important; height:170px; width:455px;}
.table-bor-form-item-1{ float:left; border-right:1px #666666 solid; width:151px; min-height:170px; height:auto !important; height:170px;}
.table-bor-form-item-1-title{ background:#8f8f8f; font:normal 14px "Times New Roman", Times, serif; color:#fff; text-transform:uppercase; height:40px; padding:5px 0px 0px 10px; margin-bottom:15px;}
.table-bor-form-item-1 ul{ margin:0; padding:0; padding-left:10px;}
.table-bor-form-item-1 ul li{ font:normal 12px Arial, Helvetica, sans-serif; color:#326897; text-decoration:none; list-style:none; padding-bottom:5px;}
.table-bor-form-item-1 ul li a{ font:normal 12px Arial, Helvetica, sans-serif; color:#326897; text-decoration:none; list-style:none;}
.table-bor-form-item-1 ul li a:hover{ font:normal 12px Arial, Helvetica, sans-serif; color:#9a6435; text-decoration:none; }
.border-none-last{ border-right:none;}

/* New Debate */
.new-debate-wrapper{ width:616px; margin:0 auto; font:normal 12px Arial, Helvetica, sans-serif; color:#404040; padding-top:10px; background:#fff;}
.new-debate-wrapper a{ color:#658db1; text-decoration:none;}
.new-debate-wrapper a:hover{ color:#658db1; text-decoration:underline;}
.new-debate-wrapper .form-outer-debate{ width:569px; margin:0 auto;}
.new-debate-wrapper .form-outer-debate .fm-1{ width:161px; float:left;}
.new-debate-wrapper .form-outer-debate .fm-2{ width:406px; float:left; padding-bottom:10px;}
.new-debate-wrapper .form-outer-debate .fm-2 .fm-2-left{ width:140px; float:left;}
.new-debate-wrapper .form-outer-debate .fm-2 .fm-2-right{ width:150px; float:left;}

.new-debate-wrapper .form-outer-debate .fm-2 .fm-2-right select{ width:145px;}
.new-debate-wrapper .form-outer-debate .fm-1 ul li{ font:normal 12px Arial, Helvetica, sans-serif; color:#666; text-decoration:none; list-style:none; padding-bottom:5px;  background:url(../images/bullet-blue.jpg) no-repeat 0px 6px; padding-left:10px;}
.new-debate-wrapper .form-outer-debate .fm-2 input,textarea{ width:280px; font:normal 12px Arial, Helvetica, sans-serif; color:#666;}
.submit-debate-btn{ background:url(../images/submit-debate-btn.jpg); width:65px !important; height:20px; border:none; cursor:pointer;}

/* Reply */
.reply-wrapper{ width:323px; margin:0 auto; background:#fff; padding:10px; font:normal 12px Arial, Helvetica, sans-serif; color:#404040;}
.reply-wrapper h2{ font: normal 17px "Times New Roman", Times, serif !important; color:#976502 !important; text-transform:uppercase; padding-bottom:10px;}
.reply-wrapper h2{ font: normal 17px "Times New Roman", Times, serif !important; color:#976502 !important;}
.reply-wrapper textarea{ width: 310px; overflow:scroll; overflow-x:hidden;}

.reply-wrapper .m-out{ width:315px; padding:10px 0px; }
.reply-wrapper .m-out .m1{ width:92px; float:left;}
.reply-wrapper .m-out .m2{ width:100px; float:left; }
.reply-wrapper .m-out .m3{ width:100px; float:right; }

/* HM Debate2- page */


.hm-debate2-wrapper{ width:853px; margin:0 auto; -moz-border-radius:10px #000 solid; border-radius:10px; 
  -moz-border-radius: 10px;
  border-radius:10px;
  border: 2px solid #ccc;
  padding: 10px;
}
.hm-debate2-wrapper .titlebg{ background-color:#8f8f8f; padding:5px 30px 10px 0px;}
.hm-debate2-wrapper .titlebg .backbtn{ background:url(../images/back-btn.png) ; width:93px; height:27px; float:left;}
.hm-debate2-wrapper .titlebg .backbtn a{ display:block; width:93px; height:27px;}
.hm-debate2-wrapper .titlebg h2{ font:normal 17px "Times New Roman", Times, serif; color:#fff; float:left; width:500px; text-align:center;}

.hm-debate2-wrapper .titlebg .menudebate{ background:url(../images/hmdebate-menu.jpg) no-repeat; width:212px; height:27px; float:right;}
.hm-debate2-wrapper .titlebg .menudebate ul{ margin:0; padding:0; font:normal 14px "Times New Roman", Times, serif; color:#fff; padding:3px 0px 0px 20px;}
.hm-debate2-wrapper .titlebg .menudebate ul li{ margin:0; padding:0; font:normal 14px "Times New Roman", Times, serif; color:#fff; list-style:none; float:left;}
.hm-debate2-wrapper .titlebg .menudebate ul li a{ margin:0; padding:0; font:normal 14px "Times New Roman", Times, serif; color:#fff; padding-right:15px; text-decoration:none;}
.hm-debate2-wrapper .titlebg .menudebate ul li a:hover{ color:#ceb688;}
.hm-debate-cont-outer{ width:94%; margin:0 auto; padding:20px 0px; -moz-border-radius:10px; border:2px #ccc solid; padding:5px; margin-top:10px;float:right;}
.backping{background:#fdfcfa; }
.backwhite{background:#ffffff; }
.backash{ background:#fafafa;}
/*.hm-debate-cont-outer .to{ background:url(../images/debate-cor-top.jpg) no-repeat; width:800px; height:12px;}
.hm-debate-cont-outer .ce{ background:url(../images/debate-cor-center.jpg) repeat-y; width:790px; min-height:400px; padding:5px;}
.hm-debate-cont-outer .bo{ background:url(../images/debate-cor-bott.jpg) no-repeat; width:800px; height:12px;}*/
.hr-silver{ width:90%; margin:0 auto; color:#ccc;}
.hr-silver-2{ width:90%; margin:0 auto; color:#ccc;}
.debate-inn-item{ width:700px; margin:0 auto;}
.itemto{ margin:0; padding:0; padding:3px; width:694px;}
.itemto .itemto-left{ background:url(../images/agree-disagree.jpg) no-repeat; width:10%; height:54px; float:left;font:normal 12px Arial, Helvetica, sans-serif; color:#333333; padding:3px 0px 0px 7px; line-height:23px; }
.itemto .itemto-right{  width:80%; float:right; font:normal 12px Arial, Helvetica, sans-serif; color:#333333;}
.itemto .itemto-right h5{ font: bold 12px Arial, Helvetica, sans-serif; color:#996600;}
.itembott{ margin:0; padding:0; padding:3px; width:100%;}
.itembott .itemfirst{ float:left; width:35%; padding-left:95px; padding-top:30px;}
.itembott .itemfirst ul{ float:left;}
.itembott .itemfirst ul li {float:left; list-style:none;}
.itembott .itemfirst ul li .agree{ background:url(../images/agree-menu1.jpg) no-repeat 0px 0px; width:85px; height:26px; float:left; list-style:none;}
.itembott .itemfirst ul li .dis-agree{ background:url(../images/agree-menu1.jpg) no-repeat -85px 0px; width:39px; height:26px; float:left; list-style:none;}
.itembott .itemfirst ul li a{ float:left; list-style:none; }

.itembott .itemsecond{ float:left; width:162px; padding-top:30px;}
.itembott .itemsecond ul{ float:left;}
.itembott .itemsecond ul li {float:left; list-style:none; padding-right:5px;}
.itembott .itemsecond ul li .reply-menu{ background:url(../images/reply-menu.jpg) no-repeat; width:75px; height:25px;}
.itembott .itemsecond ul li .flag-menu{ background:url(../images/flag-menu.jpg) no-repeat; width:75px; height:25px;}
.itembott .itemsecond ul li a{ float:left; list-style:none; }
.itembott .itemthird{ float:left; width:162px;}

/*Inner rounded corner */
.inner-round-cor{ width:727px; padding-top:20px; float:right; margin-right:5px;}
.inner-round-cor1{width:99%; padding-top:20px; float:right; margin-right:5px;}
.top-sid{ width:100%; float:right;}
.toprightsid{ background:url(../images/round-top-right.jpg) no-repeat 100% 0; padding-right:13px; height:13px;}
.topleftsid{ float:left; background:url(../images/round-top-left-m.jpg) no-repeat 0 0; width:2%; height:13px; clear:right;}
.topmidsid{ background:url(../images/round-top-m.jpg) 0 0; width:98%; float:left; height:13px;}

 .mid-sid{ width:710px; float:right; border-left:2px #a3a3a3 solid;  border-right:2px #a3a3a3 solid; background:#fdfcfa; padding-left:13px;}
 .mid-sid1{ width:684px; float:right; border-left:2px #a3a3a3 solid;  border-right:2px #a3a3a3 solid; background:#fdfcfa; padding-left:2%; }
 .bott-sid{ width:100%; float:right;}
 .bottrightsid{ background: url(../images/round-bott-right.jpg) no-repeat 100% 0; padding-right:13px; height:15px;}
 .bottleftsid{ float:left; background: url(../images/round-bott-left.jpg) no-repeat 0 0; width:2%; height:15px; clear:right;}
 .bottmidsid{ background: url(../images/round-bott-m.jpg) 0 0; width:98%; float:left; height:15px;}
/*
.top{ width:100%;}
.top-right{ background:url(../images/top-right.png) no-repeat 100% 0; height:5px; padding-right:10px;}
.top-left{ background:url(../images/top-left.png) no-repeat 0 0; width:1%; height:5px; float:left; clear:right;}
.top-center{ background:url(../images/top-cent.png) repeat 0 0; height:5px; float:left; width:99%;}
*/
/* Jan-3-2011*/
.form-outer-debate .fm-2 .leftfm{ width:120px; float:left; padding-right:10px;}
.form-outer-debate .fm-2 .leftfm img{ border:1px #BBB solid;}
.form-outer-debate .fm-2 .rightfm{ width:270px; float:left;}
.form-outer-debate .fm-2 a{ font:normal 11px Arial, Helvetica, sans-serif; color:#6C6C6C;}
.form-outer-debate .fm-2 a:hover{color:#000;}

.form-outer-debate .fm-4 .leftfm{ width:22%; float:left; padding-right:10px;}
.form-outer-debate .fm-4 .leftfm img{ border:1px #BBB solid;}
.form-outer-debate .fm-4 .rightfm{ width:70%; float:left;}
.form-outer-debate .fm-4 a{ font:normal 11px Arial, Helvetica, sans-serif; color:#6C6C6C;}
.form-outer-debate .fm-4 a:hover{color:#000;}
.left-right-outer{ width:50px; float:left;}
.left-right-text{ font:normal 11px Arial, Helvetica, sans-serif; color:#969696; float:left; padding-left:10px; padding-top:3px;}
.left-face{ width:25px; height:22px; float:left;}
.left-face a{ background:url(../images/left-right.png) 0px 0px; width:25px; height:22px; display:block;}
.left-face a:hover{ background:url(../images/left-right.png) 0px -22px; width:25px; height:22px; }

.right-face{ width:25px; height:22px; float:left;}
.right-face a{ background:url(../images/left-right.png) -25px 0px; width:25px; height:22px; display:block;}
.rightleft-face a:hover{ background:url(../images/left-right.png) -25px -22px; width:25px; height:22px; }
.listbox1{ width:250px;}
.hm-debate-cont-outer h3{ font:bold 17px Arial, Helvetica, sans-serif; color:#666; padding-left:40px;}

div.section {
    background-color: #FFFFFF;
    margin-bottom: 3px;
    padding-top:  28px ;
}




