		.main{
				width:100%;
				padding:5px;
				margin:2px;
				height:auto;
				
					line-height:25px;
				
			}
			
		.lft{
			
			float:left;
			width:68%;
			left:0;
			overflow:hidden;
		    min-height:100px;
			line-height:25px;
			
		}	
		.rht{
			
			
			float:right;
			width:30%;
			right:0;
			overflow:auto;
		min-height:100px;
		line-height:25px;
		}	
		
		.clear{
				
			width:100%;
			clear:both;
			height:auto; padding:5px;
		}
		
		.img{
			
			width:100px;
			height:100px;
			float:left;
			left:0px; padding:6px;
		 border-style:double;
		 border-color:green;
			
		}
		.info {
			min-height:114px;
			width:400px;
			float:left; top:0px;
			padding-left:17px;
			height:160px;
			
			
		}
